<template>
    <ColorForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ColorForm>
</template>

<script>
import ColorForm from './ColorForm'
import Color from './Color'

export default {
    name: 'ColorCreate',
    extends: Color,
    data () {
        return {
            model: {}
        }
    },
    components: { ColorForm },
    beforeMount: function () {
        this.handleCreate('color', this.url, {})

        this.getColor()
    }
}
</script>
