<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{$t('Color details')}}</h3>
        </div>    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <div class="row">
                    <div class="col-md-6" v-for="l in languages" v-bind:key="'lang'+l">
                            <FormInput v-model="model.name[l]"  :title="$t('Name')" :flag="l"></FormInput>
                    </div>
                     <div class="col-md-6">
                     <lable>{{$t('HEXA code')}}: </lable>
                           <vue2-color-picker v-model="model.hexa"></vue2-color-picker> {{model.hexa}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import Vue2ColorPicker from 'vue2-color-picker'
export default {
    name: 'ColorForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, Vue2ColorPicker },
    methods: {},
    created () {},
    mounted () {}
}
</script>
