<template>
    <ul class="navbar-nav" v-if="currencies ">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">  {{currencies[selectedCurrency]}} </a>
            <ul class="dropdown-menu dropdown-menu-right" style="max-width: 100px;">
                <li><a class="dropdown-item" href="#" v-for="(cur, index) in currencies" v-on:click="changeCurrency(index)" v-bind:key="'cur-'+index">{{cur}}</a></li>
            </ul>
        </li>
    </ul> <!-- list-inline //  -->
</template>

<script>
export default {
    name: 'Currencies',
    data () {
        return {
            currencies: null,
            selectedCurrency: 1
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    created () {
        if (localStorage.getItem('currency')) {
            this.selectedCurrency = localStorage.getItem('currency')
        }
        this.axios.get(this.url + '/get-currencies').then((response) => {
            this.currencies = response.data
        })
    },
    methods: {
        changeCurrency (val) {
            this.selectedCurrency = val
            this.$store.commit('defaultStore/setPageCurrency', this.selectedCurrency)
            localStorage.setItem('currency', this.selectedCurrency)
            this.$eventHub.$emit('changeCurrencyOrLanguage', this.selectedCurrency)
        }
    }
}
</script>
