<template>
    <div  class="product_rate" :style="'width:' + percent + '%;'"></div>
</template>

<script>
export default {
    name: 'Rating',
    props: ['rate'],
    computed: {
        percent: function () {
            return parseInt((parseFloat(this.rate.toString()) / 5) * 100, 0)
        }
    }
}
</script>

<style scoped>

</style>
