<template>
    <transition name="fade">
        <router-view :url="url"></router-view>
    </transition>
</template>

<script>

export default {
    name: 'App',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    created () {
        const self = this
        if ($cookies.get('token')) {
            this.axios.get(`${this.url}/user`).then((response) => {
                if (response.status === 401) {
                    $cookies.remove('token')
                }

                $cookies.set('userId', response.data.id, 60 * 60)
                self.$store.commit('defaultStore/setLoggedIn', true)
                self.$store.commit('defaultStore/setUser', response.data)
            }).catch((err) => {
                if (err.response && err.response.status === 401) {
                    $cookies.remove('token')
                }
            })
        }
    }
}
</script>
