<template>
  <!--  <nav class="navbar navbar-main navbar-expand-lg border-bottom">
        <div class="container" v-if="menu && menu.items && menu.items.length">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    <li class="nav-item"  v-bind:class="[(routePath === item.link)?'active':'',item.title.toLowerCase(),item.children.length?'dropdown':'']" v-for="(item, index) in menu.items" v-bind:key="'menu-'+index">
                        <router-link class="nav-link" v-if="!item.children.length &&  !item.link.startsWith('http')" :to="replaceLink(item.link)">{{item.title}}</router-link>
                        <a class="nav-link" v-if="!item.children.length &&  item.link.startsWith('http') " :href="item.link">{{item.title}}</a>
                        <a v-if="item.children.length" class="nav-link dropdown-toggle" data-toggle="dropdown"  href="#"> {{item.title}}</a>
                        <div class="dropdown-menu"  v-if=" item.children.length > 0">
                            <a class="dropdown-item" v-bind:class="{'active' : (routePath === subItem.link)}" v-for="(subItem, subIndex) in item.children" v-bind:key="'sub-menu-' + subIndex" :href="getLink(subItem)">{{subItem.title}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="bottom_header dark_skin main_menu_uppercase border-top border-bottom">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-3">
                    <div class="categories_wrap">
                        <button type="button" data-toggle="collapse"  data-target="#navCatContent" aria-expanded="false" class="categories_btn collapsed">
                            <i class="linearicons-menu"></i><span>{{$t('All Categories')}} </span>
                        </button>
                        <div id="navCatContent" class="nav_cat navbar collapse" v-bind:class="{'show': routePath === '/' || routePath === ''}">
                            <ul>
                                <li  v-for="cat in categories" v-bind:key="'categories-head'+cat.id" v-bind:class="{'dropdown dropdown-mega-menu':cat.children}">
                                <router-link v-if="!cat.children" class="dropdown-item nav-link nav_item" :to="'/shop/'+cat.slug+'?category_id='+cat.id"> <span>{{cat.name}}</span></router-link>
                                    <router-link v-if="cat.children" class="dropdown-item nav-link dropdown-toggler" :to="'/shop/'+cat.slug+'?category_id='+cat.id" data-toggle="dropdown">
                                         <span>{{cat.name}}</span></router-link>
                                    <div class="dropdown-menu" v-if="cat.children">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li v-for="child2 in cat.children" v-bind:key="'child2-'+cat.slug+'-'+child2.slug"><router-link class="dropdown-item nav-link nav_item" :to="'/shop/'+child2.slug+'?category_id='+child2.id">{{child2.name}}</router-link></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <router-link :to="'/shop/'+cat.slug+'?category_id='+cat.id">
                                                        <ImageLazy :image="cat.image" :alt="cat.name"></ImageLazy>
                                                    </router-link>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <!--<li class="dropdown dropdown-mega-menu">
                                    <a class="dropdown-item nav-link dropdown-toggler" href="https://bestwebcreator.com/shopwise/demo/index-5.html#" data-toggle="dropdown"><i class="flaticon-responsive"></i> <span>Mobile &amp; Tablet</span></a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li class="dropdown-header">Featured Item</li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Vestibulum sed</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec porttitor</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec vitae facilisis</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Curabitur tempus</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Vivamus in tortor</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec vitae ante ante</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Etiam ac rutrum</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li class="dropdown-header">Popular Item</li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Curabitur laoreet</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Vivamus in tortor</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec vitae facilisis</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Quisque condimentum</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Etiam ac rutrum</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec vitae ante ante</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/index-5.html#">Donec porttitor</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/menu_banner6.jpg" alt="menu_banner"></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>-->

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
                            <span class="ion-android-menu"></span>
                        </button>
                        <div class="pr_search_icon">
                            <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                        </div>
                        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
                            <ul class="navbar-nav">
                                <li class="dropdown" v-for="item in menu.items" v-bind:key="'menu-1-'+item.id">
                                    <router-link class="nav-link nav_item" v-if="!item.children.length" :to="item.link" >{{item.title}}</router-link>
                                    <router-link v-if="item.children.length" data-toggle="dropdown" class="nav-link dropdown-toggle"  :to="item.link" >{{item.title}}</router-link>
                                    <div class="dropdown-menu dropdown-reverse" v-if="item.children.length">
                                        <ul>
                                            <li v-for="(child) in item.children"   v-bind:key="'menu-1-sub+'+child.id">
                                                <router-link  @click="menuopen=false" class="dropdown-item nav-link nav_item" :to="child.link">{{child.title}}</router-link>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a class="nav-link nav_item" href="https://bestwebcreator.com/shopwise/demo/contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="contact_phone contact_support">
                            <i class="linearicons-phone-wave"></i>
                            <span>123-456-7689</span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../components/ImageLazy'
export default {
    name: 'BottomHeader',
    components: { ImageLazy },
    props: ['url'],
    data () {
        return {
            menu: {
                items: {}
            },
            submenu: {
                items: {}
            },
            categories: {

            },
            search: null,
            getFound: null,
            found: [],
            menuopen: false,
            selectedMenu: null,
            show: {}
        }
    },
    computed: {
        origin: function () {
            return document.location.origin
        },
        routePath: function () {
            console.log(this.$route.name)
            return this.$route.path
        },
        currentRouteName () {
            console.log(this.$route.name)
            return this.$route.name
        }
    },
    mounted () {
        this.getMenuCategory()
        this.getMenu()
    },
    watch: {
        '$route.params': {
            handler: function (val, oldVal) {
                console.log('change')
                window.$('ul.navigation > li').removeClass('active')
            }
        }
    },
    methods: {
        getMenu () {
            const self = this

            this.axios.get(`${process.env.MIX_APP_URL}/storage/menus/menu-${process.env.MIX_APP_ENV}-1.json`).then(response => {
                self.menu = response.data
            })
            this.axios.get(`${process.env.MIX_APP_URL}/storage/menus/menu-${process.env.MIX_APP_ENV}-2.json`).then(response => {
                self.submenu = response.data
            })
        },
        getMenuCategory () {
            return new Promise((resolve) => {
                this.axios.get(this.url + '/menu-category').then(response => {
                    this.categories = response.data.data
                    resolve(true)
                })
            })
        },
        toggleMenu (slug) {
            if (this.selectedMenu === slug && this.menuopen) {
                this.menuopen = false
            } else {
                this.menuopen = true
            }
            this.selectedMenu = slug
        },
        getClass (item) {
            return (item.show) ? 'show' : ''
        },
        replaceLink (_link) {
            return _link.replace(document.location.origin, '')
        },
        searchProduct () {
            const self = this
            clearTimeout(self.getFound)
            if (self.search.length === 0) {
                self.found = []
            }
            if (self.search.length > 0) {
                this.getFound = setTimeout(function () {
                    self.axios.get(self.url + '/product/list?search=' + self.search).then((resp) => {
                        self.found = resp.data.data
                    })
                }, 400)
            }
        },
        getImage (product) {
            const image = '/frontend/img/no-image.png'
            Object.keys(product.variations).forEach((variation) => {
                this.image = product.variations[variation].image
            })
            return image
        }
    }
}
</script>
