<template>
    <div>
        <div>
            <div class="breadcrumb_section bg_gray page-title-mini">
                <div class="container"><!-- STRART CONTAINER -->
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-title">
                                <h1>{{$t('Blog')}}</h1>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ol class="breadcrumb justify-content-md-end">
                                <li class="breadcrumb-item"><router-link :to="'/'">{{$t('Home')}}</router-link></li>
                                <li class="breadcrumb-item active">{{$t('Blog')}}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- END CONTAINER-->
            </div>
            <div class="main_content">
                <LoadingSvg v-if="!list"></LoadingSvg>
                <!-- START SECTION BLOG -->
                <div class="section">
                    <div class="custom-container" >
                        <div class="row" >
                            <div class="col-lg-9" id="blogList">
                                <div class="row">
                                <div class="col-md-6" v-for="(postD,key) in list" v-bind:key="'post-'+postD.id+'-'+key">

                                        <div class="blog_post blog_style2 box_shadow1">
                                            <div class="blog_img">
                                                <router-link :to="{name:'Post',params:{'slug':postD.slug}}">
                                                    <ImageLazy :image="postD.main_image" :alt="postD.title"></ImageLazy>
                                                </router-link>
                                            </div>
                                            <div class="blog_content bg-white">
                                                <div class="blog_text">
                                                    <h4 class="blog_title">
                                                        <router-link :to="{name:'Post',params:{'slug':postD.slug}}">{{postD.title}}</router-link></h4>
                                                    <ul class="list_none blog_meta">
                                                        <li><a href="#"><i class="ti-calendar"></i> {{postD.publication_date}}</a></li>
                                                    </ul>
                                                    <p> {{postD.lead}}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <InfinityScroll v-if="postData.meta && postData.meta.last_page > postData.meta.current_page" :infinityLoading="infinityLoading" :HTMLElement="'blogList'" v-on:loadMore="getData(currentPage++)"></InfinityScroll>
                             </div>
                            </div>
                            <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0 sticky_dark_skin">
                                <div class="sidebar">
                                    <div class="widget">
                                        <div class="search_form">
                                            <form>
                                                <input required="" v-model='search' class="form-control" :placeholder="$t('Search...')" v-on:keyup="searchPost()" type="search">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h5 class="widget_title">{{$t('Recent Posts')}}</h5>
                                        <ul class="widget_recent_post">
                                            <li v-for="(latest,ind) in postData.latest" v-bind:key="'latest-'+ind">
                                                <div class="post_footer">
                                                    <div class="post_img">
                                                        <router-link :to="{name:'Post',params:{'slug':latest.slug}}"> <ImageLazy :image="latest.main_image" :alt="latest.title"></ImageLazy></router-link>
                                                    </div>
                                                    <div class="post_content">
                                                        <h6><router-link :to="{name:'Post',params:{'slug':latest.slug}}">{{latest.title}}</router-link></h6>
                                                        <p class="small m-0">{{latest.publication_date}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget">
                                        <h5 class="widget_title">{{$t('Archive')}}</h5>
                                        <ul class="widget_archive">
                                            <li v-for="(archive,index) in postData.archives" v-bind:key="'archive-'+index">
                                                <a href="#" @click.prevent="setArchive(index)"><span class="archive_year">{{archive}}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget">
                                        <h5 class="widget_title" data-toggle="collapse" data-target="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseExample">{{$t('Categories')}}</h5>
                                        <ul class="widget_archive collapse in show" id="collapseCategory">
                                            <li v-for="(category,index) in postData.categories" v-bind:key="'category-'+index">
                                                <a href="#" @click.prevent="setCategory(category.slug)"><span class="archive_year">{{category.name}}</span></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../components/ImageLazy'
import InfinityScroll from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/InfinityScroll'
import LoadingSvg from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'
export default {
    props: ['url'],
    data () {
        return {
            postData: [],
            infinityLoading: false,
            currentPage: 1,
            category: null,
            search: null,
            searchTimeout: null,
            archive: null,
            list: []
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        }
    },
    watch: {
        '$route.query.page': function (val, oldVal) {
            this.getData()
        },
        '$route.query.category': function (val, oldVal) {
            this.setCategory(val)
        },
        '$route.query.archive': function (val, oldVal) {
            this.setArchive(val)
        }
    },
    components: {
        LoadingSvg,
        InfinityScroll,
        ImageLazy
    },
    methods: {
        updatePage (_data) {
            this.$router.push({ name: 'Category', query: { page: _data } })
        },
        setArchive (archive) {
            this.archive = archive
            this.list = []
            this.currentPage = 1
            this.getData()
        },
        setCategory (slug) {
            this.category = slug
            this.list = []
            this.currentPage = 1
            this.getData()
        },
        searchPost () {
            clearTimeout(this.searchTimeout)
            this.searchTimeout = null
            this.currentPage = 1
            const self = this
            this.searchTimeout = setTimeout(() => {
                this.list = []
                self.getData()
            }, 400)
        },
        getData (page = null) {
            this.infinityLoading = true
            const self = this
            let slug = `${this.url}/${this.postPrefix}/get-list`

            if (this.$route.query.page) {
                this.currentPage = this.$route.query.page
            }
            if (!page) {
                slug += `?page=${this.currentPage}`
            } else {
                slug += `?page=${page}`
            }
            if (self.search) {
                slug += '&search=' + self.search
            }
            if (self.category) {
                slug += '&category=' + self.category
            }
            if (self.archive) {
                slug += '&archive=' + self.archive
            }
            if (this.$route.params.slug) {
                slug += `&slug=${this.$route.params.slug}`
            }

            this.axios.get(`${slug}`).then(response => {
                self.infinityLoading = false
                self.postData = response.data
                self.postData.data.forEach(item => {
                    this.list.push(item)
                })
            }).catch((err) => {
                console.log(err)
                self.$router.push({ name: 'NotFound' })
            })
        }
    },
    beforeMount () {
        this.infinityLoading = true
        this.getData()
    }

}
</script>
