<template>
    <div>

    </div>
</template>

<script>
import Vue from 'vue'
import ContentTools from 'ContentTools'

Vue.use(ContentTools)

export default {
    name: 'Editable',
    props: {
        model: {
            type: Object,
            required: true
        },
        url: {
            type: String,
            required: true
        }
    },
    data () {
        return {
            editor: null
        }
    },
    computed: {
        isLoggedIn: function () {
            return this.$store.state.defaultStore.loggedIn && this.$store.state.defaultStore.user.roles.length > 0
        }
    },
    watch: {
        '$store.state.defaultStore.loggedIn': function (val) {
            if (val) {
                this.editor = ContentTools.EditorApp.get()
                this.editor.init('[data-editable], [data-fixture]', 'data-name')
                this.saveEditorData()
            } else {
                this.editor = null
            }
        }
    },
    mounted () {
        this.setPageData()
        if (this.isLoggedIn) {
            this.editor = ContentTools.EditorApp.get()
            this.editor.init('[data-editable], [data-fixture]', 'data-name')
            this.saveEditorData()
        }
    },
    methods: {
        setPageData () {
            for (const it in this.model.content) {
                $('*[data-name=' + it + ']').html(this.model.content[it])
            }
        },
        saveEditorData () {
            const self = this
            self.editor.addEventListener('saved', function (ev) {
                if (Object.keys(ev.detail().regions).length === 0) {
                    return
                }
                self.editor.busy(true)

                self.axios.put(`${self.url}/page/save-page-data/${self.model.id}`, ev.detail().regions).then((response) => {
                    self.editor.busy(false)
                    return new ContentTools.FlashUI('ok')
                }).catch(() => {
                    self.editor.busy(false)
                    return new ContentTools.FlashUI('no')
                })
            })
        }
    },
    destroyed () {
        this.editor = null
    }
}
</script>
