<template>
    <div>
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>{{$t('Subscribe Our Newsletter')}}</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" :placeholder="$t('Enter Email Address')">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">{{$t('Subscribe')}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg_gray">
        <div class="footer_top small_pt pb_20">
            <div class="custom-container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/logo_dark.png" alt="logo"></a>
                            </div>
                            <p class="mb-3">If you are going to use of Lorem Ipsum need to be sure there isn't anything hidden of text</p>
                            <ul class="contact_info">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>123 Street, Old Trafford, NewYork, USA</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="mailto:info@sitename.com">info@sitename.com</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+ 457 789 789 65</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6" v-for="fmenu in menu.items" v-bind:key="'footer-menu-'+fmenu.id">
                        <div class="widget">
                            <h6 class="widget_title">{{fmenu.title}}</h6>
                            <ul class="widget_links">
                                <li v-for="child in fmenu.children" v-bind:key="'footer-menu-children-'+child.id">
                                    <router-link :to="child.link" >{{child.title}}</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <h6 class="widget_title">Instagram</h6>
                            <ul class="widget_instafeed instafeed_col4">
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img1.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img2.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img3.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img4.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img5.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img6.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img7.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/insta_img8.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="middle_footer">
            <div class="custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="shopping_info">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-shipped"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>Free Delivery</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-money-back"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>30 Day Returns Guarantee</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon_box icon_box_style2">
                                        <div class="icon">
                                            <i class="flaticon-support"></i>
                                        </div>
                                        <div class="icon_box_content">
                                            <h5>27/4 Online Support</h5>
                                            <p>Phasellus blandit massa enim elit of passage varius nunc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="custom-container">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="mb-lg-0 text-center">© 2020 All Rights Reserved by Bestwebcreator</p>
                    </div>
                    <div class="col-lg-4 order-lg-first">
                        <div class="widget mb-lg-0">
                            <ul class="social_icons text-center text-lg-left">
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <ul class="footer_payment text-center text-lg-right">
                            <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/visa.png" alt="visa"></a></li>
                            <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/discover.png" alt="discover"></a></li>
                            <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="https://bestwebcreator.com/shopwise/demo/index-5.html#"><img src="/frontend/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
</template>

<script>
export default {
    name: 'Footer',
    components: { },
    data () {
        return {
            menu: {
                items: {}
            },
            shops: []
        }
    },
    created () {
        this.getMenu()
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    methods: {
        getMenu () {
            const self = this
            this.axios.get(`${process.env.MIX_APP_URL}/storage/menus/menu-${process.env.MIX_APP_ENV}-3.json`).then(response => {
                self.menu = response.data
            })
        }

    }

}
</script>
