<template>
    <header class="header_wrap sticky-top header_with_topbar">
        <MiddleHeader :url="url"></MiddleHeader>
        <BottomHeader :url="url"></BottomHeader>

    </header>
</template>

<script>
import Currencies from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/Currencies'
import Languages from './Languages'
import TopHeader from './TopHeader'
import BottomHeader from './BottomHeader'
import Search from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/products/Search'
import MiddleHeader from './MiddleHeader'
export default {
    name: 'Header',
    components: { MiddleHeader, Search, BottomHeader, TopHeader, Languages, Currencies },
    data () {
        return {
            loggedIn: false,
            cartCount: 0
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    mounted () {
        this.loggedIn = this.$store.state.defaultStore.loggedIn
    },
    watch: {
        '$store.state.defaultStore.loggedIn': {
            handler: function (val, oldVal) {
                console.log(val)
                if (val !== oldVal) {
                    this.loggedIn = val
                }
            },
            deep: true
        }
    }
}
</script>
