<template>
    <ul class="navbar-nav" v-if="languages ">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> {{languages[selectedLanguage]}} </a>
            <ul class="dropdown-menu dropdown-menu-right" style="max-width: 100px;">
                <li><a class="dropdown-item" href="#" v-for="(la, index) in languages" v-on:click="changeLanguage(index)" v-bind:key="'lang-'+index">{{la}}</a></li>
            </ul>
        </li>
    </ul> <!-- list-inline //  -->
</template>

<script>
export default {
    name: 'Languages',
    data () {
        return {
            languages: null,
            selectedLanguage: 1
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    created () {
        if (localStorage.getItem('langs')) {
            this.languages = JSON.parse(localStorage.getItem('langs'))
        }
        if (localStorage.getItem('language')) {
            this.selectedLanguage = localStorage.getItem('language')
        }
    },
    methods: {
        changeLanguage (val) {
            this.selectedLanguage = val
            localStorage.setItem('language', this.selectedLanguage)
            this.$store.commit('defaultStore/setPageLanguages', this.selectedLanguage)
            this.$eventHub.$emit('changeCurrencyOrLanguage', this.selectedLanguage)
        }
    }
}
</script>
