<template>
    <div class="middle-header light_skin bg_dark">
        <div class="custom-container">
            <div class="nav_block">
                <a class="navbar-brand" href="https://bestwebcreator.com/shopwise/demo/index.html">
                    <img class="logo_light" src="/frontend/images/logo_light.png" alt="logo">
                    <img class="logo_dark" src="/frontend/images/logo_dark.png" alt="logo">
                </a>
                <div class="product_search_form rounded_input">
                    <form>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="custom_select">
                                    <select class="first_null not_chosen">
                                        <option value="">All Category</option>
                                        <option value="Dresses">Dresses</option>
                                        <option value="Shirt-Tops">Shirt &amp; Tops</option>
                                        <option value="T-Shirt">T-Shirt</option>
                                        <option value="Pents">Pents</option>
                                        <option value="Jeans">Jeans</option>
                                    </select>
                                </div>
                            </div>
                            <input class="form-control" placeholder="Search Product..." required="" type="text">
                            <button type="submit" class="search_btn2"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li v-if="loggedIn"><a href="#login" class="nav-link"><i class="linearicons-user"></i></a></li>
                    <li v-if="!loggedIn">
                        <a data-toggle="modal" data-target="#loginModal" class=" nav-link align-self-center"><span class="login-text mr-2 pb-2">{{$t('Login')}}</span> <i class="linearicons-arrow-right-circle"></i></a>
                    </li>
                    <CartIcon></CartIcon>
                </ul>
            </div>
        </div>
        <LoginWeb v-if="!loggedIn"></LoginWeb>
        <RegistrationWeb v-if="!loggedIn"></RegistrationWeb>
        <ForgetPasswordWeb v-if="!loggedIn"></ForgetPasswordWeb>
    </div>
</template>

<script>
import CartIcon from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/cart/CartIcon'
import LoginWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/LoginWeb'
import RegistrationWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/RegistrationWeb'
import ForgetPasswordWeb from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/profile/ForgetPasswordWeb'
export default {
    name: 'MiddleHeader',
    components: { ForgetPasswordWeb, LoginWeb, CartIcon, RegistrationWeb },
    data () {
        return {
            loggedIn: false
        }
    },
    watch: {
        '$store.state.defaultStore.loggedIn': {
            handler: function (val, oldVal) {
                console.log(val)
                if (val !== oldVal) {
                    this.loggedIn = val
                }
            },
            deep: true
        }
    }
}
</script>

<style scoped>

</style>
