<template>
    <div>
        <LoadingSvg v-if="!postData.data"></LoadingSvg>
        <div class="breadcrumb_section bg_gray page-title-mini">
            <div class="container"><!-- STRART CONTAINER -->
                <div class="row align-items-center" v-if="postData && postData.data">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h1>{{postData.data[0].title}}</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb justify-content-md-end">
                            <li class="breadcrumb-item"><router-link :to="'/'">{{$t('Home')}}</router-link></li>
                            <li class="breadcrumb-item"><router-link :to="'/blog'">{{$t('Blog')}}</router-link></li>
                            <li class="breadcrumb-item active">{{postData.data[0].title}}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- END CONTAINER-->
        </div>
        <div class="main_content">

            <!-- START SECTION BLOG -->
            <div class="section">
                <div class="container" v-if="postData.data && postData.data[0]">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="single_post">
                                <h2 class="blog_title" >{{postData.data[0].title}}</h2>
                                <ul class="list_none blog_meta">
                                    <li><a href=""><i class="ti-calendar"></i> {{postData.data[0].publication_date}}</a></li>
                                </ul>
                                <div class="blog_img">
                                    <ImageLazy :image="postData.data[0].main_image" :alt="postData.data[0].title"></ImageLazy>
                                </div>
                                <div class="blog_content" v-html="postData.data[0].content">
                                </div>
                            </div>
                            <div class="post_navigation bg_gray">
                                <div class="row align-items-center justify-content-between p-4" v-if="postData.prev">
                                    <div class="col-5">
                                        <router-link :to="{name:'Post',params:{'slug':postData.prev.slug}}">
                                            <div class="post_nav post_nav_prev">
                                                <i class="ti-arrow-left"></i>
                                                <span>{{postData.prev.title}}</span>
                                            </div>
                                        </router-link>
                                    </div>
                                    <div class="col-2">
                                        <a href="#" class="post_nav_home">
                                            <i class="ti-layout-grid2"></i>
                                        </a>
                                    </div>
                                    <div class="col-5" v-if="postData.next">
                                        <router-link :to="{name:'Post',params:{'slug':postData.next.slug}}">
                                            <div class="post_nav post_nav_next">
                                                <i class="ti-arrow-right"></i>
                                                <span>{{postData.next.title}}</span>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                            <div class="related_post" v-if="postData">
                                <div class="content_title">
                                    <h5>{{$t('Related posts')}}</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="blog_post blog_style2 box_shadow1">
                                            <div class="blog_img">
                                                <router-link :to="{name:'Post',params:{'slug':postData.prev.slug}}">
                                                    <ImageLazy :image="postData.prev.main_image" :alt="postData.prev.title"></ImageLazy>
                                                </router-link>
                                            </div>
                                            <div class="blog_content bg-white">
                                                <div class="blog_text">
                                                    <h5 class="blog_title"> <router-link :to="{name:'Post',params:{'slug':postData.prev.slug}}">{{postData.prev.title}}</router-link></h5>
                                                    <ul class="list_none blog_meta">
                                                        <li><i class="ti-calendar"></i> {{postData.prev.publication_date}}</li>
                                                    </ul>
                                                    <p>{{postData.prev.lead}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="blog_post blog_style2 box_shadow1">
                                            <div class="blog_img">
                                                <router-link :to="{name:'Post',params:{'slug':postData.next.slug}}">
                                                    <ImageLazy :image="postData.next.main_image" :alt="postData.next.title"></ImageLazy>
                                                </router-link>
                                            </div>
                                            <div class="blog_content bg-white">
                                                <div class="blog_text">
                                                    <h5 class="blog_title"> <router-link :to="{name:'Post',params:{'slug':postData.next.slug}}">{{postData.next.title}}</router-link></h5>
                                                    <ul class="list_none blog_meta">
                                                        <li><i class="ti-calendar"></i> {{postData.next.publication_date}}</li>
                                                    </ul>
                                                    <p>{{postData.next.lead}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0 sticky_dark_skin" v-if="postData.recent">
                            <div class="sidebar">
                                <div class="widget">
                                    <h5 class="widget_title">{{$t('Recent Posts')}}</h5>
                                    <ul class="widget_recent_post">
                                        <li v-for="(latest,ind) in postData.recent" v-bind:key="'latest-'+ind">
                                            <div class="post_footer">
                                                <div class="post_img">
                                                    <router-link :to="{name:'Post',params:{'slug':latest.slug}}"> <ImageLazy :image="latest.main_image" :alt="latest.title"></ImageLazy></router-link>
                                                </div>
                                                <div class="post_content">
                                                    <h6><router-link :to="{name:'Post',params:{'slug':latest.slug}}">{{latest.title}}</router-link></h6>
                                                    <p class="small m-0">{{latest.publication_date}}</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <h5 class="widget_title">{{$t('Archive')}}</h5>
                                    <ul class="widget_archive">
                                        <li v-for="(archive,index) in postData.archives" v-bind:key="'archive-'+index">
                                            <router-link :to="{name: 'Category',query:{'archive': index}}" ><span class="archive_year">{{archive}}</span></router-link>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <h5 class="widget_title" data-toggle="collapse" data-target="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseExample">{{$t('Categories')}}</h5>
                                    <ul class="widget_archive collapse in show" id="collapseCategory">
                                        <li v-for="(category,index) in postData.categories" v-bind:key="'category-'+index">
                                            <router-link :to="{name: 'Category',query:{'category': category.slug}}"><span class="archive_year">{{category.name}}</span></router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../components/ImageLazy'
import LoadingSvg from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/LoadingSvg'
export default {
    props: ['url'],
    components: { LoadingSvg, ImageLazy },
    data () {
        return {
            postData: {}
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.getPost()
            },
            deep: true
        }
    },
    beforeMount () {
        this.getPost()
    },
    methods: {
        getPost () {
            const self = this
            this.axios.get(`${this.url}/${this.postPrefix}/get/${this.$route.params.slug}`).then(response => {
                self.postData = response.data
                self.setMetaTags(self.postData)
            }).catch((err) => {
                console.log(err)
                self.$router.push({ name: 'NotFound' })
            })
        }
    }
}
</script>
