<template>
    <div>

            <template v-if="pageData.component_name === null">
                <h1>{{pageData.name}}</h1>
                <hr/>
                <div v-html="pageData.content"></div>
            </template>
            <template v-else>
                <component v-if="componentName" :model="pageData" :url="url" :is="componentName"></component>
            </template>

    </div>
</template>

<script>
export default {
    name: 'Static',
    props: ['url'],
    data () {
        return {
            pageData: {},
            isNotFound: false
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                this.getPage()
            },
            deep: true
        },
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        }
    },
    created () {
        this.getPage()
    },
    computed: {
        componentName: function () {
            if (this.pageData && this.pageData.component_name) {
                return this.pageData.component_name.replace('.vue', '')
            }
            return null
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    methods: {
        getPage () {
            const self = this
            self.axios.get(self.url + '/page' + ((self.$route.path !== '/') ? self.$route.path : ''))
                .then((response) => {
                    self.pageData = response.data.data
                    for (const it in self.pageData.meta_tags) {
                        if (it === 'title') {
                            document.title = self.pageData.meta_tags[it] + ' - ' + process.env.MIX_APP_NAME
                        } else {
                            if (document.getElementsByName(it).length < 1) {
                                const tag = document.createElement('meta')
                                tag.setAttribute('name', it)
                                tag.setAttribute('content', self.pageData.meta_tags[it])
                                tag.setAttribute('data-vue-router-controlled', '')

                                document.head.appendChild(tag)
                            } else {
                                document.getElementsByName(it)[0].setAttribute('content', self.pageData.meta_tags[it])
                                document.getElementsByName(it)[0].setAttribute('data-vue-router-controlled', '')
                            }
                        }
                    }
                }).catch((err) => {
                    console.log(err)
                    self.$router.push({ name: 'NotFound' })
                })
        }
    }
}
</script>
