<template>
    <div class="top-header light_skin bg_dark d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                        <div class="lng_dropdown mr-2">
                            <div class="ddOutOfVision" id="msdrpdd20_msddHolder" style="height: 0px; overflow: hidden; position: absolute;"><select name="countries" class="custome_select" id="msdrpdd20" tabindex="-1">
                                <option value="en" data-image="assets/images/eng.png" data-title="English">English</option>
                                <option value="fn" data-image="assets/images/fn.png" data-title="France">France</option>
                                <option value="us" data-image="assets/images/us.png" data-title="United States">United States</option>
                            </select></div><div class="dd ddcommon borderRadius" id="msdrpdd20_msdd" tabindex="0" style="width: 130px;"><div class="ddTitle borderRadiusTp"><span class="divider"></span><span class="ddArrow arrowoff"></span><span class="ddTitleText " id="msdrpdd20_title"><img src="assets/images/eng.png" class="fnone"><span class="ddlabel">English</span><span class="description" style="display: none;"></span></span></div><input id="msdrpdd20_titleText" type="text" autocomplete="off" class="text shadow borderRadius" style="display: none;"><div class="ddChild ddchild_ border shadow" id="msdrpdd20_child" style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 108px;"><ul><li class="enabled _msddli_ selected" title="English"><img src="assets/images/eng.png" class="fnone"><span class="ddlabel">English</span><div class="clear"></div></li><li class="enabled _msddli_" title="France"><img src="assets/images/fn.png" class="fnone"><span class="ddlabel">France</span><div class="clear"></div></li><li class="enabled _msddli_" title="United States"><img src="assets/images/us.png" class="fnone"><span class="ddlabel">United States</span><div class="clear"></div></li></ul></div></div>
                        </div>
                        <div class="mr-3">
                            <div class="ddOutOfVision" id="msdrpdd21_msddHolder" style="height: 0px; overflow: hidden; position: absolute;"><select name="countries" class="custome_select" id="msdrpdd21" tabindex="-1">
                                <option value="USD" data-title="USD">USD</option>
                                <option value="EUR" data-title="EUR">EUR</option>
                                <option value="GBR" data-title="GBR">GBR</option>
                            </select></div><div class="dd ddcommon borderRadius" id="msdrpdd21_msdd" tabindex="0" style="width: 56px;"><div class="ddTitle borderRadiusTp"><span class="divider"></span><span class="ddArrow arrowoff"></span><span class="ddTitleText " id="msdrpdd21_title"><span class="ddlabel">USD</span><span class="description" style="display: none;"></span></span></div><input id="msdrpdd21_titleText" type="text" autocomplete="off" class="text shadow borderRadius" style="display: none;"><div class="ddChild ddchild_ border shadow" id="msdrpdd21_child" style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 108px;"><ul><li class="enabled _msddli_ selected" title="USD"><span class="ddlabel">USD</span><div class="clear"></div></li><li class="enabled _msddli_" title="EUR"><span class="ddlabel">EUR</span><div class="clear"></div></li><li class="enabled _msddli_" title="GBR"><span class="ddlabel">GBR</span><div class="clear"></div></li></ul></div></div>
                        </div>
                        <ul class="contact_detail text-center text-lg-left">
                            <li><i class="ti-mobile"></i><span>123-456-7890</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center text-md-right">
                        <ul class="header_list">
                            <li><a href="compare.html"><i class="ti-control-shuffle"></i><span>Compare</span></a></li>
                            <li><a href="wishlist.html"><i class="ti-heart"></i><span>Wishlist</span></a></li>
                            <li><a href="login.html"><i class="ti-user"></i><span>Login</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Currencies from '../../../../Modules/WebshopFrontend/Resources/assets/js/components/Currencies'
import Languages from './Languages'
export default {
    name: 'TopHeader',
    components: { Languages, Currencies }
}
</script>
