<template>
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{$t('You can run Laravel Artisan commands from here.')}}
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form class="kt-form" v-on:submit.prevent="runCommand">
            <div class="kt-portlet__body">
                <div class="form-group">
                    <label>{{$t('Command line')}}</label>
                    <input type="text" class="form-control" v-model="command" :placeholder="$t('Artisan command')">
                    <span class="form-text text-muted">{{$t('You don\'t have to enter "php artisan" in the beginning.')}}</span>
                </div>
                <div class="form-group">
                    <label>{{$t('Pre defined commands')}}</label>
                    <div class="kt-checkbox-list">
                        <label class="kt-checkbox">
                            <input type="checkbox" value="storage:link" v-model="predefined"> {{$t('Storage link')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="generate:translations" v-model="predefined"> {{$t('Generate translation files')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="generate:logs_table" v-model="predefined"> {{$t('Generate log table')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="backup:database" v-model="predefined"> {{$t('Backup database')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="cache:clear" v-model="predefined"> {{$t('Clear cache')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="view:clear" v-model="predefined"> {{$t('Clear views')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="view:cache" v-model="predefined"> {{$t('View cache regenerate')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="config:cache" v-model="predefined"> {{$t('Config cache regenerate')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="route:cache" v-model="predefined"> {{$t('Route cache regenerate')}}
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" value="modelCache:clear" v-model="predefined"> {{$t('Model cache clear')}}
                            <span></span>
                        </label>
                    </div>
                </div>
                <p>{{$t('Console Output')}}</p>
                <pre v-html="response"></pre>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">{{$t('Run')}}</button>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</template>

<script>
export default {
    name: 'Console',
    data () {
        return {
            command: '',
            predefined: [],
            response: ''
        }
    },
    methods: {
        runCommand: function () {
            const self = this
            const uri = `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/system/run-command`
            this.axios.post(uri, {
                command: this.command,
                predefined: this.predefined
            }).then((response) => {
                self.response = response.data.data
            })
        }
    }
}
</script>
