<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <div class="row">
    <div class="col-md-12" v-if="languages.length > 0">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" v-for="(item, index) in languages" v-bind:key="'lang-'+index">
                <a class="nav-link" v-bind:class="{'active' : index === 0}" :id="index+'-tab-label'" data-toggle="tab" :href="'#tab-'+index" role="tab" :aria-controls="index+'-tab'" aria-selected="true">{{item}}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" v-bind:class="{'show active' : index === 0}" :id="'tab-'+index" role="tabpanel" :aria-labelledby="index+'-tab-label'" v-for="(item, index) in languages" v-bind:key="'lang-tab-'+index">
<FormInput v-model="model.slug"  :title="$t('Slug')"></FormInput>
<FormInput v-model="model.title[item]" :lang="item" :title="$t('Title')"></FormInput>
<FormInput v-model="model.image"  :title="$t('image')"></FormInput>
<FormInput v-model="model.link"  :title="$t('Link')"></FormInput>
            </div>
        </div>
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'BannerForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
