<template>
    <BannerForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></BannerForm>
</template>

<script>
import BannerForm from './BannerForm'
import Banner from './Banner'

export default {
    name: 'BannerEdit',
    extends: Banner,
    data () {
        return {
            model: {}
        }
    },
    components: { BannerForm },
    beforeMount: function () {
        this.handleUpdate('banner', this.url, {})

        this.getBanner()
    }
}
</script>
