<template>
    <section class="section-specials padding-y border-bottom border-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <figure class="itemside">
                        <div class="aside">
                                <span class="icon-sm rounded-circle bg-primary">
                                <i class="fa fa-money-bill-alt white"></i>
                                </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">Reasonable prices</h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labor </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="itemside">
                        <div class="aside">
                            <span class="icon-sm rounded-circle bg-danger">
                            <i class="fa fa-comment-dots white"></i>
                            </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">Customer support 24/7 </h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labor </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
                <div class="col-md-4">
                    <figure class="itemside">
                        <div class="aside">
                            <span class="icon-sm rounded-circle bg-success"><i class="fa fa-truck white"></i>
                            </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">Quick delivery</h6>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod
                                tempor incididunt ut labor </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
                </div><!-- col // -->
            </div> <!-- row.// -->

        </div> <!-- container.// -->
    </section>
</template>

<script>
export default {
    name: 'DeliverySection'
}
</script>
