<template>
    <div class="section">
        <div class="custom-container">
            <LoadingSvg v-if="!loaded"></LoadingSvg>
            <div class="row" v-if="loaded &&productDetails">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0" v-if="selectedVariation && selectedVariation.images">
                    <div class="product-image vertical_gallery">
                        <div id="pr_item_gallery" class="product_gallery_item slick-vertical" data-vertical="true " data-vertical-swiping="true" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false" >
                            <div v-for="(image,index) in selectedVariation.images" v-bind:key="'small-image-'+image.id"  aria-live="polite" class="slick-list draggable">
                                <div class="slick-track" role="listbox">
                                    <div class="item slick-slide slick-current slick-active" :data-slick-index="index" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" >
                                        <a href="#" @click.prevent="selectImage(image.url)" class="product_gallery_item active" :data-image="image.url" :data-zoom-image="image.url" tabindex="0">
                                            <ImageLazy :src="image.url" alt="product_small_img1"></ImageLazy>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="product_img_box">
                            <ImageLazy :image="selectedImage" alt="product_small_img1"></ImageLazy>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <RatingSum :ratingTable="productDetails.ratingTableData"></RatingSum>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title">{{productDetails.name}}</h4>
                            <div class="product_price">
                                <div class = "product_price" v-if="selectedVariation.price">
                                    <span class = "price" ><Price :value="selectedVariation.price.toString(2)"></Price></span>
                                    <del v-if="selectedVariation.price< selectedVariation.price_default"><Price :value="selectedVariation.price_default.toString(2)"></Price></del>
                                </div>
                            </div>
                            <div class = "rating_wrap" v-if="productDetails.rating_count >0">
                                <div class = "rating">
                                    <Rating :rate = "productDetails.rating_avg"></Rating>
                                </div>
                                <span class = "rating_num">({{productDetails.rating_count}})</span>
                            </div>
                            <div class="pr_desc">
                                <p>{{selectedVariation.info}}</p>
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li v-if="getColor(selectedVariation.color_id)"><i class="linearicons-cross-circle"></i> {{getColor(selectedVariation.color_id).name}}</li>
                                    <li v-if="getPack(selectedVariation.pack_id)"><i class="linearicons-cross-circle"></i> {{getPack(selectedVariation.pack_id).name}}</li>
                                    <li v-if="getType(selectedVariation.type_id)"><i class="linearicons-cross-circle"></i> {{getType(selectedVariation.type_id).name}}</li>
                                </ul>
                            </div>

                        </div>
                        <hr>
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
                                    <input type="button" value="-" v-on:click="(quantity >1)?quantity--:1" class="minus" v-bind:disabled="quantity ==1">
                                    <input type="text" name="quantity"  v-model="quantity" title="Qty" readonly class="qty" size="4">
                                    <input type="button" v-on:click="quantity++" value="+" v-bind:disabled="quantity ==selectedVariation.in_stock " class="plus">
                                </div>
                            </div>
                            <AddToCartButton :image="selectedVariation.main_image" :quantity="quantity" :product_id="productDetails.id" :variation_id="selectedVariation.id"></AddToCartButton>
                        </div>
                        <hr>
                        <ul class="product-meta">
                            <li>{{$t('SKU')}}: {{selectedVariation.sku}}</li>
                            <li>{{$t('Category')}}: <router-link v-for="url in productDetails.categories" v-bind:key="'cats-'+url" :to="{name: 'ProductList',params:{category:url.slug}}">{{url.name}}</router-link></li>
                            <li>{{$t('Tags')}}:
                                <span class="pr_tag" v-for="(tag,index) in selectedVariation.tags" v-bind:key="'tag-'+index+'-'+tag"><router-link :to ="{name:'ProductList',query:{search: tag}}">{{tag}}</router-link> </span> </li>
                        </ul>
                        <hr>
                        <div  v-if="productDetails.variations &&  productDetails.variations.length >0">
                            <h6>{{$t('Variations')}}</h6>
                            <div  class="product_slider_sub carousel_slider owl-carousel owl-theme" data-ride="carousel" v-on:drag.prevent.stop="null">
                                <div class="item  active"  @click.stop.prevent="changeVariation(variation)" v-on:drag.prevent.stop="null" v-for="variation in productDetails.variations" v-bind:key="'variationid-'+productDetails.id+'-'+variation.id">
                                    <img :src="variation.main_image" alt="img1">

                                    <div class="product_price text-center" style="float: none">
                                        <div class = "" v-if="variation.price">
                                            <span class = "price" ><Price :value="variation.price"></Price></span>
                                            <del v-if="variation.price< variation.price_default"><Price :value="variation.price_default.toString(2)"></Price></del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="product_share">
                           <Share :title="productDetails.name +' '+ getColor(selectedVariation.color_id).name+ ' '+ getPack(selectedVariation.pack_id).name+ ' '+ getType(selectedVariation.type_id).name"
                            :description="productDetails.description"
                            :tags="tags"
                           ></Share>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <TechnicalData :product="productDetails"></TechnicalData>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>{{$t('Releted Products')}}</h3>
                    </div>
                    <div v-if="relatedProducts && relatedProducts.length >0" class="related_product_slider carousel_slider owl-carousel owl-theme " data-margin="20" >
                        <RelatedProductItem v-for="prod in relatedProducts" v-bind:key="'rel-product'+prod.id" :name="''" :product="prod" :colors="colors" :types="types" :packs="packs"></RelatedProductItem>
                    </div>
                </div>
            </div>
    </div>
    </div>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import RelatedProductItem from './RelatedProductItem'
import ProductDetailsAttribute from './ProductDetailsAttributes'
import AddToCartButton from '../cart/AddToCartButton'
import FrontendNumberInput from '../../../../../../../resources/js/frontend/components/form/FrontendNumberInput'
import DeliverySection from './DeliverySection'
import Price from '../../../../../../../resources/js/components/Price'
import Share from '../Share'
import TechnicalData from './TechnicalData'
import RatingSum from './Rating/RatingSum'
import LoadingSvg from '../LoadingSvg'
export default {
    name: 'ProductDetails',
    data () {
        return {
            relatedProducts: {},
            selectedImage: null,
            loaded: false,
            firstNav: true,
            selectedVariation: {},
            quantity: 1,
            colors: {},
            packs: {},
            types: {},
            selectedAttributes: {},
            productDetails: {}
        }
    },
    watch: {
        $route: {
            handler: function (val, old) {
                const self = this
                if (val.path !== old.path) {
                    self.productDetails.variations = {}
                    self.getProductData().then(() => {
                        self.relatedProducts = {}
                        self.slickSlider()
                        setTimeout(() => {
                            self.carousel()
                        }, 1000)
                    })
                    var body = window.$('html, body')
                    body.stop().animate({ scrollTop: 0 }, 500, 'swing', function () {

                    })
                }
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/product`
        },
        tags: function () {
            let text = ''
            this.selectedVariation.tags.forEach((item) => {
                text += item + ','
            })
            return text
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    components: { LoadingSvg, RatingSum, TechnicalData, Share, DeliverySection, AddToCartButton, ProductDetailsAttribute, RelatedProductItem, ImageLazy, FrontendNumberInput, Price },
    created () {
        const self = this
        self.getProductData().then(() => {
            self.loaded = true
            self.slickSlider()
            setTimeout(() => {
                self.carousel()
            }, 1000)
        })
    },
    methods: {
        getProductData () {
            return new Promise((resolve, reject) => {
                const self = this
                self.axios.get(self.url + '/details/' + self.$route.params.slug).then((response) => {
                    self.productDetails = response.data.data
                    self.colors = response.data.data.selectables.colors
                    self.packs = response.data.data.selectables.packs
                    self.types = response.data.data.selectables.types
                    self.selectVariation()
                    resolve()
                    this.getRelatedProducts()
                })
            })
        },
        getRelatedProducts () {
            return new Promise((resolve, reject) => {
                const self = this
                self.axios.get(self.url + '/related/' + this.productDetails.id).then((response) => {
                    self.relatedProducts = response.data.data
                    resolve()
                })
            }).then(() => {
                window.$('.related_product_slider').owlCarousel({
                    loop: false,
                    nav: false,
                    dots: true,
                    margin: 20,
                    responsiveClass: true,
                    responsive:
                        { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '3' }, 991: { items: '4' } }
                })
            })
        },
        changeVariation (variation) {
            this.selectedVariation = variation
            this.selectedImage = this.selectedVariation.main_image
            this.quantity = 1
            this.slickSlider()
        },
        selectVariation (id) {
            if (this.productDetails.variations) {
                for (let i = 0; i < this.productDetails.variations.length; i++) {
                    if (this.productDetails.variations[i].id === id) {
                        this.selectedVariation = this.productDetails.variations[i]
                        this.selectedImage = this.selectedVariation.main_image
                        this.slickSlider()
                        return null
                    }
                }
                this.selectedVariation = this.productDetails.variations[0]
                this.selectedImage = this.selectedVariation.main_image
                this.slickSlider()
            }
            return null
        },
        slickSlider () {

        },
        carousel () {
            window.$('.product_slider_sub').owlCarousel({
                loop: false,
                nav: false,
                dots: true,
                margin: 20,
                responsiveClass: true,
                responsive:
                    { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '3' } }
            })
        },
        getColor (id) {
            if (this.colors) {
                for (let i = 0; i < this.colors.length; i++) {
                    if (this.colors[i].id === id) {
                        return this.colors[i]
                    }
                }
            }
            return null
        },
        getPack (id) {
            if (this.packs) {
            }
            for (let i = 0; i < this.packs.length; i++) {
                if (this.packs[i].id === id) {
                    return this.packs[i]
                }
            }
            return null
        },
        selectImage (img) {
            this.selectedImage = img
        },
        getType (id) {
            if (this.types) {
                for (let i = 0; i < this.packs.length; i++) {
                    if (this.packs[i].id === id) {
                        return this.packs[i]
                    }
                }
            }
            return null
        }
    }
}
</script>
