<template>
    <div v-if="selectedAttributes">
        <dl class="row" v-for="customAttr in customAttributes"
            v-bind:key="'custom-attr'+customAttr.col_slug+'-'+customAttr.id">
            <dt class="col-sm-3">{{customAttr.name}}</dt>
            <dd class="col-sm-9">{{getCustomAttribute(customAttr.field)}}</dd>
        </dl>  <!-- item-property-hor .// -->
        <hr>
        <div v-for="(attr) in product.selectables.attributes" v-bind:key="'attr'+attr.col_slug+'-'+attr.id">
            <div  v-if="attributes[attr.col_slug]">{{attr.name}}</div>
            <ul v-if="attributes[attr.col_slug]" v-bind:class="attributes[attr.col_slug].class">
                <li  v-for="(availableVal) in getAvailableAttributeByVariation(attr.values,attr.col_slug)"
                     v-bind:key="'attr-item'+attr.col_slug+'-'+availableVal.id"
                     v-on:click="selectAttr(attr.col_slug,availableVal.id)"
                     v-bind:class="{'selected': change && getSelected(parseInt(selectedAttributes[attr.col_slug]), parseInt(availableVal.id))}"
                     v-bind:data-attr="availableVal.extra"
                     v-bind:style="getColorStyle(attributes[attr.col_slug].class, availableVal.extra)"
                   >
                    {{availableVal.name[language]}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ProductDetailsAttribute',
    props: ['selectedVariationId', 'product', 'language', 'selectedAttributes'],
    data () {
        return {
            attributes: {},
            customAttributes: {},
            stocks: {},
            change: true
        }
    },
    watch: {
        product: function () {
            this.calculateAttributes()
        },
        selectedAttributes: function () {
        }
    },
    created () {
        this.calculateAttributes()
    },
    methods: {
        getSelected (_first, _second) {
            return _first === _second
        },
        getCustomAttribute (attrKey) {
            let selected = ''
            this.customAttributes[attrKey].values.variation_ids.forEach(item => {
                if (item.variation_id === this.selectedVariationId) {
                    selected = JSON.parse(item.attribute_value)[this.language]
                }
            })
            return selected
        },
        selectAttr (col, id) {
            this.$emit('selectAttr', { col: col, id: id })
            this.change = false
            this.change = true
        },
        getAvailableAttributeByVariation (attrValues, col) {
            const avVariations = this.getAvailableVariationByFilterAndStock(col)
            const temp = []
            this.attributes[col].values.variation_ids.forEach(item => {
                if (avVariations.has(item.variation_id)) {
                    temp.push(item.attribute_value)
                }
            })
            const tempSet = new Set(temp)
            const response = []
            attrValues.forEach(item => {
                if (tempSet.has(item.id.toString())) {
                    response.push(item)
                }
            })
            return response
        },
        getAvailableVariationByFilterAndStock (without) {
            const variationList = []
            Object.keys(this.attributes).forEach(item => {
                this.attributes[item].values.variation_ids.forEach(val => {
                    if (this.attributes[item].field !== without) {
                        if (val.stock > 0) {
                            if (!this.selectedAttributes[this.attributes[item].field] ||
                                parseInt(this.selectedAttributes[this.attributes[item].field]) === parseInt(val.attribute_value)) {
                                variationList.push(val.variation_id)
                            }
                        }
                    }
                })
            })
            return new Set(variationList)
        },
        getColorStyle (itemClass, extra) {
            if (itemClass === 'color') {
                return 'background-color:' + extra
            }
            return ''
        },
        calculateAttributes () {
            this.product.selectables.attributes.forEach(attribute => {
                const items = {}

                this.product.variations.forEach(variation => {
                    if (!items.variation_ids) {
                        items.variation_ids = []
                    }
                    var stockSum = 0
                    variation.stocks.forEach(stock => {
                        if (stock && stock.quantity) {
                            stockSum += stock.quantity
                        }
                    })

                    items.variation_ids.push({ variation_id: variation.id, attribute_value: variation.attributes[attribute.col_slug], stock: stockSum })
                    this.stocks[variation.id] = variation.stocks
                })

                if (attribute.used_for_variations) {
                    this.attributes[attribute.col_slug] = {
                        name: attribute.name,
                        field: attribute.col_slug,
                        class: attribute.col_slug.replace('_' + attribute.id, ''),
                        id: attribute.id,
                        values: items
                    }
                } else {
                    this.customAttributes[attribute.col_slug] = {
                        name: attribute.name,
                        field: attribute.col_slug,
                        class: attribute.col_slug.replace('_' + attribute.id, ''),
                        id: attribute.id,
                        values: items
                    }
                }
            })
        }
    }
}
</script>

<style scoped>
</style>
