<template>
    <div class = "item">
        <div class="product">
            <div class="product_img">
                <router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">
                    <ImageLazy  :image = "selectedVariation.main_image" alt = "el_img9"></ImageLazy>
                    <ImageLazy  v-if="selectedVariation.sec_image" class = "product_hover_img" :image = "selectedVariation.sec_image" alt = "el_img9"></ImageLazy>
                </router-link>
                <div class="product_action_box">
                    <ul class="list_none pr_action_btn">
                        <AddToCartIcon :image="selectedVariation.main_image" :quantity="1" :product_id="product.id" :variation_id="selectedVariation.id"></AddToCartIcon>
                        <li><router-link :to="{name:'ProductDetails',params:{slug: product.slug}}"><i class="icon-grid"></i></router-link></li>
                    </ul>
                </div>
            </div>
            <div class="product_info">
                <h6 class="product_title"><router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">{{product.name}}
                    <span v-if="getColor(selectedVariation.color_id)">{{getColor(selectedVariation.color_id).name}}</span>
                    <span v-if="getPack(selectedVariation.pack_id)">{{getPack(selectedVariation.pack_id).name}}</span>
                    <span v-if="getType(selectedVariation.type_id)">{{getColor(selectedVariation.type_id).name}}</span>
                </router-link></h6>
                <div class = "product_price" v-if="selectedVariation.price">
                    <span class = "price" ><Price :value="selectedVariation.price.toString(2)"></Price></span>
                    <del v-if="selectedVariation.price< selectedVariation.price_default"><Price :value="selectedVariation.price_default.toString(2)"></Price></del>
                </div>
                <div class = "rating_wrap" v-if="product.rating_count >0">
                    <div class = "rating">
                        <Rating :rate = "product.rating_avg"></Rating>
                    </div>
                    <span class = "rating_num">({{product.rating_count}})</span>
                </div>
                <div v-else style="height:25px"></div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import ProductGridItems from '../products/ProductGridItems'
import AddToCartIcon from '../cart/AddToCartIcon'
export default {
    name: 'RelatedProductItem',
    props: ['product', 'types', 'colors', 'packs'],
    components: { AddToCartIcon, ImageLazy },
    extends: ProductGridItems
}
</script>

<style scoped>
</style>
