<template>
    <div class="row">
        <div class="col-12">
            <RatingForm :productId="product.id"></RatingForm>
            <QuestionForm :productId="product.id"></QuestionForm>
            <div class="tab-style3">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-description-tab" data-toggle="tab" href="#product-description" role="tab" aria-controls="product-description" aria-selected="false">{{$t('Product description')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="product-reviews-tab" data-toggle="tab" href="#product-reviews" role="tab" aria-controls="product-reviews" aria-selected="true">{{$t('Reviews')}}</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link " id="product-questions-tab" data-toggle="tab" href="#product-questions" role="tab" aria-controls="product-reviews" aria-selected="true">{{$t('Questions')}}</a>
                     </li>
                    <li class=" nav-item col text-right text-center-xs">
                        <button class="btn  btn-outline-dark btn-xs  " data-toggle="modal"  data-target="#questionModal" role="tab" aria-controls="question" aria-selected="true">{{$t('Write a question')}}</button>
                        <button class="btn  btn-outline-dark btn-xs" data-toggle="modal"  data-target="#ratingModal"  role="tab" aria-controls="review" aria-selected="true">{{$t('Write a review')}}</button>
                    </li>
                </ul>

                <div class="tab-content shop_info_tab">
                <div class="tab-pane fade active show" id="product-description" role="tabpanel" aria-labelledby="product-description-tab">
                    <div class="description" v-html="product.description">
                    </div>
                </div>
                <div class="tab-pane fade" id="technical-details" role="tabpanel" aria-labelledby="technical-details-tab">
                    <div class="description"  v-html="product.technical_data ">
                    </div>
                </div>
                <div class="tab-pane fade " id="product-reviews" role="tabpanel" aria-labelledby="product-reviews-tab">
                    <div class="review text-center">

                        <RatingItem v-for="rating in product.ratings" v-bind:key="'rating-'+rating.id" :rating="rating"></RatingItem>
                        <a v-if="product.ratings && product.ratings.length === 0" class="first-reviewer text-center" data-toggle="modal"  data-target="#ratingModal" role="tab" aria-controls="review" >{{$t('Be the first to write a review!')}}</a>
                    </div>
                </div>
                    <div class="tab-pane fade " id="product-questions" role="tabpanel" aria-labelledby="product-questions-tab">
                        <div class="review text-center">
                            <QuestionItem v-for="question in product.questions" v-bind:key="'question-'+question.id" :question="question"></QuestionItem>
                            <a v-if="product.questions && product.questions.length === 0" class="first-reviewer text-center"  data-toggle="modal"  data-target="#questionModal" role="tab" aria-controls="question" >{{$t('Be the first to ask a question!')}}</a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import RatingSum from './Rating/RatingSum'
import RatingForm from './Rating/RatingForm'
import QuestionForm from './Question/QuestionForm'
import RatingItem from './Rating/RatingItem'
import QuestionItem from './Question/QuestionItem'
export default {
    name: 'TechnicalData',
    components: { QuestionItem, RatingItem, QuestionForm, RatingForm, RatingSum },
    props: ['product'],
    data () {
        return {
            attributes: {},
            customAttributes: {},
            stocks: {},
            change: true
        }
    }
}
</script>

<style scoped>
</style>
