<template>
    <b-form-group v-bind:class="inputClass">
        <label :for="'feature_image'+randomUid" v-if="title">{{title}}</label>
        <div class="input-group">
            <div class="input-group-btn">
                <a class="btn btn-brand btn-bold text-white" @click.prevent="openFileManager">
                    <i class="fa fa-picture-o"></i> {{$t('Choose')}}
                </a>
            </div>
            <input v-bind:readonly="readonly" v-bind:disabled="disabled" type="text" class="form-control" v-model="localValue" :id="'feature_image'+randomUid" :name="'feature_image'+randomUid" v-bind:class="{'is-invalid': hasError(name)}">
        </div>
        <img v-if="imageValue" class="img img-thumbnail" :src="imageValue" style="max-width: 300px;" />
        <video width="320" height="240" controls v-if="videoValue">
            <source :src="videoValue" type="video/mp4">
            {{$t('Your browser does not support the video tag.')}}
        </video>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'

export default {
    name: 'FormFileUpload',
    extends: FormControl,
    methods: {
        openFileManager () {
            const self = this
            window.$('#fileChooseModal').modal('show')

            self.$store.commit('fm/setFileCallBack', function (fileURL) {
                self.localValue = fileURL
                window.$('#fileChooseModal').modal('hide')
                self.$forceUpdate()
            })
        }
    },
    computed: {
        settings: function () {
            return {
                lang: this.$store.state.defaultStore.pageLanguage,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    Authorization: `Bearer ${$cookies.get('token')}`
                }
            }
        },
        randomUid: function () {
            return Math.floor(Math.random(1000, 9999) * 1000 + Math.random(100, 999) * 100)
        },
        name: function () {
            // eslint-disable-next-line vue/no-side-effects-in-computed-properties
            this.localValue = this.value
            const str = this.$vnode.data.model.expression.split('.')
            return str[1]
        },
        imageValue: function () {
            if (this.localValue && (this.localValue.toLowerCase().endsWith('.jpg') || this.localValue.toLowerCase().endsWith('.png') || this.localValue.toLowerCase().endsWith('.png') || this.localValue.toLowerCase().endsWith('.gif') || this.localValue.toLowerCase().endsWith('.jpeg'))) {
                return this.localValue
            }
            return false
        },
        videoValue: function () {
            if (this.localValue && (this.localValue.toLowerCase().endsWith('.mp4'))) {
                return this.localValue
            }
            return false
        }
    }
}
</script>
