<template>
    <b-form-group>
        <label v-if="title">{{title}}</label>
        <div class="input-group date-range-picker-input">
            <input v-bind:readonly="readonly" v-bind:disabled="disabled" :type="type" class="form-control " v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="localValue" v-bind:id="id">
            <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
            </div>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </b-form-group>
</template>

<script>
import FormControl from './FormControl'
import moment from 'moment'

export default {
    name: 'FormDateRangePicker',
    extends: FormControl,
    beforeDestroy () {
        var vm = this
        window.$(vm.$el)
            .find('.date-range-picker-input')
            .daterangepicker('destroy')
    },
    mounted: function () {
        var vm = this
        $(document).ready(function () {
            window.$(vm.$el)
                .find('.date-range-picker-input')
            // init select2
                .trigger('change')
                .trigger('input')
                .daterangepicker({
                    timePicker: false,
                    autoUpdateInput: false,
                    startDate: moment().startOf('hour'),

                    locale: {
                        format: this.format
                    }
                })
                .on('change', function () {
                    vm.$emit('input', vm.localValue)
                    vm.$emit('change', vm.localValue)
                })
                .on('apply.daterangepicker', function (ev, picker) {
                    vm.$emit('input', picker.startDate.format(vm.format) + ' - ' + picker.endDate.format(vm.format))
                    vm.$emit('change', picker.startDate.format(vm.format) + ' - ' + picker.endDate.format(vm.format))
                })
        })
    },
    watch: {
        localValue: function (value) {
            window.$(this.$el)
                .find('.date')
                .val(value)
                .trigger('change')
                .trigger('input')
        }
    }
}
</script>
