<template>
    <div id="app" v-if="loaded">
        <vue-dropzone v-bind:id="id"  :options="dropOptions" @vdropzone-complete="afterComplete">
            <input accept="image/jpeg, image/png" multiple="" type="file" autocomplete="off" tabindex="-1" style="display: none;">
        </vue-dropzone>
    </div>
</template>

<script>
import vueDropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    props: ['url', 'maxFiles', 'id', 'responseFile', 'acceptedFiles'],
    data: () => ({
        loaded: false,
        dropOptions: {
            url: '/api/v1/upload-file',
            acceptedFiles: 'image/*',
            dictDefaultMessage: 'Drag files for upload',
            dictInvalidFileType: 'This format is not supported.',
            dictRemoveFile: 'Delete',
            maxFilesize: 5, // MB
            maxFiles: 1,
            thumbnailWidth: 150, // px
            thumbnailHeight: 150,
            addRemoveLinks: true,
            headers: {
                Authorization: 'Bearer ' + $cookies.get('token')
            }

        }
    }),
    components: {
        vueDropzone
    },
    beforeMount () {
        if (this.maxFiles) { this.dropOptions.maxFiles = this.maxFiles }
        if (this.acceptedFiles) { this.dropOptions.acceptedFiles = this.acceptedFiles }
    },
    created () {
        this.loaded = true
    },
    methods: {
        afterComplete (file) {
            var resp = JSON.parse(file.xhr.response)
            console.log(resp)
            this.$emit('success', resp.path)
        }
    }
}
</script>
