<template>
    <div class="row mb-5">
        <div class="col-auto d-none d-sm-block">
            <div class="reviewer-icon">{{getMonogram(rating.name)}}</div>
        </div>
        <div class="col d-flex flex-column text-left">
            <div class="reviewer-name">
                <strong>{{rating.name}}</strong>
                <!--<span>Vásárló</span> -->
                <span class="float-right">{{rating.publish}}</span>
            </div>
            <div class="given-stars mb-3">
                <div class="d-flex align-items-center">
                    <i class="" v-for="i in [1,2,3,4,5]" v-bind:key="'rate-'+i" v-bind:class="{'fas fa-star':rating.rate >= i,'far fa-star':rating.rate < i}"></i>
                </div>
            </div>
            <div class="review-title"><strong>{{rating.title}}</strong></div>
            <div class="review-description mb-3">
                {{rating.comment}}
            </div>
            <div class="social-line d-flex flex-column flex-sm-row justify-content-between">
                <!--<a href=""><i class="fas fa-share-square mr-1"></i> Megosztás</a>-->
                <div>{{$t('Hasznos volt ez a Vélemény?')}} <a href="" @click.prevent="saveUseful(true)"><i class="fas fa-thumbs-up mx-1"></i></a> {{rating.useful}} <a href="" @click.prevent="saveUseful(false)"><i class="fas fa-thumbs-down mx-1"></i></a> {{rating.not_useful}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import i18n from '../../../../../../../../resources/js/translate'

export default {
    name: 'RatingItem',
    props: ['rating'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/question-useful`
        }
    },
    methods: {
        saveUseful (type = true) {
            let ratings = JSON.parse(localStorage.getItem('ratingUseful'))
            const link = this.$route.path + '|' + this.rating.id
            if (ratings && ratings[link]) {
                toastr.options = {
                    closeButton: true,
                    debug: false,
                    newestOnTop: false,
                    progressBar: false,
                    positionClass: 'toast-bottom-right',
                    preventDuplicates: true,
                    onclick: null,
                    showDuration: '300',
                    hideDuration: '1000',
                    timeOut: '5000',
                    extendedTimeOut: '1000',
                    showEasing: 'swing',
                    hideEasing: 'linear',
                    showMethod: 'fadeIn',
                    hideMethod: 'fadeOut'
                }

                toastr.error(i18n.t('Error!'), i18n.t('Már értékelted a véleményt!'))
            } else {
                const self = this
                self.sending = true
                const model = {
                    id: this.rating.id,
                    type: type
                }
                this.axios.put(self.url, model).then((response) => {
                    if (!ratings) {
                        ratings = {}
                    }
                    ratings[link] = true
                    localStorage.setItem('ratingUseful', JSON.stringify(ratings))

                    if (type) {
                        this.rating.useful++
                    } else {
                        this.rating.not_useful++
                    }
                })
            }
        },
        getMonogram (name) {
            return name[0].toUpperCase()
        }
    }
}
</script>

<style scoped>

</style>
