<template>
    <div class = "modal" id = "ratingModal" tabindex = "-1" role = "dialog">
        <div class = "modal-dialog" role = "document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title">{{$t('Rating')}}</h5>
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                </div>
                <div class = "modal-body">
                    <form>
                        <div class = "row">
                            <div class = "col-12 d-flex align-items-center mb-3">
                                <div class = "review-stars">
                                    {{$t('Értékelés:')}}
                                    <a v-for = "r in [1,2,3,4,5]" v-bind:key = "'save-rate-'+r" href = "" v-on:click.prevent = "model.rate=r"><i class = "" v-bind:class = "{'fas fa-star':model.rate >= r,'far fa-star':model.rate < r}"></i></a>
                                </div>
                            </div>
                            <div class = "col-12">
                                <FrontendInput v-model = "model.title" :placeholder = "$t('Cím')"></FrontendInput>
                            </div>
                            <div class = "col-12">
                                <FronendTextArea v-model = "model.comment" :placeholder = "$t('Kérdés')" :rows = "5"></FronendTextArea>
                            </div>
                            <div class = "col-md-6">
                                <FrontendInput v-model = "model.name" :placeholder = "$t('Név')"></FrontendInput>
                            </div>
                            <div class = "col-md-6">
                                <FrontendInput v-model = "model.email" :placeholder = "$t('Email')"></FrontendInput>
                            </div>

                        </div>
                    </form>
                </div>
                <div class = "modal-footer">
                    <button  v-if = "!sending" type = "button" class = "btn btn-primary" @click.prevent = "saveRating()">{{$t('Send rating')}}</button>
                    <button type = "button" class = "btn btn-secondary" data-dismiss = "modal">{{$t('Close')}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FronendTextArea from '../../../../../../../../resources/js/frontend/components/form/FronendTextArea'

export default {
    name: 'RatingForm',
    components: { FrontendInput, FronendTextArea },
    props: ['productId'],
    data () {
        return {
            sending: false,
            model: {
                rate: 5,
                name: null,
                email: null,
                title: null,
                comment: null
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        saveRating () {
            const self = this
            self.sending = true
            self.model.product_id = self.productId
            self.axios.post(self.url + '/rate-product', this.model).then((response) => {
                this.model = {}
                self.sending = false
            }).catch(() => {
                self.sending = false
            })
        }
    }
}
</script>

<style scoped>

</style>
