<template>
    <div class=" align-items-sm-start row">
        <div class="review-container-1 col-md-2">
            <div class="rate-avg align-items-center" style="font-size: 45px;text-align: center;max-width: 140px;">{{getAvg}}</div>
            <div class="d-flex mb-2 align-items-center" style="padding: 10px;">
                <i class="" v-bind:class="getClass(1)"></i>
                <i class="" v-bind:class="getClass(2)"></i>
                <i class="" v-bind:class="getClass(3)"></i>
                <i class="" v-bind:class="getClass(4)"></i>
                <i class="" v-bind:class="getClass(5)"></i>

            </div>
            <div class="align-items-center" style="text-align: center;max-width: 140px;font-size: 12px;">{{getTotal}} {{$t('Vélemény')}}</div>
        </div>
        <div class="review-container-2 col-md-10" >
            <div class="d-flex align-items-center mb-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="mx-2" style="width: 40px;">({{getNumberByRate(5)}})</span>
                <div class="review-bar" style="width:100%;display:inline">
                  <div class="review-bar-percentage" :style="'background:#57bb8a;height:15px; width:'+parseInt(((getNumberByRate(5)/getTotal)*100))+'%'"></div>
                </div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span class="mx-2" style="width: 40px;">({{getNumberByRate(4)}})</span>
                <div class="review-bar" style="width:100%;display:inline">
                    <div class="review-bar-percentage" :style="'background:#9ace6a;height:15px; width:'+parseInt(((getNumberByRate(4)/getTotal)*100))+'%'"></div>
                </div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="mx-2" style="width: 40px;">({{getNumberByRate(3)}})</span>
                <div class="review-bar" style="width:100%;display:inline">
                    <div class="review-bar-percentage" :style="'background:#ffcf02;height:15px; width:'+parseInt(((getNumberByRate(3)/getTotal)*100))+'%'"></div>
                </div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="mx-2" style="width: 40px;">({{getNumberByRate(2)}})</span>
                <div class="review-bar" style="width:100%;display:inline">
                    <div class="review-bar-percentage" :style="'background:#ff9f02;height:15px; width:'+parseInt(((getNumberByRate(2)/getTotal)*100))+'%'"></div>
                </div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="mx-2" style="width: 40px;">({{getNumberByRate(1)}})</span>
                <div class="review-bar" style="width:100%;display:inline">
                    <div class="review-bar-percentage" :style="'background:#ff6f31;height:15px; width:'+parseInt(((getNumberByRate(1)/getTotal)*100))+'%'"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'RatingSum',
    props: ['ratingTable'],
    computed: {
        getTotal: function () {
            let cnt = 0
            this.ratingTable.forEach((item) => {
                cnt += item.cnt
            })
            return cnt
        },
        getAvg: function () {
            let sum = 0
            let cnt = 0
            this.ratingTable.forEach((item) => {
                cnt += item.cnt
                sum += item.cnt * item.rate
            })
            if (sum) {
                return (sum / cnt).toFixed(1)
            }
            return 0
        }
    },
    methods: {
        getClass (value) {
            if (value <= this.getAvg) {
                return 'fas fa-star'
            } else if (parseFloat(this.getAvg) > parseFloat(value - 1) && parseFloat(this.getAvg) < parseFloat(value) && value > 1) {
                return 'fas fa-star-half-alt'
            } else {
                return 'far fa-star'
            }
        },
        getNumberByRate (rate) {
            let val = 0
            this.ratingTable.forEach((item) => {
                if (item.rate === rate) {
                    val = item.cnt
                }
            })
            return val
        }
    }
}
</script>

<style scoped>

</style>
