.nav_cat.collapse:not(.show) {
     display: none !important;
}
.btn-twitter {
    background: #1da1f2 !important;
}
.login-text{
    position: relative;
    top: -4px;
}
.product_slider_sub img {
    max-height: 75px;
    padding: 5px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    display: block;
}
.deal_wrap .product_img {
    padding: 10px;
}
.product_gallery_item a {
    border: none !important;
    display: block;
    padding: 0 0 5px 0 !important;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
    -webkit-transform-style: preserve-3d;
    margin: auto !important;
    min-height: 100px !important;
}
.pr_tag {
    background-color: #FF9F00;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 8px;
    font-size: 13px;
    z-index: 1;
}
#share-network-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}
.fa, .far, .fas {
    color: #f6bc3e;
}
.fa:nth-child(1), .far:nth-child(1), .fas:nth-child(1) {
    font-size: 20px;
}
.fa:nth-child(2), .far:nth-child(2), .fas:nth-child(2) {
    font-size: 20px;
}
.fa:nth-child(3), .far:nth-child(3), .fas:nth-child(3) {
    font-size: 18px;
}
.fa:nth-child(4), .far:nth-child(4), .fas:nth-child(4) {
    font-size: 16px;
}
.fa:nth-child(5), .far:nth-child(5), .fas:nth-child(5) {
    font-size: 14px;
}
.fa:nth-child(6), .far:nth-child(6), .fas:nth-child(6) {
    font-size: 12px;
}
.section {
    padding: 40px 0 !important;

}
.toast-error {
    background-color: #BD362F !important;
}
.toast-success {
    background-color: green !important;
}
.rate {
    width: 25px;
    height: 25px;
    text-align: center;
    border: solid 3px #fe7d4f;
    border-radius: 50%;
    /* padding-top: 9px; */
    font-size: 13px;
    font-weight: 900;
    color: #292b2c;
    margin-left: 80px;
    margin-right: 37px;
}
.reviewer-icon{
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 3px #fe7d4f;
    border-radius: 50%;
    padding-top: 9px;
    font-size: 15px;
    font-weight: 900;
    color: #292b2c;
}
a[class^="share-network-"] {
    flex: none;
    color: #FFFFFF;
    background-color: #333;
    border-radius: 3px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px 10px 0;
}

a[class^="share-network-"] .fah {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex: 0 1 auto;
}

a[class^="share-network-"] span {
    padding: 0 10px;
    flex: 1 1;
    font-weight: 500;
}
.order-breadcrumb {
    background: #eee;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
}
a.router-link-exact-active.router-link-active {
    color: white !important;
}
.row.no-gutters.mb-4{
    margin-left: 15px;
    margin-right: 15px;
}
.order-breadcrumb.active {
    background: #FE654F;
    color: #fff;
}
a{
    cursor: pointer;
}
.order-breadcrumb.active .order-breadcrumb-text:before {
    content: '';
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    display: inline-block;
    margin-right: 5px;
}
.page-title {
    padding: 20px;
}
@media only screen and (min-width: 768px) {
    /* article */
    .article-img-wrapper {
        padding: 0 30px 0 0;
    }

    .order-breadcrumb {
        -webkit-transform: skew(-30deg, 0deg);
        transform: skew(-30deg, 0deg);
    }

    .order-breadcrumb-text {
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
    }

    .first-breadcrumb:before {
        content: '';
        width: 50px;
        height: 100%;
        background: #eee;
        display: block;
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        position: absolute;
        top: 0px;
        left: -19px;
    }

    .first-breadcrumb.active:before {
        background: #FE654F;
    }

    .last-breadcrumb:after {
        content: '';
        width: 50px;
        height: 100%;
        background: #eee;
        display: block;
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        position: absolute;
        top: 0px;
        right: -19px;
    }

    .last-breadcrumb.active:after {
        background: #FE654F;
    }

    .my-cart {
        padding-bottom: 350px;
    }
    .static-article p.lead{
        margin-bottom: -28px;
    }
}
