<template>
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div
      class="kt-container"
      v-bind:class="{ 'kt-container--fluid': widthFluid }"
    >
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title">
            <template v-if="$route.meta.title">
                {{$t($route.meta.title)}}
            </template>
            <template v-else>
                {{ title }}
            </template>
        </h3>
        <div class="kt-subheader__breadcrumbs">
          <router-link :to="{name: 'Dashboard'}" class="kt-subheader__breadcrumbs-home"
            ><i class="flaticon2-shelter"></i
          ></router-link>

          <template v-for="(breadcrumb, i) in breadcrumbs">
            <span
              :key="`${i}-${breadcrumb.id}`"
              class="kt-subheader__breadcrumbs-separator"
            ></span>
            <router-link
              v-if="breadcrumb.route"
              :key="i"
              :to="breadcrumb.route"
              class="kt-subheader__breadcrumbs-link"
            >
              {{ breadcrumb.title }}
            </router-link>
            <span
              class="kt-subheader__desc"
              :key="i"
              v-if="!breadcrumb.route"
              >{{ breadcrumb.title }}</span
            >
          </template>
        </div>
      </div>
        <div class="kt-subheader__toolbar">
            <div class="btn-group" v-if="$route.path.includes('/profile') || $route.path.includes('/module-builder/index')">
                <button type="button" class="btn btn-success btn-bold" @click="save(1)">
                    {{$t('Save')}} </button>
            </div>
            <router-link :to="$route.meta.add_new_link" class="btn btn-label-success btn-bold" v-if="$route.meta.add_new_link">{{$t('Add New')}}</router-link>
            <router-link :to="$route.meta.list_link" class="btn btn-default btn-bold" v-if="$route.meta.list_link && enabled">
                {{$t('Back')}} </router-link>
            <div class="btn-group" v-if="enabled">
                <button type="button" class="btn btn-success btn-bold" @click="save(1)">
                    {{$t('Submit')}} </button>
                <button type="button" class="btn btn-success btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(113px, 35px, 0px);">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a @click="save(1)" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">{{$t('Save &amp; continue')}}</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a @click="save(2)" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">{{$t('Save &amp; add new')}}</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a @click="save(3)" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">{{$t('Save &amp; exit')}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'KTSubheader',
    props: {
        title: String
    },
    data () {
        return {
            enabled: false
        }
    },
    computed: {
        ...mapGetters(['layoutConfig']),

        breadcrumbs: function () {
            if (this.$route.meta.breadcrumbs) {
                return this.$route.meta.breadcrumbs
            }

            return []
        },

        adminUrl: function () {
            return process.env.MIX_ADMIN_URL
        },

        /**
     * Check if subheader width is fluid
     */
        widthFluid () {
            return this.layoutConfig('subheader.width') === 'fluid'
        }
    },
    watch: {
        $route: {
            handler: function (val, oldVal) {
                if (this.$route.path.includes('/create', 0) || this.$route.path.includes('/edit', 0)) {
                    this.enabled = true
                } else {
                    this.enabled = false
                }
            },
            deep: true
        }
    },
    beforeMount () {
        if (this.$route.path.includes('/create', 0) || this.$route.path.includes('/edit', 0)) {
            this.enabled = true
        } else {
            this.enabled = false
        }
    }
}
</script>
