<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <div class="row">
                        <div class="col-md-12" v-if="languages.length > 0">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" v-for="(item, index) in languages" v-bind:key="'lang-'+index">
                                    <a class="nav-link" v-bind:class="{'active' : index === 0}" :id="index+'-tab-label'" data-toggle="tab" :href="'#tab-'+index" role="tab" :aria-controls="index+'-tab'" aria-selected="true">{{item}}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" v-bind:class="{'show active' : index === 0}" :id="'tab-'+index" role="tabpanel" :aria-labelledby="index+'-tab-label'" v-for="(item, index) in languages" v-bind:key="'lang-tab-'+index">
                                    <FormInput v-model="model.name[item]" :lang="item" :title="$t('Name')" v-on:inputEvent="setSlugEditTitle(item)" v-on:blurEvent="setSlugEditTitle(item)"></FormInput>
                                    <FormInput v-model="model.slug" :title="$t('Url')" v-on:blurEvent="setSlugEditSlug(item)"></FormInput>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../../resources/js/components/form/FormCheckbox'
import FormSelect from '../../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'TagForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        tags: {
            required: true
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    methods: {
        setSlugEditTitle (_lang) {
            if (this.model.name[_lang] && this.slugEditable[_lang]) {
                this.model.slug = this.sanitizeTitle(this.model.name[_lang])
            }
        },
        setSlugEditSlug (_lang) {
            if (this.model.slug === null || this.model.slug === '') {
                this.slugEditable[_lang] = true
            } else {
                this.slugEditable[_lang] = false
            }
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormCheckbox, FormTextArea, FormInput }
}
</script>
