<template>
    <div class="kt-grid kt-grid--hor kt-grid--root" v-if="loaded">
        <KTHeaderMobile></KTHeaderMobile>
        <Loader v-if="loaderEnabled" v-bind:logo="loaderLogo"></Loader>
        <div
            class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page"
        >
            <KTAside v-if="asideEnabled"></KTAside>
            <div
                class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper"
                id="kt_wrapper"
            >
                <KTHeader></KTHeader>
                <div
                    class="kt-content kt-grid__item  kt-grid kt-grid--hor"
                    id="kt_content"
                >
                    <KTSubheader
                        v-if="subheaderDisplay"
                        v-bind:breadcrumbs="breadcrumbs"
                        v-bind:title="pageTitle"
                    ></KTSubheader>
                    <div
                        class="kt-container kt-grid__item "
                        v-bind:class="{ 'kt-container--fluid': contentFluid }"
                    >
                        <transition name="fade-in-up">
                            <router-view></router-view>
                        </transition>
                    </div>
                </div>
                <KTFooter></KTFooter>
            </div>
        </div>
        <FormFileSelectModal></FormFileSelectModal>
        <KTScrollTop></KTScrollTop>
    </div>
</template>
<style>
    .kt-container{
        width:100% !important;
    }
</style>
<script>
import KTAside from './theme/aside/Aside.vue'
import KTHeader from './theme/header/Header.vue'
import KTHeaderMobile from './theme/header/HeaderMobile.vue'
import KTFooter from './theme/footer/Footer.vue'
import HtmlClass from '../../../../../../resources/js/admin/application/common/htmlclass.service'
import KTSubheader from './theme/subheader/Subheader.vue'
import KTScrollTop from './partials/layout/ScrollTop'
import FormFileSelectModal from '../../../../../../resources/js/components/form/FormFileSelectModal'
import Loader from './partials/content/Loader.vue'
import {
    ADD_BODY_CLASSNAME,
    REMOVE_BODY_CLASSNAME
} from '../../../../../../resources/js/store/modules/htmlclass.module.js'
import { mapGetters } from 'vuex'

export default {
    name: 'Admin',
    data () {
        return {
            loaded: 0
        }
    },
    computed: {
        ...mapGetters([
            'breadcrumbs',
            'pageTitle',
            'layoutConfig'
        ]),

        /**
         * Check if the page laoder is enabled
         * @returns {boolean}
         */
        loaderEnabled () {
            return !!this.layoutConfig('loader.enabled')
        },

        /**
         * Check if container width is fluid
         * @returns {boolean}
         */
        contentFluid () {
            return this.layoutConfig('content.width') === 'fluid'
        },

        /**
         * Page loader logo image using require() function
         * @returns {string}
         */
        loaderLogo () {
            return process.env.MIX_APP_URL + '/' + this.layoutConfig('loader.logo')
        },

        /**
         * Check if the left aside menu is enabled
         * @returns {boolean}
         */
        asideEnabled () {
            return !!this.layoutConfig('aside.self.display')
        },

        /**
         * Set the right toolbar display
         * @returns {boolean}
         */
        toolbarDisplay () {
            return !!this.layoutConfig('toolbar.display')
        },

        /**
         * Set the subheader display
         * @returns {boolean}
         */
        subheaderDisplay () {
            return !!this.layoutConfig('subheader.display') && this.$route.meta.subheader
        },
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        redirectToLogin () {
            this.$router.push(`/${process.env.MIX_ADMIN_URL}/login`)
        }
    },
    beforeMount () {
        // show page loading
        this.$store.dispatch(ADD_BODY_CLASSNAME, 'kt-page--loading')

        // initialize html element classes
        HtmlClass.init()
        const self = this
        this.axios.get(`${this.url}/user`).then((response) => {
            if (response.status === 401) {
                $cookies.remove('token')
                self.redirectToLogin()
            }

            if (response.data.roles.length < 1) {
                self.redirectToLogin()
            }

            $cookies.set('userId', response.data.id, 60 * 60)
            self.$store.commit('defaultStore/setLoggedIn', true)
            self.$store.commit('defaultStore/setUser', response.data)

            self.loaded = 1
        }).catch((err) => {
            if (err.response && err.response.status === 401) {
                $cookies.remove('token')
                self.redirectToLogin()
            }
            self.loaded = 1
        })
    },
    mounted () {
        // Simulate the delay page loading
        setTimeout(() => {
            // Remove page loader after some time
            this.$store.dispatch(REMOVE_BODY_CLASSNAME, 'kt-page--loading')
        }, 2000)
    },
    components: {
        KTAside,
        KTHeader,
        KTHeaderMobile,
        KTFooter,
        KTSubheader,
        KTScrollTop,
        Loader,
        FormFileSelectModal
    }
}
</script>
