<template>
    <div>
        <FourStatistic :response="fourStatData" v-if="Object.keys(fourStatData).length > 0"></FourStatistic>
        <div class="row">
            <div class="col-md-4">
                <!--<Chart :response="chart" v-if="Object.keys(chart).length > 0"></Chart>-->
            </div>
            <div class="col-md-4">
                <BestSellers :response="bestSellers" v-if="Object.keys(bestSellers).length > 0"></BestSellers>
            </div>
            <div class="col-md-4">
                <NewItems :response="newItems" v-if="Object.keys(newItems).length > 0"></NewItems>
            </div>
        </div>
    </div>
</template>

<script>

import FourStatistic from './dashboard/FourStatistic'
import UserProfile from './dashboard/UserProfile'
import BestSellers from './dashboard/BestSellers'
import NewItems from './dashboard/NewItems'
import Chart from './dashboard/Chart'

export default {
    name: 'Dashboard',
    components: { FourStatistic, UserProfile, BestSellers, NewItems, Chart },
    beforeMount: function () {
        this.$emit('updateDisable', true)

        this.axios.get(`${this.url}/dashboard`).then(response => {
            this.fourStatData = response.data.four_stat
            this.newItems = response.data.new_items
            this.bestSellers = response.data.best_sellers
            this.chart = response.data.chart
        })
    },
    data () {
        return {
            fourStatData: {},
            newItems: {},
            bestSellers: {},
            chart: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        goTo (route) {
            this.$router.push(route)
        }
    }
}
</script>
