<template>
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div
            class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1"
            id="kt_login"
        >
            <div
                class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile"
            >
                <!--begin::Aside-->
                <div
                    class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
                    :style="{ backgroundImage: `url(${backgroundImage})` }"
                >
                    <div class="kt-grid__item">
                        <a href="#" class="kt-login__logo">
                            <img v-if="logo" :src="logo">
                        </a>
                    </div>
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                        <div class="kt-grid__item kt-grid__item--middle">
                            <h3 class="kt-login__title">{{$t('Welcome to')}} {{appName}}</h3>
                            <h4 class="kt-login__subtitle">
                                The ultimate Bootstrap &amp; Angular 6 admin theme framework for
                                next generation web apps.
                            </h4>
                        </div>
                    </div>
                    <div class="kt-grid__item">
                        <div class="kt-login__info">
                            <div class="kt-login__copyright">
                                © {{year}} {{appName}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--begin::Aside-->

                <!--begin::Content-->
                <div
                    class="kt-grid__item kt-grid__item--fluid kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper"
                >
                    <div>
                        <!--begin::Head-->
                        <div class="kt-login__head">
                        </div>
                        <!--end::Head-->

                        <!--begin::Body-->
                        <div class="kt-login__body">
                            <!--begin::Signin-->
                            <div class="kt-login__form">
                                <div class="kt-login__title">
                                    <h3>{{$t('Sign In')}}</h3>
                                </div>

                                <!--begin::Form-->
                                <b-form class="kt-form" @submit.stop.prevent="login">
                                    <div role="alert" class="alert alert-info" v-if="env === 'local'">
                                        <div class="alert-text">
                                            {{$t('Use account')}} <strong>recze01@gmail.com</strong> {{$t('and password')}}
                                            <strong>aA123456</strong> {{$t('to continue.')}}
                                        </div>
                                    </div>

                                    <FormInput v-model="form.email" :title="$t('E-mail')" :placeholder="$t('E-mail')"></FormInput>
                                    <FormInput v-model="form.password" :type="'password'" :title="$t('Password')" :placeholder="$t('Password')"></FormInput>

                                    <!--begin::Action-->
                                    <div class="kt-login__actions">
                                        <a href="#" class="kt-link kt-login__link-forgot">
                                            {{ $t('Forgot password') }}
                                        </a>
                                        <b-button
                                            type="submit"
                                            id="kt_submit"
                                            class="btn btn-primary btn-elevate kt-login__btn-primary"
                                        >
                                            {{ $t('Login') }}
                                        </b-button>
                                    </div>
                                    <!--end::Action-->
                                </b-form>
                                <!--end::Form-->
                            </div>
                            <!--end::Signin-->
                        </div>
                        <!--end::Body-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'Login',
    components: { FormInput },
    created () {
        if (this.$route.query.redirect) {
            this.redirect = this.$route.query.redirect
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        },
        logo: function () {
            return this.$store.state.defaultStore.logo
        },
        backgroundImage: function () {
            return process.env.MIX_APP_URL + '/assets/media/bg/bg-4.jpg'
        },
        appName: function () {
            return process.env.MIX_APP_NAME
        },
        year: function () {
            const d = new Date()
            return d.getFullYear()
        },
        env: function () {
            return process.env.MIX_APP_ENV
        }
    },
    data () {
        return {
            form: {
                email: '',
                password: ''
            },
            redirect: `/${process.env.MIX_ADMIN_URL}`
        }
    },
    methods: {
        login: function () {
            const submitButton = document.getElementById('kt_submit')
            submitButton.classList.add(
                'kt-spinner',
                'kt-spinner--light',
                'kt-spinner--right'
            )
            const self = this
            const uri = `${self.url}/login`
            self.axios.get('/sanctum/csrf-cookie').then((resp) => {
                self.axios.post(uri, self.form).then((response) => {
                    $cookies.set('token', response.data.token, 60 * 60)
                    $cookies.set('userId', response.data.id, 60 * 60)
                    localStorage.setItem('filters', JSON.stringify(response.data.filters))
                    document.location.href = self.redirect
                }).catch(() => {
                    submitButton.classList.remove(
                        'kt-spinner',
                        'kt-spinner--light',
                        'kt-spinner--right'
                    )
                })
            })
        }
    }
}
</script>
