<template>
    <article class="filter-group" v-if="categories">
            <div class=" tree">
                <ul class="list-menu" v-for="cat in categories" v-bind:key="cat.id">
                    <li class="list-item " v-bind:class="{'selected': selectedCategory == cat.id || childSelected(cat.children,selectedCategory)}" v-if="cat.show"><label class="form-check-label" v-on:click.stop.prevent="emitCategory(cat.id)">
                        {{ cat.name }}
                        <i v-if="selectedCategory === cat.id" class="fa fa-close pull-right"></i>
                    </label>
                        <CategoryTree :queryCategory="selectedCategory" v-on:changeCategory="emitCategory($event)" v-if="cat.children"
                                      :categories="cat.children"
                                      :depth="depth + 1">
                        </CategoryTree>
                    </li>
                </ul>
            </div> <!-- card-body.// -->
    </article>
</template>

<script>
export default {
    name: 'CategoryTree',
    props: ['categories', 'depth', 'queryCategory'],
    computed: {
        indent () {
            return { transform: `translate(${this.depth * 10}px)` }
        }
    },
    data () {
        return {
            selectedCategory: ''
        }
    },
    watch: {
        queryCategory: {
            handler: function (val, oldVal) {
                this.loadCategory(val)
            },
            deep: true
        }
    },
    methods: {
        emitCategory (category) {
            if (this.selectedCategory === category) {
                this.selectedCategory = ''
            } else {
                this.selectedCategory = category
            }
            this.$emit('changeCategory', this.selectedCategory)
        },
        loadCategory (val) {
            this.selectedCategory = val
        },
        childSelected (list, selectedCategory) {
            let has = false
            if (list) {
                for (const i in list) {
                    if (list[i].id === parseInt(selectedCategory)) {
                        has = true
                    }
                    if (!has && list[i].children) {
                        has = this.childSelected(list[i].children, selectedCategory)
                    }
                }
            }
            return has
        }

    },
    beforeMount () {
        this.loadCategory(this.queryCategory)
    }
}
</script>

<style scoped>
.tree ul {
    margin-bottom: 3px !important;
    padding-inline-start: 0px;
    list-style: none;
    display:block;
}
.tree ul li{
    padding-left:10px;
}
.tree ul li .tree {
    display:none;
}
.tree ul li.selected .tree {
    display:block;
}
.selected > label {
     color:#007bff;
     display: block;
}
</style>
