<template>
    <div class="card">
        <article>
            <header class="card-header">
        <button class="btn btn-light btn-block" v-on:click="clearFilter()">  <i class="icon-control fa fa-filter"></i>Clear filters</button>
            </header>
        </article>
        <Sets v-if="sets.sets" v-on:changeSet="setFilter('sets',$event.join(','))" :sets="sets"></Sets>
        <article>
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_category" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">{{$t('Categories')}}</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_category">
                <div class="card-body">
                    <CategoryTree :queryCategory="selectedCategory" v-on:changeCategory="setFilter('category_id',$event)" :categories="categories" :depth="0"></CategoryTree>
                </div>
            </div>
        </article>
        <article class="filter-group" v-for="(filter,ind) in filters" v-bind:key="filter.col_slug+'-head-'+ind">
            <header class="card-header">
                <a href="#" data-toggle="collapse" :data-target="'#collapse_'+filter.col_slug" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">{{filter.name}}</h6>
                </a>
            </header>
            <div class="filter-content collapse show" :id="'collapse_'+filter.col_slug" style="">
                <div class="card-body">
                    <CheckList v-if="filter.filter_type === 'Checkbox'" v-on:changeAttribute="setFilter(filter.col_slug,$event.join(','))" :filterItem="filter"></CheckList>
                    <SelectList v-if="filter.filter_type === 'Select'" v-on:changeAttribute="setFilter(filter.col_slug,$event)" :filterItem="filter"></SelectList>
                    <RadioList v-if="filter.filter_type === 'Radio'" v-on:changeAttribute="setFilter(filter.col_slug,$event)" :filterItem="filter"></RadioList>
                    <Range v-if="filter.filter_type === 'Range'" :min="filter.min" :max="filter.max" :value="filter.value" v-on:changeAttribute="setFilter(filter.col_slug,$event)" ></Range>
                </div><!-- card-body.// -->
            </div>
        </article>
    </div>
</template>

<script>
import CategoryTree from './CategoryTree'
import CheckList from './filter-components/CheckList'
import Range from './filter-components/Range'
import SelectList from './filter-components/SelectList'
import Sets from './filter-components/Sets'
export default {
    name: 'FilterComponent',
    components: { Sets, SelectList, Range, CheckList, CategoryTree },
    props: ['filters', 'categories', 'sets'],
    data () {
        return {
            selectedCategory: ''
        }
    },
    methods: {
        setFilter (key, value) {
            const filter = { key: key, value: value }
            if ((!this.$route.query[key] && value) || this.$route.query[key] !== value.toString()) {
                this.$emit('changeFilter', filter)
            }
        },
        clearFilter () {
            this.selectedCategory = ''
            this.$emit('clearFilter')
        }
    },
    watch: {
        '$route.query.category_id': {
            handler: function (val, old) {
                if (val && val !== old) {
                    this.selectedCategory = JSON.parse(JSON.stringify(val))
                }
            },
            deep: true
        }
    },
    created () {
        if (this.$route.query.category_id) {
            this.selectedCategory = JSON.parse(JSON.stringify(this.$route.query.category_id))
        }
    }
}
</script>
