<template>
    <div class="col-12">
    <div class="row" v-if="type==='list'">
        <ProductListItems  v-for="(product,index) in products" v-bind:key="'product-'+index" :product="product" :colors="colors" :packs="packs" :types="types" ></ProductListItems>
    </div>
    <div class="row" v-if="type==='grid'">
        <ProductGridItems   v-for="(product,index) in products" v-bind:key="'product-'+index" :product="product" :colors="colors" :packs="packs" :types="types" ></ProductGridItems>
    </div>
    </div>
</template>

<script>
import ProductListItems from './ProductListItems'
import ProductGridItems from './ProductGridItems'
export default {
    name: 'Items',
    data () {
        return {
            color: []
        }
    },
    components: { ProductGridItems, ProductListItems },
    props: ['products', 'filters', 'type', 'types', 'colors', 'packs']
}
</script>
