<template>
    <div class = "item">
        <div class = "product_wrap">
            <span v-if="selectedVariation.percent" class="pr_flash">{{selectedVariation.percent}}%</span>
            <div class = "product_img" >
                <router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">
                    <ImageLazy  :image = "selectedVariation.main_image" alt = "el_img9"></ImageLazy>
                    <ImageLazy  v-if="selectedVariation.sec_image" class = "product_hover_img" :image = "selectedVariation.sec_image" alt = "el_img9"></ImageLazy>
                </router-link>
                <div class = "product_action_box">
                    <ul class = "list_none pr_action_btn">
                        <li class = "add-to-cart"><a href = "#"><i class = "icon-basket-loaded"></i> {{$t('Add To Cart')}}</a></li>
                        <li><a href = "#" class = "popup-ajax"><i class = "icon-magnifier-add"></i></a></li>
                    </ul>
                </div>
            </div>
            <div  v-if="product.variations">
                <div  class="product_slider_sub" data-ride="carousel" v-on:drag.prevent.stop="null">
                    <div class="item  active"  @click.stop.prevent="selectedVariation = variation" v-on:drag.prevent.stop="null" v-for="variation in product.variations" v-bind:key="'variationid-'+product.id+'-'+variation.id">
                        <img :src="variation.main_image" alt="img1">
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class = "product_info">
                <h6 class = "product_title"><router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">{{product.name}}
                    <span v-if="getColor(selectedVariation.color_id)">{{getColor(selectedVariation.color_id).name}}</span>
                    <span v-if="getPack(selectedVariation.pack_id)">{{getPack(selectedVariation.pack_id).name}}</span>
                    <span v-if="getType(selectedVariation.type_id)">{{getColor(selectedVariation.type_id).name}}</span>
                </router-link></h6>
                <div class = "product_price" v-if="selectedVariation.price">
                    <span class = "price" ><Price :value="selectedVariation.price.toString(2)"></Price></span>
                    <del v-if="selectedVariation.price< selectedVariation.price_default"><Price :value="selectedVariation.price_default.toString(2)"></Price></del>
                </div>
                <div class = "rating_wrap" v-if="product.rating_count >0">
                    <div class = "rating">
                        <Rating :rate = "product.rating_avg"></Rating>
                    </div>
                    <span class = "rating_num">({{product.rating_count}})</span>
                </div>
                <div v-else style="height:25px"></div>

            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'

export default {
    name: 'ProductCarousel',
    props: ['product', 'types', 'colors', 'packs', 'name'],
    components: {
        Price, ImageLazy
    },
    data () {
        return {
            selectedVariation: {}
        }
    },
    computed: {
    },
    mounted () {
        this.selectVariation()
    },
    methods: {
        getColor (id) {
            if (this.colors) {
                for (let i = 0; i < this.colors.length; i++) {
                    if (this.colors[i].id === id) {
                        return this.colors[i]
                    }
                }
            }
            return null
        },
        getPack (id) {
            if (this.packs) {
            }
            for (let i = 0; i < this.packs.length; i++) {
                if (this.packs[i].id === id) {
                    return this.packs[i]
                }
            }
            return null
        },
        getType (id) {
            if (this.types) {
                for (let i = 0; i < this.packs.length; i++) {
                    if (this.packs[i].id === id) {
                        return this.packs[i]
                    }
                }
            }
            return null
        },
        selectVariation (id) {
            if (this.product.variations) {
                for (let i = 0; i < this.product.variations.length; i++) {
                    if (this.product.variations[i].id === id) {
                        this.selectedVariation = this.product.variations[i]
                        return null
                    }
                }
                this.selectedVariation = this.product.variations[0]
            }
            return null
        }

    }
}
</script>

<style scoped>

</style>
