<template>
    <div class = "item active">
        <div class = "deal_wrap">
            <div class = "product_img">
                <router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">
                    <ImageLazy  :image = "product.main_image" alt = "el_img9"></ImageLazy>
                </router-link>
            </div>
            <div class = "deal_content">
                <div class = "product_info">
                    <h5 class = "product_title"> <router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">{{product.name}}
                        <span v-if="getColor(product.color_id)">{{getColor(product.color_id).name}}</span>
                        <span v-if="getPack(product.pack_id)">{{getPack(product.pack_id).name}}</span>
                        <span v-if="getType(product.type_id)">{{getColor(product.type_id).name}}</span></router-link></h5>
                    <div class = "product_price" v-if="product.deals">
                        <span class = "price" ><Price :value="product.deals"></Price></span>
                        <del v-if="product.deals< product.price_default"><Price :value="product.price_default"></Price></del>
                    </div>
                </div>
                <div class = "deal_progress">
                    <span class = "stock-sold"></span>
                    <span class = "stock-available">{{$t('Available')}}: <strong>{{product.in_stock}}</strong></span>
                    <div class="clearfix"></div>
                    <div class = "progress">
                        <div class = "progress-bar" role = "progressbar" :aria-valuenow = "parseInt((now/product.discount_to)*100)/2" aria-valuemin = "0" aria-valuemax = "100" :style = "'width:'+parseInt((now/product.discount_to)*100/2)+'%'"> {{parseInt((now/product.discount_to)*100)/2}}%</div>
                    </div>
                </div>
                <div class = "countdown_time countdown_style4 mb-4" data-time = "2020/06/02 12:30:15">
                    <div class = "countdown_box">
                        <div class = "countdown-wrap"><span class = "countdown days">{{days}} </span><span class = "cd_text">{{$t('Days')}}</span></div>
                    </div>
                    <div class = "countdown_box">
                        <div class = "countdown-wrap"><span class = "countdown hours">{{hours}}</span><span class = "cd_text">{{$t('Hours')}}</span></div>
                    </div>
                    <div class = "countdown_box">
                        <div class = "countdown-wrap"><span class = "countdown minutes">{{minutes}}</span><span class = "cd_text">{{$t('Minutes')}}</span></div>
                    </div>
                    <div class = "countdown_box">
                        <div class = "countdown-wrap"><span class = "countdown seconds">{{seconds}}</span><span class = "cd_text">{{$t('Seconds')}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import ProductCarousel from './ProductCarousel'
export default {
    name: 'ProductCarousel',
    props: ['product', 'types', 'colors', 'packs', 'name'],
    data () {
        return {
            now: new Date().getTime() / 1000
        }
    },
    components: {
        Price, ImageLazy
    },
    created () {
        const self = this
        setInterval(function () {
            self.now = new Date().getTime() / 1000
        }, 1000)
    },
    computed: {
        days: function () {
            const d = Math.trunc((this.product.discount_to - this.now) / 3600 / 24)
            return d > 9 ? d : '0' + d
        },
        hours () {
            let h = Math.trunc((this.product.discount_to - this.now) / 3600)
            h = Math.trunc(h - parseInt(this.days) * 24)
            return h > 9 ? h : '0' + h
        },
        minutes () {
            const m = Math.trunc((this.product.discount_to - this.now) / 60) % 60
            return m > 9 ? m : '0' + m
        },
        seconds () {
            const s = Math.trunc((this.product.discount_to - this.now)) % 60
            return s > 9 ? s : '0' + s
        }
    },
    extends: ProductCarousel,

    methods: {

    }
}
</script>

<style scoped>

</style>
