<template>
    <div class = "">
            <div class = "breadcrumb_section bg_gray page-title-mini" style="margin-bottom: 10px;padding:15px 0">
                <div class = "container">
                    <div class = "row align-items-center">
                        <div class = "col-md-6">
                            <div class = "page-title" v-if="selectedCategory"><h1>{{selectedCategory.name}}</h1>
                                <div class="text-muted">
                                    {{selectedCategory.description}}
                                </div>
                            </div>
                        </div>
                        <div class = "col-md-6">
                            <ol class = "breadcrumb justify-content-md-end">
                                <li class = "breadcrumb-item"><a href = "/" class = "router-link-active">{{$t('Home')}}</a></li>
                                <li class = "breadcrumb-item " v-for="(bread,index) in breadcrumbs" v-bind:key="'bread-'+index" v-bind:class="{'active':breadcrumbs.length == index+1}">
                                    <router-link v-if="breadcrumbs.length> index+1" :to="{name: 'ProductList',params:{ category: bread.slug}}">{{bread.name}}</router-link>
                                    <span v-else>{{bread.name}}</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        <div class = "container">
            <div class = "row" id="productContainer" v-bind:class="{'shop_container list': type== 'list'}">
                <div class = "col-12">
                    <Sort :category = "categories" v-on:changeView="changeView($event)" v-on:search="search($event)" :type="type"></Sort>
                    <Items :type = "type" v-if = "loaded" :filters = "filters" :products = "products" :colors = "colors" :packs = "packs" :types = "types"></Items>
                    <InfinityScroll v-if="meta && meta.last_page >meta.current_page" :infinityLoading="infinityLoading" :HTMLElement="'productContainer'" v-on:loadMore="paginate()"></InfinityScroll>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Items from './Items'
import Sort from './Sort'
import Webshop from './../Webshop'
import FilterComponent from './FilterComponent'
import Pagination from './Pagination'
import LoadingSvg from '../LoadingSvg'
import InfinityScroll from '../InfinityScroll'
export default {
    name: 'ProductList',
    extends: { Webshop },
    components: { LoadingSvg, Pagination, FilterComponent, Sort, Items, InfinityScroll },
    data () {
        return {
            infinityLoading: false,
            filters: [],
            sorts: [],
            categories: [],
            products: [],
            colors: [],
            types: [],
            packs: [],
            meta: [],
            loaded: true,
            type: 'grid',
            breadcrumbs: [],
            selectedCategory: null,
            slug: '',
            query: '',
            page: 1,
            timeount: null
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/product`
        }
    },
    watch: {
        '$route.params.category': {
            handler: function (val) {
                this.buildBreadcrumb(val)
            }
        }
    },
    created () {
        if (this.$route.params.category) {
            this.slug = JSON.parse(JSON.stringify(this.$route.params.category))
        } else {
            this.slug = ''
        }
        this.getAdditional().then(() => {
            this.buildBreadcrumb(this.$route.params.category)
        })
        this.getProductList().then(() => {
            window.$('.product_slider_sub').owlCarousel({
                loop: false,
                nav: false,
                dots: true,
                margin: 20,
                responsiveClass: true,
                responsive:
                        { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '2' } }
            })
        })
    },
    methods: {
        getProductList (add = false) {
            return new Promise((resolve, reject) => {
                this.infinityLoading = true
                this.axios.get(this.url + '/list' + ((this.slug) ? '/' + this.slug : '') + '?page=' + this.page + '&' + this.query).then((response) => {
                    if (add) {
                        response.data.data.forEach((item) => {
                            this.products.push(item)
                        })
                    } else {
                        this.products = response.data.data
                    }

                    this.filters = response.data.filters
                    this.meta = response.data.meta
                    this.sorts = response.data.sorts
                    this.loaded = true
                    this.infinityLoading = false
                    resolve(true)
                })
            })
        },
        buildBreadcrumb (slug) {
            this.breadcrumbs = []
            for (let i = 0; i < this.categories.length; i++) {
                if (this.categories[i].slug.toString() === slug.toString()) {
                    this.breadcrumbs.push(this.categories[i])
                    this.selectedCategory = this.categories[i]
                    return
                }
                for (let j = 0; j < this.categories[i].children.length; j++) {
                    if (this.categories[i].children[j].slug.toString() === slug.toString()) {
                        this.breadcrumbs.push(this.categories[i].children[j])
                        this.selectedCategory = this.categories[i].children[j]
                        return
                    }
                }
            }
        },
        changeView (val) {
            this.type = val
            setTimeout(() => {
                window.$('.product_slider_sub').owlCarousel({
                    loop: false,
                    nav: false,
                    dots: true,
                    margin: 20,
                    responsiveClass: true,
                    responsive:
                    { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '2' } }
                })
            }, 500)
        },
        getAdditional () {
            return new Promise((resolve, reject) => {
                this.axios.get(this.url + '/get-additional').then((response) => {
                    this.categories = response.data.categoryThree
                    this.colors = response.data.colors
                    this.types = response.data.types
                    this.packs = response.data.packs
                    resolve(true)
                })
            })
        },
        search ($event) {
            this.page = 1
            if (this.$route.params.category) {
                this.slug = JSON.parse(JSON.stringify(this.$route.params.category))
            } else {
                this.slug = ''
            }
            this.query = ''
            this.query += 'sort=' + $event.sort
            this.query += ($event.search) ? '&search=' + $event.search : ''
            clearTimeout(this.timeount)
            this.timeount = null
            this.loaded = true
            this.timeount = setTimeout(() => {
                this.loaded = false
                this.getProductList().then(() => {
                    window.$('.product_slider_sub').owlCarousel({
                        loop: false,
                        nav: false,
                        dots: true,
                        margin: 20,
                        responsiveClass: true,
                        responsive:
                            { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '2' } }
                    })
                })
            }, 500)
        },
        paginate () {
            this.getProductList(true, this.page++).then(() => {
                window.$('.product_slider_sub').owlCarousel({
                    loop: false,
                    nav: false,
                    dots: true,
                    margin: 20,
                    responsiveClass: true,
                    responsive:
                    { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '2' } }
                })
            })
        }
    }
}
</script>
