<template>
    <form action="#" class="search">
        <div class="input-group w-100">
            <input type="text" v-model="search" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" v-on:click.stop.prevent="searchProduct()" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form> <!-- search-wrap .end// -->
</template>

<script>
export default {
    name: 'Search',
    data () {
        return {
            search: null
        }
    },
    methods: {
        searchProduct () {
            this.$router.push({ name: 'ProductList' })
            this.$eventHub.$emit('searchProduct', this.search)
        }
    }
}
</script>
