<template>
    <div class="row align-items-center mb-4 pb-1">
    <div class="col-12">
        <div class="product_header">
            <div class="product_header_left" style="display: inline-flex">
                <CategorySearch v-on:triggerSearch="searchEvent()" :options="category"></CategorySearch>
                <div class="product_header_left sort-search">
                    <div class="custom_input">
                        <input  v-model="filter.search" :placeholder="$t('Search in category...')"  type="search" v-on:keyup="searchEvent()" class="form-control form-control-sm">
                    </div>
                </div>
                <a href="#" class="shorting_icon grid active" v-on:click.prevent="clearFilter()"><i class="ti-trash"></i></a>
            </div>
            <div class="product_header_right " style="display: inline-flex">
                <div class="custom_select sort-search">
                    <select class="form-control form-control-sm" v-model="filter.sort" v-on:change="searchEvent()">
                        <option value="order">{{$t('Default sorting')}}</option>
                        <option value="popularity">{{$t('Sort by popularity')}}</option>
                        <option value="date">{{$t('Sort by newness')}}</option>
                        <option value="price">{{$t('Sort by price: low to high')}}</option>
                        <option value="price-desc">{{$t('sort by price: high to low')}}</option>
                    </select>
                </div>
                <div class="products_view">
                    <a href="#" class="shorting_icon grid " v-bind:class="{'active':type=='grid'}" v-on:click.prevent.stop="changeView('grid')"><i class="ti-view-grid"></i></a>
                    <a href="#" class="shorting_icon list" v-bind:class="{'active':type=='list'}" v-on:click.prevent.stop="changeView('list')"><i class="ti-layout-list-thumb"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import CategorySearch from './filter-components/CategorySearch'
export default {
    name: 'Sort',
    props: ['sorts', 'meta', 'type', 'category', 'selectedCategory'],
    data () {
        return {
            filter: {
                sort: 'order',
                search: null,
                category: null
            }
        }
    },
    components: { CategorySearch },
    watch: {
        sort: {
            handler: function (val, oldVal) {
                if (oldVal !== val) {
                    this.$emit('changeSort', val)
                }
            }
        }
    },
    methods: {
        changeView (type) {
            this.$emit('changeView', type)
        },
        searchEvent () {
            this.$emit('search', this.filter)
        },
        clearFilter () {
            this.$router.push({ name: 'ProductList' })
            this.filter.search = null
            this.searchEvent()
        }
    },
    mounted () {
        if (this.$route.query && this.$route.query.sort) {
            this.sort = this.$route.query.sort
        }
        if ((!this.$route.query || !this.$route.query.sort) && this.sorts) {
            this.sort = this.sorts[0].value
        }
    }
}
</script>
