<template>
    <div class = "modal fade" id = "forgotModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class = "">
                    <div class = "row justify-content-center">
                        <div class = "col-xl-12">
                            <div class = "login_wrap">
                                <div class = "padding_eight_all bg-white">
                                    <div class = "heading_s1">
                                        <h3>{{$t('Forgot password')}}</h3>
                                    </div>
                                    <form>
                                        <p>{{$t('Please enter the email address you registered with us and we will send you a password reminder.')}}</p>
                                        <FrontendInput v-model = "model.email" :placeholder = "$t('E-mail')"></FrontendInput>

                                        <div class="login_footer form-group"><div class="chek-form"><div class="custome-checkbox"></div></div> <a href="#" @click.prevent="loginModal()">{{$t('Login')}}</a></div>
                                        <div class = "form-group">
                                            <button type = "submit" class = "btn btn-fill-out btn-block" name = "register" v-on:click.stop.prevent = "doReset()">{{$t('Send password reminder')}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ForgetPass from '../../../../../../../resources/js/components/ForgetPass'
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'

export default {
    name: 'ForgetPasswordWeb',
    components: { FrontendInput },
    extends: ForgetPass,
    methods: {
        loginModal () {
            window.$('#loginModal').modal('show')
            window.$('#forgotModal').modal('hide')
        }
    }
}
</script>
