<template>
    <div class = "modal fade" id = "loginModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <!-- START LOGIN SECTION -->
                <div class = "">
                    <div class = "row justify-content-center">
                            <div class = "col-xl-12">
                                <div class = "login_wrap">
                                    <div class = "padding_eight_all bg-white">
                                        <div class = "heading_s1">
                                            <h3>Login</h3>
                                        </div>
                                        <form method = "post">
                                            <FrontendInput v-model="model.email" :placeholder="$t('Your email address')"></FrontendInput>
                                            <FrontendInput v-model="model.password" :type="'password'" :placeholder="$t('Password')"></FrontendInput>
                                            <div class = "login_footer form-group">
                                                <div class = "chek-form">
                                                    <div class = "custome-checkbox">
                                                    </div>
                                                </div>
                                                <a href = "#" @click.prevent="forgotModal()">{{$t('Forgot password?')}}</a>
                                            </div>
                                            <div class = "form-group">
                                                <button type = "submit" class = "btn btn-fill-out btn-block" name = "login" @click.prevent="doLogin()">{{$t('Log in')}}</button>
                                            </div>
                                        </form>
                                        <div class = "different_login">
                                            <span> {{$t('or')}}</span>
                                        </div>
                                        <SocialLogin></SocialLogin>
                                        <div class = "form-note text-center">{{$t('Don\'t Have an Account?')}} <a href = "#" @click.prevent="registrationModal()">{{$t('Sign up now')}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import Login from '../../../../../../../resources/js/components/Login'
import SocialLogin from './SocialLogin'

export default {
    name: 'LoginWeb',
    extends: Login,
    components: { SocialLogin, FrontendInput },
    methods: {
        registrationModal () {
            window.$('#registrationModal').modal('show')
            window.$('#loginModal').modal('hide')
        },
        forgotModal () {
            window.$('#forgotModal').modal('show')
            window.$('#loginModal').modal('hide')
        }
    }
}

</script>
