<template>
    <div>
        <div class="breadcrumb_section bg_gray page-title-mini">
            <div class="container"><!-- STRART CONTAINER -->
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-title">
                            <h1>Register</h1>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb justify-content-md-end">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">Register</li>
                        </ol>
                    </div>
                </div>
            </div><!-- END CONTAINER-->
        </div>
    <div class="main">
        <div class="custom-container">

            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <a href="#" v-on:click.stop.prevent="changeTab('profile')" v-bind:class="{'btn-primary': selectedTab === 'profile'}" class="categories_btn profile-btn ">{{$t('Personal data')}}</a>
                        <a href="#" v-on:click.stop.prevent="changeTab('address')" v-bind:class="{'btn-primary': selectedTab === 'address'}" class="categories_btn profile-btn">{{$t('Invoicing and shipping')}}</a>
                        <a href="#" v-on:click.stop.prevent="changeTab('password')" v-bind:class="{'btn-primary': selectedTab === 'password'}" class="categories_btn profile-btn" >{{$t('Change password')}}</a>
                        <a href="#" v-on:click.stop.prevent="changeTab('orders')" v-bind:class="{'btn-primary': selectedTab === 'orders'}" class="categories_btn profile-btn">{{$t('My orders')}}</a>
                    </ul>
                </aside>
                <main class="col-md-9">
                    <article class="card mb-3">
                        <div class="card-body">
                            <Orders v-if="selectedTab=== 'orders'"></Orders>
                            <InvoiceAndShipping v-if="selectedTab=== 'address'" :profile="profile"></InvoiceAndShipping>
                            <PasswordChange v-if="selectedTab=== 'password'" ></PasswordChange>
                            <PersonalData v-if="selectedTab=== 'profile'" :profile="profile"></PersonalData>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
    </div>
</template>
<style>
    .profile-btn{
        background: white !important;
        color: #FE654F;
        margin-bottom: 10px;
    }
    .profile-btn.active{
        background: inherit !important;
        margin-bottom: 10px;
    }
</style>
<script>

import Orders from './Profile/Orders'
import InvoiceAndShipping from './Profile/InvoiceAndShipping'
import PasswordChange from './Profile/PasswordChange'
import PersonalData from './Profile/PersonalData'

export default {
    name: 'Profile',
    components: { PersonalData, PasswordChange, InvoiceAndShipping, Orders },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data: function () {
        return {
            selectedTab: 'orders',

            profile: {
                billing: {
                    name: null,
                    country: null,
                    city: null,
                    zip: null,
                    address: null,
                    vat_number: null
                },
                shipping: {
                    name: null,
                    country: null,
                    city: null,
                    zip: null,
                    address: null,
                    phone: null
                }
            }
        }
    },
    created () {
        this.initUserPage()
    },
    mounted: function () {
    },
    methods: {
        changeTab (val) {
            this.selectedTab = val
        },
        initUserPage () {
            this.axios.get(this.url + 'user/profile').then((response) => {
                this.profile = response.data.data
                this.$store.commit('defaultStore/setUser', response.data.data)

                if (this.profile.billing === null) {
                    this.profile.billing = {
                        name: null,
                        country: null,
                        city: null,
                        zip: null,
                        address: null,
                        vat_number: null
                    }
                }

                if (this.profile.shipping === null) {
                    this.profile.shipping = {
                        name: null,
                        country: null,
                        city: null,
                        zip: null,
                        address: null,
                        phone: null
                    }
                }

                if (this.profile.avatar !== null) {
                    this.hasImage = true
                    this.image = this.profile.avatar
                }
            })
        }
    }
}
</script>
