<template>
    <div class = "modal fade" id = "registrationModal" tabindex = "-1" role = "dialog" aria-labelledby = "exampleModalLabel" aria-hidden = "true">
        <div class = "modal-dialog">
            <div class = "modal-content">
                <div class = "">
                    <div class = "row justify-content-center">
                        <div class = "col-xl-12">
                            <div class = "login_wrap">
                                <div class = "padding_eight_all bg-white">
                                    <div class = "heading_s1">
                                        <h3>{{$t('Create an Account')}}</h3>
                                    </div>
                                    <form method = "post">
                                        <FrontendInput v-model="model.email" :placeholder="$t('Email')"></FrontendInput>
                                        <FrontendInput type="password" v-model="model.password" :placeholder="$t('Password')"></FrontendInput>
                                        <FrontendInput type="password" v-model="model.password_confirmation" :placeholder="$t('Password again')" ></FrontendInput>
                                        <p class="small mt-3">{{$t('The password must be at least 8 characters long and must contain lowercase, uppercase letters, numbers and special characters!')}}</p>
                                        <div class = "form-group">
                                            <button type = "submit" class = "btn btn-fill-out btn-block" name = "register" @click="doRegister()">{{$t('Register')}}</button>
                                        </div>
                                    </form>
                                    <div class = "different_login">
                                        <span>{{$t('or')}}</span>
                                    </div>
                                    <ul class = "btn-login list_none text-center">
                                        <li><a href = "#" class = "btn btn-facebook"><i class = "ion-social-facebook"></i>Facebook</a></li>
                                        <li><a href = "#" class = "btn btn-google"><i class = "ion-social-googleplus"></i>Google</a></li>
                                    </ul>
                                    <div class = "form-note text-center">{{$t('Already have an account?')}} <a href = "#" @click.prevent="loginModal()">{{$t('Log in')}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMask from '../../../../../../../resources/js/frontend/components/form/FrontendMask'
import FrontendCheckbox from '../../../../../../../resources/js/frontend/components/form/FrontendCheckbox'
import Register from '../../../../../../../resources/js/components/Register'

export default {
    name: 'RegistrationWeb',
    extends: Register,
    components: { FrontendInput, FrontendMask, FrontendCheckbox },
    methods: {
        loginModal () {
            window.$('#loginModal').modal('show')
            window.$('#registrationModal').modal('hide')
        }
    }
}

</script>
