<template>
    <section class="section-conten padding-y">

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px;">
            <div class="card-body">
                <h4 class="card-title mb-4">{{$t('Change password')}}</h4>
                <form>
                    <!-- <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp;  Sign in with Facebook</a>
                     <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp;  Sign in with Google</a> -->

                    <FrontendInput type="password" v-model="model.password" :placeholder="$t('Password')" :title="$t('Password')"></FrontendInput>
                    <FrontendInput type="password_confirm" v-model="model.password_confirm" :placeholder="$t('Password confirm')" :title="$t('Password confirm')"></FrontendInput>

                    <div class="form-group">
                        <router-link class="float-right" :to="'/forget'">{{$t('Forget password?')}}</router-link>
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button v-on:click.stop.prevent="doReset()" class="btn btn-primary btn-block"> {{ $('Change') }} </button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Don't have account?<router-link :to="'/register'">Sign up</router-link></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
</template>

<script>

import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import ResetPass from '../../../../../../../resources/js/components/ResetPass'
export default {
    name: 'ResetPasswordWeb',
    components: { FrontendInput },
    extends: ResetPass
}
</script>
