<template>
    <ul class = "btn-login list_none text-center">
        <li><a href = "#" @click.prevent="AuthProvider('facebook')" class = "btn btn-facebook"><i class = "ion-social-facebook"></i>Facebook</a></li>
        <li><a href = "#" @click.prevent="AuthProvider('google')" class = "btn btn-google"><i class = "ion-social-googleplus"></i>Google</a></li>
        <li><a href = "#" @click.prevent="AuthProvider('twitter')" class = "btn btn-twitter"><i class = "ion-social-twitter"></i>Twitter</a></li>
    </ul>
</template>

<script>

export default {
    name: 'SocialLogin',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {

        AuthProvider (provider) {
            var self = this
            if (provider === 'twitter') {

            } else {
                self.$auth.authenticate(provider).then(response => {
                    self.SocialLogin(provider, response)
                }).catch(err => {
                    console.log({ err: err })
                })
            }
        },

        SocialLogin (provider, response) {
            this.axios.post(this.url + '/social-login/' + provider, response).then(response => {
                console.log(response.data)
            }).catch(err => {
                console.log({ err: err })
            })
        }

    }
}
</script>

<style scoped>

</style>
