<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.product_id"  :title="$t('Product')"></FormInput>
<FormInput v-model="model.variation_id"  :title="$t('variation_id')"></FormInput>
<FormInput v-model="model.unit_price"  :title="$t('Unit price')"></FormInput>
<FormInput v-model="model.amount"  :title="$t('Amount')"></FormInput>
<FormInput v-model="model.order_id"  :title="$t('order_id')"></FormInput>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'OrderItemForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
