<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`OrderItem`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'OrderItemList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedOrderItem', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'product_id',
                    sortField: 'product_id',
                    title: this.$translate.t('Product')
                },
                {
                    name: 'variation_id',
                    sortField: 'variation_id',
                    title: this.$translate.t('variation_id')
                },
                {
                    name: 'unit_price',
                    sortField: 'unit_price',
                    title: this.$translate.t('Unit price')
                },
                {
                    name: 'amount',
                    sortField: 'amount',
                    title: this.$translate.t('Amount')
                },
                {
                    name: 'order_id',
                    sortField: 'order_id',
                    title: this.$translate.t('order_id')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
