<template>
    <OrderItemForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></OrderItemForm>
</template>

<script>
import OrderItemForm from './OrderItemForm'
import OrderItem from './OrderItem'

export default {
    name: 'OrderItemEdit',
    extends: OrderItem,
    data () {
        return {
            model: {}
        }
    },
    components: { OrderItemForm },
    beforeMount: function () {
        this.handleUpdate('order-items', this.url, {})

        this.getOrderItem()
    }
}
</script>
