<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.name" :title="$t('Name')"></FormInput>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" type="button" @click="addNewItem">{{$t('Add new menu item')}}</button>
                            <MenuItem v-model="model" :options="model.items"></MenuItem>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import draggable from 'vuedraggable'
import MenuItem from './MenuItem'

export default {
    name: 'MenuForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    components: { MenuItem, FormCheckbox, FormTextArea, FormInput, draggable },
    methods: {
        addNewItem () {
            this.model.items.push({
                id: Math.floor(Math.random() * 10000),
                title: {},
                children: [],
                link: ''
            })
            this.$emit('onUpdateMenu', this.menu)
        }
    }
}
</script>
