<template>
    <OrderForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></OrderForm>
</template>

<script>
import OrderForm from './OrderForm'
import Order from './Order'

export default {
    name: 'OrderEdit',
    extends: Order,
    data () {
        return {
            model: {}
        }
    },
    components: { OrderForm },
    beforeMount: function () {
        this.handleUpdate('orders', this.url, {})

        this.getOrder()
    }
}
</script>
