<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormInput v-model="model.uuid"  :title="$t('uuid')"></FormInput>
<FormInput v-model="model.order_total"  :title="$t('Order total')"></FormInput>
<FormInput v-model="model.shpping_price"  :title="$t('Shipping price')"></FormInput>
<FormInput v-model="model.discount"  :title="$t('Discount')"></FormInput>
<FormInput v-model="model.coupon"  :title="$t('Coupon code')"></FormInput>
<FormSelect v-model="model.status"  :title="$t('Status')" v-if="model && model.selectables && {}" :options="{}"></FormSelect>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'OrderForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormSelect },
    methods: {},
    created () {},
    mounted () {}
}
</script>
