<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`order`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'OrderList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedOrder', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'order_total',
                    sortField: 'order_total',
                    title: this.$translate.t('Order total')
                },
                {
                    name: 'shpping_price',
                    sortField: 'shpping_price',
                    title: this.$translate.t('Shipping price')
                },
                {
                    name: 'discount',
                    sortField: 'discount',
                    title: this.$translate.t('Discount')
                },
                {
                    name: 'coupon',
                    sortField: 'coupon',
                    title: this.$translate.t('Coupon code')
                },
                {
                    name: 'status',
                    sortField: 'status',
                    title: this.$translate.t('Status')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
