<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`coupon`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'CouponList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedCoupon', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'code',
                    sortField: 'code',
                    title: this.$translate.t('Code')
                },
                {
                    name: 'date_from',
                    sortField: 'date_from',
                    title: this.$translate.t('Valid from')
                },
                {
                    name: 'date_to',
                    sortField: 'date_to',
                    title: this.$translate.t('Valid to')
                },
                {
                    name: 'type',
                    sortField: 'type',
                    title: this.$translate.t('Type')
                },
                {
                    name: 'value',
                    sortField: 'value',
                    title: this.$translate.t('Price or Discount percent')
                },
                {
                    name: 'users',
                    sortField: 'users',
                    title: this.$translate.t('User list')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
