<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">

            <h3 class = "text-info">{{ $t('Coupon details') }}</h3>
        </div>
        <div class = "kt-portlet">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-md-6">
                                <FormInput :readonly = "'readonly'" v-model = "model.code" :title = "$t('Code')"
                                ></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormSelect v-model = "model.type" :title = "$t('Type')"
                                            :options = "{'1':$t('Fix price'),'2':$t('Discount percent'),'3':$t('Free shipping')}"
                                ></FormSelect>
                            </div>
                            <div class = "col-md-6">
                                <FormDateTimePicker v-model = "model.date_from" :title = "$t('Valid from')"
                                ></FormDateTimePicker>
                            </div>
                            <div class = "col-md-6">
                                <FormDateTimePicker v-model = "model.date_to" :title = "$t('Valid to')"
                                ></FormDateTimePicker>
                            </div>
                            <div class = "col-md-6">
                                <FormInput v-if = "model.type != 3" v-model = "model.value"
                                           :title = "$t('Price or Discount percent')"
                                ></FormInput>
                            </div>
                            <div class = "col-md-6">
                                <FormSelect :select2 = "true" :multiple = "true" v-model = "model.users"
                                            :title = "$t('User list')" v-if = "model && model.selectables && {}"
                                            :options = "model.selectables.users"
                                ></FormSelect>
                            </div>
                            <div class = "col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormDateTimePicker from '../../../../../../resources/js/components/form/FormDateTimePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'CouponForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput, FormDateTimePicker, FormSelect },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
