<template>
    <CouponForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></CouponForm>
</template>

<script>
import CouponForm from './CouponForm'
import Coupon from './Coupon'

export default {
    name: 'CouponEdit',
    extends: Coupon,
    data () {
        return {
            model: {}
        }
    },
    components: { CouponForm },
    beforeMount: function () {
        this.handleUpdate('coupon', this.url, {})

        this.getCoupon()
    }
}
</script>
