<template>
    <div>
        <router-view :url="url"></router-view>
    </div>
</template>

<script>
export default {
    name: 'Blog',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/blog`
        }
    },
    watch: {
        model: {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.$store.commit('defaultStore/setModel', val)
                }
            },
            deep: true
        },
        '$store.state.defaultStore.model': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    this.model = val
                }
            },
            deep: true
        }
    },
    methods: {
        getBlog () {
            this.axios.get(this.url + '/credentials').then((response) => {
                this.credentials = response.data
            })

            let id = 0
            if (this.$route.params.id) {
                id = this.$route.params.id
            }

            this.axios.get(this.url + '/show/' + id).then((response) => {
                this.model = response.data.data

                if (!this.model.categories) {
                    this.model.categories = []
                } else {
                    const helper = this.model.categories
                    this.model.categories = []
                    for (const it in helper) {
                        this.model.categories[helper[it]] = true
                    }
                }
            })
        }
    }
}
</script>
