<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <div class="row">
                        <div class="col-md-12" v-if="languages.length > 0">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" v-for="(item, index) in languages" v-bind:key="'lang-'+index">
                                    <a class="nav-link" v-bind:class="{'active' : index === 0}" :id="index+'-tab-label'" data-toggle="tab" :href="'#tab-'+index" role="tab" :aria-controls="index+'-tab'" aria-selected="true">{{item}}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" v-bind:class="{'show active' : index === 0}" :id="'tab-'+index" role="tabpanel" :aria-labelledby="index+'-tab-label'" v-for="(item, index) in languages" v-bind:key="'lang-tab-'+index">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <FormInput v-model="model.title[item]" :lang="item" :title="$t('Title')"></FormInput>
                                            <FormTextArea v-model="model.lead[item]" :lang="item" :title="$t('Lead')"></FormTextArea>
                                            <FormWyswygEditor v-model="model.content[item]" :lang="item" :title="$t('Content')"></FormWyswygEditor>
                                        </div>
                                        <div class="col-md-3">
                                            <FormInput v-model="model.slug" :title="$t('Url')" v-on:keyupEvent="setSlugEditSlug(item)"></FormInput>
                                            <a :href="fullUrl" target="_blank">{{fullUrl[item]}}</a>
                                            <FormInput v-model="model.meta_title[item]" :lang="item" :title="$t('Meta Title')"></FormInput>
                                            <FormTextArea v-model="model.meta_description[item]" :lang="item" :title="$t('Meta Description')"></FormTextArea>
                                            <FormDateTimePicker v-model="model.publication_date" :lang="item" :title="$t('Publication date')"></FormDateTimePicker>
                                            <FormTags v-model="model.tags" :title="$t('Tags')" :lang="item" :options="credentials.tags"></FormTags>
                                            <FormFileUpload v-model="model.main_image" :lang="item" :title="$t('Main image')"></FormFileUpload>
                                            <CategoryTree v-model="model.categories" :lang="item" :options="credentials.categories"></CategoryTree>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDatePicker from '../../../../../../resources/js/components/form/FormDatePicker'
import FormDateTimePicker from '../../../../../../resources/js/components/form/FormDateTimePicker'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormTags from '../../../../../../resources/js/components/form/FormTags'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import CategoryTree from './CategoryTree'

export default {
    name: 'BlogForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        credentials: {
            required: true,
            type: Object
        }
    },
    computed: {
        postPrefix: function () {
            return this.$store.state.defaultStore.prefixes.blog
        },
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
                this.setSlugEditSlug(it)
            }
            return l
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    components: {
        CategoryTree,
        FormFileUpload,
        FormTags,
        FormSelect,
        FormDateTimePicker,
        FormDatePicker,
        FormWyswygEditor,
        FormCheckbox,
        FormTextArea,
        FormInput
    },
    methods: {
        fullUrl: function (_lang) {
            if (this.model.slug[_lang] === null) {
                return `${process.env.MIX_APP_URL}/`
            }
            return `${process.env.MIX_APP_URL}/${this.model.slug}`
        },
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    }
}
</script>
