<template>
    <ProductRatingForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProductRatingForm>
</template>

<script>
import ProductRatingForm from './ProductRatingForm'
import ProductRating from './ProductRating'

export default {
    name: 'ProductRatingEdit',
    extends: ProductRating,
    data () {
        return {
            model: {}
        }
    },
    components: { ProductRatingForm },
    beforeMount: function () {
        this.handleUpdate('productrating', this.url, {})

        this.getProductRating()
    }
}
</script>
