<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`productrating`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'ProductRatingList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedProductRating', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'name',
                    sortField: 'name',
                    title: this.$translate.t('Name')
                },
                {
                    name: 'email',
                    sortField: 'email',
                    title: this.$translate.t('Email')
                },
                {
                    name: 'rate',
                    sortField: 'rate',
                    title: this.$translate.t('Rating')
                },
                {
                    name: 'moderated',
                    sortField: 'moderated',
                    title: this.$translate.t('Moderated')
                },
                {
                    name: 'title',
                    sortField: 'title',
                    title: this.$translate.t('Title')
                },
                {
                    name: 'comment',
                    sortField: 'comment',
                    title: this.$translate.t('Comment')
                },
                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
