<template>
    <router-view></router-view>
</template>

<script>
import { OVERRIDE_LAYOUT_CONFIG } from '../../store/modules/config.module'

export default {
    name: 'App',
    mounted () {
        this.$store.dispatch(OVERRIDE_LAYOUT_CONFIG)
    }
}
</script>
