<template>
    <PackForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></PackForm>
</template>

<script>
import PackForm from './PackForm'
import Pack from './Pack'

export default {
    name: 'PackEdit',
    extends: Pack,
    data () {
        return {
            model: {}
        }
    },
    components: { PackForm },
    beforeMount: function () {
        this.handleUpdate('pack', this.url, {})

        this.getPack()
    }
}
</script>
