<template>
    <div>
        <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{$t('Pack details')}}</h3>
        </div>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="row">
                    <div class="col-md-6" v-for="l in languages" v-bind:key="'lang'+l">
                        <FormInput v-model="model.name[l]"  :title="$t('Name')" :flag="l"></FormInput>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'

export default {
    name: 'PackForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormInput },
    methods: {},
    created () {},
    mounted () {}
}
</script>
