
<template>
    <ProductCategoryForm v-if="Object.keys(model).length > 0" :url="url" :model="model" :categories="categories"></ProductCategoryForm>
</template>

<script>
import ProductCategoryForm from './ProductCategoryForm'
import ProductCategory from './ProductCategory'

export default {
    name: 'ProductCategoryCreate',
    extends: ProductCategory,
    data () {
        return {
            model: {},
            categories: []
        }
    },
    components: { ProductCategoryForm },
    beforeMount: function () {
        this.handleCreate('product-category', this.url, {})

        this.getProductCategory()
    }
}
</script>
