<template>
    <div>
    <div class="alert alert-custom alert-white alert-shadow kt-portlet" role="alert">

            <h3 class="text-info">{{$t('Category details')}}</h3>
    </div>
    <div class = "kt-portlet">
        <div class = "kt-portlet__body">
            <div class = "kt-form kt-form--label-right">
                <div class = "kt-form__body">
                    <div class = "row" v-for = "(item, index) in languages" v-bind:key = "'lang-name'+index">
                        <div class = "col-md-6">
                            <FormInput v-model = "model.name[item]" :lang = "item" :title = "$t('Name')" :flag = "item"></FormInput>
                        </div>
                        <div class = "col-md-6">
                            <FormTextArea v-model = "model.description[item]" :lang = "item" :title = "$t('Description')" :flag = "item"></FormTextArea>
                        </div>
                    </div>

                    <FormInput v-model = "model.slug" :title = "$t('Url')" v-on:keyupEvent = "setSlugEditSlug(item)"></FormInput>
                    <div class = "row">
                    <div class = "col-md-6">
                        <FormSelect :select2 = "true" v-model = "model.parent_id" :options = "categories" :title = "$t('Parent category')"></FormSelect>
                    </div>
                    <div class="col-md-6">
                        <FormDropZone v-model = "model.image" :title = "$t('og:image')" v-on:success="model.image = $event" :options = "{}" ></FormDropZone>
                        <img v-if="model.image" :src="model.image" width="300"/>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'

export default {
    name: 'ProductCategoryForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        },
        categories: {
            required: true
        }
    },
    data () {
        return {
            slugEditable: {}
        }
    },
    methods: {
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormCheckbox, FormTextArea, FormInput, FormFileUpload, FormDropZone }
}
</script>
