<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'Login',
    props: ['redirect'],
    data () {
        return {
            model: {
                email: null,
                password: null
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/login`
        }
    },
    methods: {
        doLogin () {
            const self = this
            this.axios.post(this.url, this.model).then((response) => {
                $cookies.set('token', response.data.token, 60 * 60 * 24)
                this.$store.commit('defaultStore/setLoggedIn', true)
                this.$store.commit('defaultStore/setUser', response.data)
                self.$emit('loggedIn', true)
                self.$eventHub.$emit('loggedIn', true)
                window.$('#loginModal').modal('hide')
            })
        }
    }
}
</script>
