<template>
    <div>

    </div>
</template>

<script>
export default {
    name: 'Register',
    data () {
        return {
            model: {
                lastname: null,
                firstname: null,
                email: null,
                password: null
            },
            regFinished: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/register`
        }
    },
    methods: {
        doRegister () {
            alert('hej')
            this.axios.post(this.url, this.model).then((response) => {
                this.model = {}
                this.regFinished = true
                this.toastMessage(this.$translate.t('Success registration!'), this.$translate.t('Thank you for registration.'))
                $cookies.set('token', response.data.token, 60 * 60 * 24)
                this.$store.commit('defaultStore/setLoggedIn', true)
                this.$store.commit('defaultStore/setUser', response.data)
                self.$emit('loggedIn', true)
                window.$('#loginModal').modal('hide')
            })
        }
    }
}
</script>
