<template>
    <div class="row">
        <div class="col-lg-9 col-xl-6">
            <h3 class="kt-section__title kt-section__title-sm">{{$t(' Database columns')}}:</h3>
        </div>
        <div class="col-lg-12">
            <table class="table table-bordered table-hover mb-150" id="builderTable">
                <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <tbody>
                            <template v-for="(row, index) in fields">
                                <tr v-bind:key="'fields-' + index">
                                    <td>
                                        <div class="form-group  "><label class="">{{$t('Column name')}}</label><input
                                            v-model="fields[index].column_name" autocomplete="off"
                                            value=""
                                            type="text" class="form-control" maxlength="255"
                                            placeholder="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group "><label class="">{{$t('Column type')}}</label><select

                                            v-model="fields[index].column_type" class="custom-select form-control"
                                        >
                                            <option value="TEXT">TEXT</option>
                                            <option value="LONGTEXT">LONGTEXT</option>
                                            <option value="JSON">JSON</option>
                                            <option value="INT">INT</option>
                                            <option value="BIGINT">BIGINT</option>
                                            <option value="TINYINT">TINYINT</option>
                                            <option value="FLOAT">FLOAT</option>
                                            <option value="VARCHAR(255)">VARCHAR(255)</option>
                                            <option value="DATE">DATE</option>
                                            <option value="DATETIME">DATETIME</option>
                                        </select></div>
                                    </td>
                                    <td>
                                        <div class="form-group has-success"><label
                                            class="">{{$t('Fillable?')}}</label><select

                                            v-model="fields[index].column_fillable" class="custom-select form-control"
                                        >
                                            <option value="1" selected="">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>
                                    <td>
                                        <div class="form-group "><label class="">{{$t('Cast')}}</label><select

                                            v-model="fields[index].column_cast" class="custom-select form-control"
                                        >
                                            <option value="1">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>

                                    <td>
                                        <div class="form-group "><label class="">{{$t('Translatable')}}</label><select

                                                v-model="fields[index].has_translation" class="custom-select form-control"
                                        >
                                            <option value="1">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>

                                    <td class="nowrap"><br>
                                        <a @click="deleteRow(index)" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                           :title="$t('Delete')">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr v-bind:key="'fields-2-' + index">
                                    <td>
                                        <div class="form-group  "><label
                                            class="">{{$t('Label')}}</label><input autocomplete="off"

                                                                                   v-model="fields[index].column_label"
                                                                                   value=""

                                                                                   type="text"
                                                                                   class="form-control"
                                                                                   maxlength="255"
                                        >
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group "><label class="">{{$t('Input type')}}</label><select
                                            v-model="fields[index].column_input"
                                            class="custom-select form-control">
                                            <option value="input">{{$t('Text')}}</option>
                                            <option value="date">{{$t('Date')}}</option>
                                            <option value="datetime">{{$t('DateTime')}}</option>
                                            <option value="select">{{$t('Select')}}</option>
                                            <option value="checkbox">{{$t('Checkbox')}}</option>
                                            <option value="textarea">{{$t('Textarea')}}</option>
                                            <option value="ckeditor">{{$t('CKEditor')}}</option>
                                            <option value="file">{{$t('File')}}</option>
                                        </select></div>
                                    </td>
                                    <td>
                                        <div class="form-group "><label class="">{{$t('Show in list:')}}</label><select
                                            v-model="fields[index].show_in_list"
                                            class="custom-select form-control">
                                            <option value="1">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>
                                    <td>
                                        <div class="form-group "><label class="">{{$t('Search')}}</label><select
                                            v-model="fields[index].column_search" class="custom-select form-control"
                                        >
                                            <option value="1">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>

                                    <td>
                                        <div class="form-group "><label class="">{{$t('Required')}}</label><select
                                            v-model="fields[index].required"
                                            class="custom-select form-control"
                                        >
                                            <option value="1">{{$t('Yes')}}</option>
                                            <option value="0">{{$t('No')}}</option>
                                        </select></div>
                                    </td>
                                </tr>

                            </template>
                            </tbody>

                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <button type="button" @click="addRow()" class="btn btn-success pull-right addRow">{{$t('Add new column')}}
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
    name: 'Builder',
    data () {
        return {
            panel_name: 'DATA',
            panel_rename: '',
            selected_panel_key: 0,
            type: 'text',
            input_type: '',
            active_coll: '',
            active_row: '',
            active_class: '',
            options: [],
            isInputEdit: false,
            inputIndex: 0,
            form: {},
            tempMsg: '',
            inputs: {},
            errorMessage: '',
            hasDanger: '',
            row: {
                column_name: '',
                column_type: 'TEXT',
                column_fillable: 1,
                column_cast: 0,
                column_getter: 0,
                column_value: '',
                column_label: '',
                column_input: 'input',
                column_search: 1,
                required: '1',
                show_in_list: 1,
                has_translation: 0
            }
        }
    },
    components: {
        draggable
    },
    props: {

        models: {
            type: Array,
            required: true
        },
        fields: {
            type: Array,
            required: true
        }

    },
    watch: {
        'form.name': {
            handler (val) {
                if (val !== '' && val !== undefined) {
                    this.form.id = 'form-' + val
                    this.form.name = this.form.name.toLowerCase()
                }
            },
            deep: true
        }
    },
    methods: {

        deleteRow: function (index) {
            console.log(index)
            this.fields.splice(index, 1)
        },
        addRow: function () {
            this.fields.push(Object.assign({}, this.row))
        }

    }
}
</script>
