<template>
    <div class="home">
        <Banner :url="url" :right="right"></Banner>
        <div class="main_content">
        <Feature :url="url" :big="big"></Feature>
        <ThreeCol :url="url" :bottom="bottom"></ThreeCol>
        <Deal :url="url"></Deal>
            <ThreeColProducts :url="url"></ThreeColProducts>
        </div>
    </div>
</template>
<script>
import Home from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Home'
import ThreeCol from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/ThreeCol'
import Deal from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/Deal'
import ThreeColProducts from '../../../../../Modules/WebshopFrontend/Resources/assets/js/components/home/ThreeColProducts'

export default {
    name: 'HomePage',
    components: { ThreeColProducts, Deal, ThreeCol },
    extends: Home
}
</script>
