<template>
    <li class="add-to-cart"><img :src="image" class="d-none cartAnimation"><a href="#" v-on:click.prevent.stop="addToCart(); cartAnimation($event)"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
</template>

<script>
import AddToCartButton from './AddToCartButton'
export default {
    name: 'AddToCartIcon',
    extends: AddToCartButton
}
</script>

<style scoped>

</style>
