<template>
    <div class="cart_btn">
        <img :src="image" class="d-none cartAnimation">
        <button v-on:click="addToCart(); cartAnimation($event)" type="button" class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>{{$t('Add to cart')}}</button></div>
</template>

<script>
export default {
    name: 'AddToCartButton',
    props: ['product_id', 'variation_id', 'quantity', 'image'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/cart`
        }
    },
    methods: {
        addToCart () {
            const self = this
            const uuid = localStorage.getItem('uuid')
            this.axios.post(this.url + '/add-to-cart',
                { uuid: uuid, product_id: this.product_id, variation_id: this.variation_id, quantity: this.quantity }).then((response) => {
                self.$eventHub.$emit('updateCart', response.data.data)
            })
        },
        cartAnimation (e) {
            var cart = window.$('.cart_trigger')
            var imgtodrag = window.$('.cartAnimation').eq(0)
            if (imgtodrag) {
                var imgclone = imgtodrag.clone().addClass('spin').removeClass('d-none')
                    .offset({
                        top: window.$(e.target).offset().top,
                        left: window.$(e.target).offset().left
                    })
                    .css({
                        opacity: '0.9',
                        position: 'absolute',
                        border: 'solid 1px black',
                        height: '150px',
                        width: '150px',
                        'z-index': '10000'
                    })
                    .appendTo(window.$('body'))
                    .animate({
                        top: cart.offset().top + 10,
                        left: cart.offset().left + 10,
                        width: 50,
                        height: 50,
                        'border-radius': '50%'
                    }, 1000, function () {
                        window.$('.cart_trigger').addClass('shake')
                        setTimeout(function () {
                            window.$('.cart_trigger').removeClass('shake')
                        }, 1000)
                    })

                imgclone.animate({
                    width: 0,
                    height: 0
                })
            }
        }
    }
}
</script>
<style>
    .shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
    }
    .spin{
        webkit-animation-name: spin;
        -webkit-animation-duration: 1000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 1000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 1000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes shake {
        10%, 90% {
            transform: translate3d(-5px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(5px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-10px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(10px, 0, 0);
        }
    }
    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
</style>
