<template>
    <div class="row">
        <div class="card card-body">
        <div class="col-lg-12">
            <figure class="itemside mb-2">
                <div class="aside"><ImageLazy :image="product.variation.images[0].image_path" :className="'border img-sm'"></ImageLazy></div>
                <figcaption class="info align-self-center">
                    <a href="#" class="title">{{product.variation.name}}</a>
                    <s class="price" v-if="product.variation.price < product.variation.price_default">{{product.variation.price_default_formatted}}</s><br>
                    <strong class="price"> {{product.variation.price_formatted}}</strong>
                </figcaption>
            </figure>
            <!--<RemoveFromCartButton :cartItemId="product.id"></RemoveFromCartButton> -->
        </div>
    </div>
    </div>
</template>

<script>

import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import RemoveFromCartButton from './RemoveFromCartButton'
export default {
    name: 'CartCanvasItem',
    components: { RemoveFromCartButton, ImageLazy },
    props: ['product']

}
</script>

<style scoped>
    .bm-menu {
        background-color: white !important;
    }
    .bm-overlay {
         background: rgba(0,0,0,0) !important;
    }
    .text-small{
        font-size:12px !important;
        color:white;
    }
</style>
