<template>
    <tr>
        <td>
            <figure class="itemside">
                <div class="aside"><ImageLazy  :className="'img-sm'" :width="150" :image="product.variation.images[0].image_path"></ImageLazy></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">{{product.variation.name}}</a>
                    <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                </figcaption>
            </figure>
        </td>
        <td>
            <FrontendNumberInput v-on:change="updateAmount(cart.items[index])" v-model="cart.items[index].quantity" :nameAttr="'quantity-'+index" :min="1" :max="cart.items[index].variation.sum_quantity"></FrontendNumberInput>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price">{{product.variation_total_formatted}}</var>
                <small class="text-muted"> {{product.variation.price_formatted}} {{$t('each')}} </small>
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right">
            <RemoveFromCartButton :cartItemId="product.id"></RemoveFromCartButton>
        </td>
    </tr>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import FrontendNumberInput from '../../../../../../../resources/js/frontend/components/form/FrontendNumberInput'
import RemoveFromCartButton from './RemoveFromCartButton'

export default {
    name: 'CartItem',
    props: ['product', 'cart', 'index'],
    components: { ImageLazy, FrontendNumberInput, RemoveFromCartButton },
    methods: {
        updateAmount (_item) {
            this.$emit('updateAmount', _item)
        }
    }
}
</script>
