<template>
    <li class="dropdown cart_dropdown"><a class="nav-link cart_trigger" href="#" data-toggle="dropdown"><i class="linearicons-bag2"></i><span v-if="cart.count" class="cart_count">{{cart.count}}</span></a>
    <div class="cart_box cart_right dropdown-menu dropdown-menu-right">
        <ul class="cart_list" v-if="cart.items && cart.items.length">
            <li v-for="item in cart.items" v-bind:key="'cart-icon'+item.id">
               <RemoveFromCartButton :cart-item-id="item.id"></RemoveFromCartButton>
                <router-link :to="{name:'ProductDetails',params:{slug: item.product.slug}}">
                    <img :src="item.variation.main_image" alt="cart_thumb1">{{item.variation_name}}</router-link>
                <span class="cart_quantity"> {{item.quantity}} x <span class="cart_amount"><Price :value="''+item.price"></Price></span></span>
            </li>
        </ul>
        <ul v-if="!cart.items.length" class="cart_list">
            <li><span class="text-light">{{$t('Cart is empty')}}</span></li>
        </ul>
        <div class="cart_footer" v-if="cart.items && cart.items.length">
            <p class="cart_total"><strong>{{$t('Subtotal')}}</strong> <span class="cart_price"><Price :value="''+cart.total"></Price> </span></p>
            <p class="cart_buttons">
                <router-link :to="{name: 'Checkout',params:{slug:'cart'}}"  class="btn btn-fill-out view-cart">{{$t('View Cart')}}</router-link>
                <router-link :to="{name: 'Checkout',params:{slug:'shipping-billing'}}" class="btn btn-fill-out checkout">{{$t('Checkout')}}</router-link></p>
        </div>
    </div>
    </li>
</template>

<script>

import Price from '../../../../../../../resources/js/components/Price'
import CartCanvasItem from './CartCanvasItem'
import RemoveFromCartButton from './RemoveFromCartButton'

export default {
    name: 'CartIcon',
    data () {
        return {
            cart: {
                items: {}
            },
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/cart`
        }
    },
    components: {
        RemoveFromCartButton,
        CartCanvasItem,
        Price
    },
    methods: {
        click () {
            this.$refs.cart.$children[0].openMenu()
            this.$refs.cart.$children[0].$refs.bmBurgerButton.click()
        },
        getMyCart () {
            const self = this
            self.loaded = false
            const uuid = localStorage.getItem('uuid')
            this.axios.get(self.url + '/my-cart/' + (uuid || '')).then((response) => {
                self.cart = response.data.data
                self.loaded = true
                localStorage.setItem('uuid', this.cart.uuid)
            })
        }
    },
    created () {
        const self = this
        this.$eventHub.$on('updateCart', function (cart) {
            self.cart = cart
        })
        this.$eventHub.$on('changeCurrency', function (cart) {
            self.getMyCart()
        })
        self.getMyCart()
    }

}
</script>
