<template>
    <div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive shop_cart_table">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">{{$t('Product')}}</th>
                        <th class="product-price">{{$t('Price')}}</th>
                        <th class="product-quantity">{{$t('Quantity')}}</th>
                        <th class="product-subtotal">{{$t('Total')}}</th>
                        <th class="product-remove">{{$t('Remove')}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in cart.items" v-bind:key="'cart-item-c-'+item.id">
                        <td class="product-thumbnail"><a href="#"><ImageLazy :image="item.variation.main_image"></ImageLazy> </a></td>
                        <td class="product-name" data-title="Product"><router-link  :to="{name:'ProductDetails',params:{ slug :item.variation.slug}}">{{item.variation_name}}</router-link></td>
                        <td class="product-price" data-title="Price"><Price :value="''+item.price"></Price></td>
                        <td class="product-quantity" data-title="Quantity"><div class="quantity">
                            <input type="button" v-bind:disabled="item.quantity == 1" value="-" class="minus" v-on:click="updateQuantity('down',item)">
                            <input type="text" v-model="item.quantity" name="quantity"  title="Qty" class="qty" size="4">
                            <input type="button" value="+" class="plus" v-on:click="updateQuantity('up',item)">
                        </div></td>
                        <td class="product-subtotal" data-title="Total"><Price :value="''+item.variation_total"></Price></td>
                        <td class="product-remove" data-title="Remove"><RemoveFromCartButton :cartItemId="item.id"></RemoveFromCartButton></td>
                    </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row no-gutters align-items-center">
                <Coupon :cart="cart"></Coupon>
            </div>
                <div class="border p-3 p-md-4">
                    <div class="heading_s1 mb-3">
                        <h6>{{$t('Cart Totals')}}</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="cart_total_label">{{$t('Cart Subtotal')}}</td>
                                <td class="cart_total_amount"><Price :value="''+cart.total"></Price></td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">{{$t('Shipping')}}</td>
                                <td class="cart_total_amount">
                                    <span v-if="cart.shipping_price == 0 ">{{$t('Free shipping')}}</span><Price v-if="cart.shipping_price > 0" :value="''+cart.shipping_price"></Price></td>
                            </tr>
                            <tr>
                                <td class="cart_total_label" v-if="cart.discount">{{$t('Discount')}}</td>
                                <td class="cart_total_amount" v-if="cart.discount">
                                    <Price v-if="cart.coupon.type != 3" :value="'-'+cart.discount"></Price>
                                    <span class="" v-if="cart.coupon.type == 3">{{$t('Free shipping')}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">{{$t('Total')}}</td>
                                <td class="cart_total_amount"><strong><Price :value="''+cart.total_with_shipping"></Price></strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <div  class="row no-gutters mt-4 mb-4">
        <div d class="col-md-6 p-1">
            <div  class="order-breadcrumb first-breadcrumb">
                <div  class="order-breadcrumb-text text-left">
                    <router-link class="btn  btn-outline ml-2" :to="{name: 'ProductList'}">  {{$t('Back to shipping')}}</router-link>
                </div>
            </div>
        </div>
        <div d class="col-md-6 p-1">
            <div  class="order-breadcrumb last-breadcrumb">
                <div  class="order-breadcrumb-text text-right">
                    <router-link class="btn btn-dark rounded-0 mr-2" :to="{name: 'Checkout',params:{slug:'shipping-billing'}}">{{$t('Shipping')}} </router-link>
                </div>
            </div>
        </div>
    </div>
    </div>

</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
import RemoveFromCartButton from './RemoveFromCartButton'
import Coupon from './Coupon'

export default {
    name: 'Cart',
    components: { Coupon, RemoveFromCartButton, ImageLazy, Price },
    props: ['cart'],
    data () {
        return {
            hasUpdate: false,
            prevCart: null,
            updateTimeout: {}
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}`
        }
    },
    methods: {
        updateAmount (item, update) {
            const self = this
            clearTimeout(this.updateTimeout[item.id])
            this.updateTimeout[item.id] = null
            this.updateTimeout[item.id] = setTimeout(function () {
                const uuid = localStorage.getItem('uuid')
                this.axios.put(self.url + '/update-amount/' + uuid,
                    { id: item.id, quantity: item.quantity }).then((response) => {
                    self.cart.total = response.data.data.total
                    self.cart.total_with_shipping = response.data.data.total_with_shipping
                    self.cart.shipping_price = response.data.data.shipping_price
                    Object.keys(response.data.data.items).forEach(index => {
                        self.cart.items[index].variation_total = response.data.data.items[index].variation_total
                    })

                    self.$eventHub.$emit('updateCart', response.data.data)
                }).catch(() => {
                    item.quantity += update
                })
            }, 300)
        },
        updateQuantity (type, item) {
            let update = 0
            if (type === 'down') {
                if (item.quantity - 1 >= 1) {
                    item.quantity--
                    update = 1
                }
            } else {
                item.quantity++
                update = -1
            }
            this.updateAmount(item, update)
        }
    }
}
</script>
