<template>
    <div class="custom-container">
        <div class="page-title">
            <h1>{{$t(titles[slug])}}</h1>
        </div>
        <div class = "row no-gutters mb-4">
        <div class = "col-md-3 p-1">
            <div class = "order-breadcrumb first-breadcrumb" v-bind:class="{'active': slug == 'cart' }">
                <div class = "order-breadcrumb-text">
                    <router-link :to="{name:'Checkout',params:{slug:'cart'}}" >{{$t('Cart')}}</router-link>
                </div>
            </div>
        </div>
        <div class = "col-md-3 p-1">
            <div class = "order-breadcrumb " v-bind:class="{'active': slug == 'shipping-billing' }">
                <div class = "order-breadcrumb-text">
                    <router-link :to="{name:'Checkout',params:{slug:'shipping-billing'}}" >{{$t('Shipping/Billing')}}</router-link>
                </div>
            </div>
        </div>
        <div class = "col-md-3 p-1">
            <div class = "order-breadcrumb" v-bind:class="{'active': slug == 'summary' }">
                <div class = "order-breadcrumb-text">
                    <router-link :to="{name:'Checkout',params:{slug:'summary'}}" >{{$t('Order Summary')}}</router-link>
                    <a href="#" class="disabled text-muted" v-on:click.prevent="null">{{$t('Order Summary')}}</a>
                </div>
            </div>
        </div>
        <div class = "col-md-3 p-1">
            <div class = "order-breadcrumb last-breadcrumb" v-bind:class="{'active': slug == 'payment' }">
                <div class = "order-breadcrumb-text">
                    <router-link  v-if="shippingFinish" :to="{name:'Checkout',params:{slug:'payment'}}" >{{$t('Payment')}}</router-link>
                    <a href="#" class="disabled text-muted" v-on:click.prevent="null">{{$t('Payment')}}</a>
                </div>
            </div>
        </div>
    </div>
        <LoadingSvg v-if="cart.total == undefined" ></LoadingSvg>
        <div class="" v-if="cart && cart.total>0" >
            <Cart v-if="slug == 'cart'" :cart="cart"></Cart>
            <ShippingBilling  v-if="slug == 'shipping-billing'" :cart="cart"></ShippingBilling>
            <Summary v-if="slug == 'summary'" :cart="cart" ></Summary>
            <Payment v-if="slug == 'payment'" ></Payment>
        </div>
        <h1 v-if="cart.total === 0"> {{$t('Your cart is empty!')}}</h1>
    </div>
</template>

<script>
import Cart from './Cart'
import ShippingBilling from './ShippingBilling'
import Summary from './Summary'
import Payment from './Payment'
import CartIcon from './CartIcon'
import LoadingSvg from '../LoadingSvg'
export default {
    name: 'CheckoutProcess',
    extends: CartIcon,
    components: { LoadingSvg, Payment, Summary, ShippingBilling, Cart },
    data () {
        return {
            titles: {
                cart: 'Cart',
                'shipping-billing': 'Shipping and Billing',
                summary: 'Order Summary',
                payment: 'Payment'
            },
            prevCart: null,
            shippingFinish: false,
            model: {

            }
        }
    },
    computed: {
        slug: function () {
            return this.$route.params.slug
        }
    },
    created () {
        if (!this.titles[this.$route.params.slug]) {
            this.$route.push({ name: '404' })
        }
    }
}
</script>

<style scoped>

</style>
