<template>
    <div class="col-lg-12 col-md-6 mb-3">
        <div class="coupon field_form input-group">
            <input type="text" v-model="coupon" value="" class="form-control form-control-sm" :placeholder="$t('Enter Coupon Code..')">
            <div class="input-group-append">
                <button  v-if="!cart.coupon" class="btn btn-fill-out btn-sm" type="submit" v-on:click.stop.prevent="applyCoupon()">{{$t('Apply Coupon')}}</button>
                <button v-if="cart.coupon" class="btn btn-fill-out btn-sm" type="submit" v-on:click.stop.prevent="applyCoupon()">{{$t('Remove Coupon')}}</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Coupon',
    props: ['cart'],
    data () {
        return {
            coupon: null
        }
    },
    watch: {
        cart: function (val) {
            this.coupon = val.coupon.code
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/cart`
        }
    },
    beforeMount () {
        this.coupon = this.cart.coupon.code
    },
    methods: {
        applyCoupon () {
            const self = this
            const uuid = localStorage.getItem('uuid')
            this.axios.post(this.url + '/apply-coupon', { code: this.coupon, uuid: uuid }).then((response) => {
                self.$eventHub.$emit('updateCart', response.data.data)
            })
        },
        removeCoupon () {
            const self = this
            const uuid = localStorage.getItem('uuid')
            this.axios.put(this.url + '/remove-coupon', { code: this.coupon, uuid: uuid }).then((response) => {
                self.$eventHub.$emit('updateCart', response.data.data)
            })
        }
    }
}
</script>
