<template>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-8 mt-5 mb-5" >
                <div class="text-center order_complete">
                    <i class="fas fa-check-circle"></i>
                    <div class="heading_s1">
                        <h3>{{$t('Your order is completed!')}}</h3>
                    </div>
                    <p>{{$t('Thank you for your order! Your order is being processed and will be completed within 3-6 hours. You will receive an email confirmation when your order is completed.')}}</p>
                    <a href="shop-left-sidebar.html" class="btn btn-fill-out">{{$t('Continue Shopping')}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Payment',
    created () {
        if (this.cart.status < 1) {
            this.$router.push({ name: 'Checkout', params: { slug: 'shipping-billing' } })
        }
        if (this.cart.status > 0 && this.cart.status < 2) {
            this.$router.push({ name: 'Checkout', params: { slug: 'payment' } })
        }
    }
}
</script>

<style scoped>

</style>
