<template>
    <a href="#" v-on:click.stop.prevent="RemoveFromCart()"><i class="ti-close"></i></a>
</template>

<script>
export default {
    name: 'RemoveFromCartButton',
    props: ['cartItemId'],
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/cart`
        }
    },
    methods: {
        RemoveFromCart () {
            const self = this
            const uuid = localStorage.getItem('uuid')
            this.axios.delete(this.url + '/remove/' + uuid + '/' + this.cartItemId).then((response) => {
                console.log(response.data.data)
                self.$eventHub.$emit('updateCart', response.data.data)
            })
        }
    }
}
</script>
