<template>
    <div>
        <div class = "row">
            <div class = "col-md-8">
                <div class = "row">
                    <div class = "col-md-6">
                        <div class = "heading_s1">
                            <h4>{{$t('Shipping Details')}}</h4>
                        </div>
                        <div class = "form-group">
                            <div v-if="!model.loggedIn">
                            <a data-toggle="modal" data-target="#loginModal" class="btn-link">{{$t('Login')}}</a> {{$t('or Guest checkout')}}
                            </div>
                        </div>
                            <FrontendInput v-model = "model.shipping_name" :placeholder = "$t('Name *')"></FrontendInput>
                            <FrontendInput v-model = "model.shipping_email" :placeholder = "$t('Email *')"></FrontendInput>
                            <FrontendInput v-model = "model.shipping_phone" :placeholder = "$t('Phone *')"></FrontendInput>
                            <FrontendSelect v-if="model.selectables && model.selectables.countries " v-model = "model.shipping_country_id" :options = "model.selectables.countries"></FrontendSelect>
                            <FrontendInput v-model = "model.shipping_zip" :placeholder = "$t('Zip *')" ></FrontendInput>
                            <FrontendSelect :select2="true" v-model = "model.shipping_city_id" :options = "model.selectables.cities"></FrontendSelect>
                            <FrontendInput v-model = "model.shipping_address" :placeholder = "$t('Address *')"></FrontendInput>
                            <div class = "heading_s1">
                                <h4>{{$t('Additional information')}}</h4>
                            </div>
                            <FronendTextArea v-model = "model.shipping_note"></FronendTextArea>
                            <div class = "form-group">
                                <div class = "chek-form">
                                    <div class = "custome-checkbox">
                                        <input type = "checkbox" v-model="model.billing_is_same" value="=1" v-on:change="setBilling()" name = "checkbox" id = "differentaddress" class = "form-check-input">
                                        <label for = "differentaddress" class = "form-check-label label_info"><span>{{$t('Billing is same address?')}}</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class = "col-md-6">
                        <div class = "heading_s1">
                            <h4>{{$t('Billing Details')}}</h4>
                        </div>
                        <div class = "form-group">
                            <div class = "chek-form">
                                <div class = "custome-checkbox">
                                    <input type = "checkbox" v-model="model.isCompany" name = "checkbox" id = "isCompany" class = "form-check-input">
                                    <label for = "isCompany"  class = "form-check-label label_info"><span>{{$t('Billing address is company?')}}</span></label>
                                </div>
                            </div>
                        </div>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-if="!model.isCompany" v-model = "model.billing_name" :placeholder = "$t('Name *')"></FrontendInput>
                            <FrontendInput v-if="model.isCompany" v-model = "model.billing_company_name" :placeholder = "$t('Company name *')"></FrontendInput>
                            <FrontendInput v-if="model.isCompany" v-model = "model.vat_number" :placeholder = "$t('Company tax *')"></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_email" :placeholder = "$t('Email *')"></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_phone" :placeholder = "$t('Phone *')"></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_country" ></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_zip"  :placeholder = "$t('Zip *')"></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_city" ></FrontendInput>
                            <FrontendInput v-bind:readonly="model.billing_is_same" v-model = "model.billing_address" :placeholder = "$t('Address *')"></FrontendInput>
                        </div>
                    </div>
            </div>
             <div class = "col-md-4">
                <div class = "order_review">
                    <div class = "heading_s1">
                        <h4>{{$t('Your Orders')}}</h4>
                    </div>
                    <div class = "table-responsive order_table">
                        <table class = "table">
                            <thead>
                            <tr>
                                <th>{{$t('Product')}}</th>
                                <th>{{$t('Total')}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in cart.items" v-bind:key="'sb-cart-item-'+item.id">
                                <td>{{item.variation_name}} <span class = "product-qty"> x {{item.quantity}}</span></td>
                                <td class="nowrap"> <Price :value="''+item.variation_total"></Price></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{$t('SubTotal')}}</th>
                                <td class="nowrap product-subtotal"><Price :value="''+cart.total"></Price></td>
                            </tr>
                            <tr>
                                <th>{{$t('Shipping')}}</th>
                                <td class="nowrap"><span v-if="cart.shipping_price == 0 ">{{$t('Free shipping')}}</span><Price v-if="cart.shipping_price > 0" :value="''+cart.shipping_price"></Price></td>
                            </tr>
                            <tr>
                                <td class="cart_total_label" v-if="cart.discount">{{$t('Discount')}}</td>
                                <td class="nowrap cart_total_amount" v-if="cart.discount">
                                    <Price v-if="cart.coupon.type != 3" :value="'-'+cart.discount"></Price>
                                    <span class="" v-if="cart.coupon.type == 3">{{$t('Free shipping')}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>{{$t('Total')}}</th>
                                <td class="nowrap product-subtotal"><strong><Price :value="''+cart.total_with_shipping"></Price></strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class = "payment_method">
                        <div class = "heading_s1">
                            <h4>{{$t('Payment')}}</h4>
                        </div>
                        <div class = "payment_option">
                            <div v-if="paymentMethodError" class="invalid-feedback" style="display: block">{{$t('Please select payment method !')}}
                            </div>
                            <div class = "custome-radio">
                                <input class = "form-check-input" type = "radio" v-model="model.payment_method_id" name = "payment_option" id = "exampleRadios4" value = "1"  checked = "">
                                <label class = "form-check-label" for = "exampleRadios4">{{$t('Online credit card')}}</label>
                                <p data-method = "option4" class = "payment-text">{{$t('Payment through the Barion system')}}</p>
                                <img src="https://netmediashop.com/temp/content/barion-cards.png">
                            </div>
                            <div class = "custome-radio">
                                <input class = "form-check-input" required = "" v-model="model.payment_method_id" type = "radio" name = "payment_option" id = "exampleRadios3" value = "2">
                                <label class = "form-check-label" for = "exampleRadios3">{{$t('Cash on delivery')}}</label>
                                <p data-method = "option3" class = "payment-text">{{$t('Payment to the courier upon receipt of the package, by credit card or cash')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="row no-gutters mt-4 mb-4">
            <div d class="col-md-6 p-1">
                <div  class="order-breadcrumb first-breadcrumb">
                    <div  class="order-breadcrumb-text text-left">
                        <router-link class="btn btn-outline rounded-0 ml-2" :to="{name: 'Checkout',params:{slug:'cart'}}">  {{$t('Edit cart')}}</router-link>
                    </div>
                </div>
            </div>
            <div d class="col-md-6 p-1">
                <div  class="order-breadcrumb last-breadcrumb">
                    <div  class="order-breadcrumb-text text-right">
                        <a href="#" class="btn btn-dark rounded-0 mr-2" v-on:click.prevent="validateOrder()">{{$t('Order summation')}} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import FrontendInput from '../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendSelect from '../../../../../../../resources/js/frontend/components/form/FrontendSelect'
import FronendTextArea from '../../../../../../../resources/js/frontend/components/form/FronendTextArea'
import LoginWeb from '../profile/LoginWeb'
import Price from '../../../../../../../resources/js/components/Price'

export default {
    name: 'ShippingBilling',
    components: { LoginWeb, FrontendInput, FronendTextArea, FrontendSelect, Price },
    props: ['cart'],
    data () {
        return {
            checkoutAsGuest: false,
            model: {
                selectables: {
                    countries: {},
                    cities: {}
                }
            },
            paymentMethodError: false,
            subTotalPrice: 0,
            shipmentTotalPrice: 0,
            totalPrice: 0,
            shipmentPrice: 0
        }
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        },
        '$store.state.defaultStore.pageCurrency': {
            handler: function (val, oldVal) {
            }
        },
        'model.shipment_method_id': {
            handler: function (val, oldVal) {
                if (val !== oldVal) {
                    const self = this
                    this.axios.get(this.url + 'calculate-price?total=' + self.cart.total_default + '&shipment=' + self.getShipmentPrice()).then((response) => {
                        self.subTotalPrice = response.data.cart
                        self.shipmentTotalPrice = response.data.shipment
                        self.totalPrice = response.data.total
                    })
                }
            }
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        },
        pageCurrency: function () {
            return this.$store.state.defaultStore.pageCurrency
        }
    },
    created () {
        this.getCheckoutData()
        this.$eventHub.$on('loggedIn', function () {
            this.getCheckoutData()
        })
    },
    methods: {
        proceedOrder () {
            this.$router.push({ name: 'Checkout', params: { slug: 'summary' } })
        },
        getCheckoutData () {
            const self = this
            if ($cookies.get('token')) {
                this.axios.get(this.url + 'checkout/index/auth').then((response) => {
                    self.model = response.data.data
                }).catch(() => {
                    self.guestGetData(self)
                })
            } else {
                self.guestGetData(self)
            }
        },
        guestGetData (self) {
            self.axios.get(self.url + 'checkout/index').then((response) => {
                self.model = response.data.data
                self.model.uuid = localStorage.getItem('uuid')
                self.loaded = true
            })
        },
        save () {
            const self = this
            self.axios.post(self.url + 'checkout', self.model).then((response) => {
                self.$eventHub.$emit('changeCurrency', true)
                self.$router.push('/success-order')
            })
        },
        coupon () {
            this.axios.post(this.url + 'checkout', { coupon: this.coupon }).then((response) => {
                console.log(response.data.data)
            })
        },
        setBilling  () {
            if (this.model.billing_is_same) {
                this.model.billing_name = this.model.shipping_name
                this.model.billing_email = this.model.shipping_email
                this.model.billing_phone = this.model.shipping_phone
                this.model.billing_city = this.model.selectables.cities[this.model.shipping_city_id]
                this.model.billing_country = this.model.selectables.countries[this.model.shipping_country_id]
                this.model.billing_zip = this.model.shipping_zip
                this.model.billing_address = this.model.shipping_address
            }
        },
        validateOrder () {
            this.paymentMethodError = false
            this.axios.post(this.url + 'checkout/save', this.model).then((response) => {
                this.$eventHub.$emit('updateCart', response.data.data)
                console.log('redirect')
                this.$router.push({ name: 'Checkout', params: { slug: 'summary' } })
            }).catch((errors) => {
                if (errors.response.data.errors && errors.response.data.errors.payment_method_id) {
                    this.paymentMethodError = true
                }
            })
        }

    }
}
</script>
