<template>
    <div class="row">
    <div class = "container">
        <div class = "card-group mb-4">
            <div class = "card bg order-billing-card">
                <div class = "p-3"><h5 class = "card-title">SZÁMLÁZÁSI CÍM</h5>
                    <div class = "row">
                        <div class = "col-sm-12">badics anita</div>
                        <div class = "col-sm-12">1111 városkozt 2 2 2 2 fdsafdas
                                                 Magyarország
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card bg order-shipping-card">
                <div class = "p-3"><h5 class = "card-title">Szállítási cím</h5>
                    <dl class = "row">
                        <div class = "col-sm-12">badics sz anita sz</div>
                        <div class = "col-sm-12">1111sz városszkoztsz sz 2sz sz 2sz fdsafdas
                                                 Magyarország
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class = "table-responsive shop_cart_table">
            <table class = "table">
                <thead>
                <tr>
                    <th class = "product-thumbnail">&nbsp;</th>
                    <th class = "product-name">{{$t('Product')}}</th>
                    <th class = "product-price">{{$t('Price')}}</th>
                    <th class = "product-quantity">{{$t('Quantity')}}</th>
                    <th class = "product-subtotal">{{$t('Total')}}</th>

                </tr>
                </thead>
                <tbody>
                <tr v-for = "item in cart.items" v-bind:key = "'cart-item-c-'+item.id">
                    <td class = "product-thumbnail"><a href = "#">
                        <ImageLazy :image = "item.variation.main_image"></ImageLazy>
                    </a></td>
                    <td class = "product-name" data-title = "Product"><a href = "#">Blue Dress For Woman</a></td>
                    <td class = "product-price" data-title = "Price">
                        <Price :value = "''+item.price"></Price>
                    </td>
                    <td class = "product-quantity" data-title = "Quantity">
                        <div class = "">
                            {{item.quantity}}
                        </div>
                    </td>
                    <td class = "product-subtotal" data-title = "Total">
                        <Price :value = "''+item.variation_total"></price>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class = "">
                <div class = "col-md-5 offset-md-7 order_review">
                    <div class="heading_s1"><h4>Summation</h4></div>
                    <div class = "table-responsive order_table">
                        <table class = "table">
                            <tbody>
                            <tr>
                                <td class="text-right">{{$t('Subtotal')}}</td>
                                <td class="text-right">
                                    <Price :value = "''+ cart.total"></Price>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">{{$t('Shipping price')}}</td>
                                <td class="text-right">
                                    <Price :value = "''+ cart.shipping_price"></Price>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">{{$t('Total')}}</td>
                                <td class="text-right">
                                    <Price :value = "''+ cart.total_final"></Price>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">{{$t('Payment method')}}</td>
                                <td class="text-right"></td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>

                    </div>
                    <div class = "custome-checkbox">
                        <input type = "checkbox" name = "payment_option" id = "exampleRadios4" value = "1" class = "form-check-input">
                        <label for = "exampleRadios4" class = "form-check-label">I have read and accept Privacy Policy</label> </div>
                </div>
            </div>

        </div>
    </div>
        <div class="col-md-12">
        <div  class="row no-gutters mt-4 mb-4">
            <div d class="col-md-6 p-1">
                <div  class="order-breadcrumb first-breadcrumb">
                    <div  class="order-breadcrumb-text text-left">
                        <router-link class="btn  btn-outline  ml-2" :to="{name: 'Checkout',params:{slug:'shipping-billing'}}">  {{$t('Edit shipping address')}}</router-link>
                    </div>
                </div>
            </div>
            <div d class="col-md-6 p-1">
                <div  class="order-breadcrumb last-breadcrumb">
                    <div  class="order-breadcrumb-text text-right">
                        <router-link class="btn btn-dark rounded-0 mr-2" :to="{name: 'Checkout',params:{slug:'payment'}}">{{$t('Finalize order')}} </router-link>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'

export default {
    name: 'Summary',
    components: { Price, ImageLazy },
    props: ['cart', 'enabled'],
    created () {
        if (this.cart.status < 1) {
            this.$router.push({ name: 'Checkout', params: { slug: 'shipping-billing' } })
        }
    }
}
</script>

<style scoped>

</style>
