<template>
    <div class = "kt-portlet">
        <div class = "kt-portlet__body">
            <div class = "kt-form kt-form--label-right">
                <div class = "kt-form__body">
                    <div class="row">
                    <div class="col-md-6">
                        <h2>{{model.product.name}}</h2>
                        <img class="img-fluid" :src="model.product.image">
                    </div>
                    <div class="col-md-6">
                        {{model.name}}<br>
                        {{model.email}}<br>
                        {{$t('Useful')}}: <i class="fas fa-thumbs-up mx-1"></i>{{model.useful}}<br>
                        {{$t('Not useful')}}: <i class="fas fa-thumbs-down mx-1"></i>{{model.not_useful}}<br>
                    </div>
                    </div>
                    <FormInput v-model = "model.title" :title = "$t('Title')"></FormInput>
                    <FormTextArea v-model = "model.comment" :title = "$t('Comment')"></FormTextArea>
                    <FormTextArea v-model = "model.answer" :title = "$t('Answer')"></FormTextArea>
                    <FormSelect v-model = "model.moderated" :title = "$t('Moderated')" v-if = "model && model.selectables && {}" :options = "{'0':$t('No'),'1':$t('Yes')}"></FormSelect>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'ProductQuestionForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    data () {
        return {}
    },
    computed: {},
    components: { FormInput, FormTextArea, FormSelect },
    methods: {},
    created () {
    },
    mounted () {
    }
}
</script>
