<template>
    <ProductQuestionForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProductQuestionForm>
</template>

<script>
import ProductQuestionForm from './ProductQuestionForm'
import ProductQuestion from './ProductQuestion'

export default {
    name: 'ProductQuestionCreate',
    extends: ProductQuestion,
    data () {
        return {
            model: {}
        }
    },
    components: { ProductQuestionForm },
    beforeMount: function () {
        this.handleCreate('productquestion', this.url, {})

        this.getProductQuestion()
    }
}
</script>
