<template>
    <div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert" data-toggle="collapse" data-target="#details">

            <h3 class = "text-info">{{$t('Base product details')}}</h3>
        </div>
        <div class = "kt-portlet collapse" v-bind:class="{'show':!model.slug}" id="details">
            <div class = "kt-portlet__body">
                <div class = "kt-form kt-form--label-right">
                    <div class = "kt-form__body">
                        <div class = "row">
                            <div class = "col-lg-8">
                                <div class = "row">
                                    <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang'+l">
                                        <FormInput v-model = "model.name[l]" :lang = "item" :title = "$t('Product name')" :flag = "l"></FormInput>
                                    </div>
                                    <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang-d'+l">
                                        <FormWyswygEditor v-model = "model.description[l]" :title = "$t('Description')" :flag = "l"></FormWyswygEditor>
                                    </div>
                                    <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang-mt'+l">
                                        <FormInput v-model = "model.meta_title[l]" :title = "$t('Meta title')" :flag = "l"></FormInput>
                                    </div>
                                    <div class = "col-md-6" v-for = "l in languages" v-bind:key = "'lang-md'+l">
                                        <FormInput v-model = "model.meta_description[l]" :title = "$t('Meta description')" :flag = "l"></FormInput>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <CategoryTree v-if="model.selectables && model.selectables.categories" :value="model.categories" :options="model.selectables.categories"></CategoryTree>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class = "alert alert-custom alert-white alert-shadow kt-portlet" role = "alert">
            <h3 class = "text-info">{{$t('Variation details')}}<button class=" col-2 btn btn-outline btn-outline-success pull-right" @click="addVariation">{{$t('Add variation')}}</button></h3>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="accordion" id="accordionExample">
                            <div class="card " v-for="(variation,index) in model.variations" v-bind:key="'product-variation-ids'+index">
                                <div class="card-header" id="headingOne">
                                    <div class="mb-0">
                                        <div class="text-left" type="button" data-toggle="collapse" :data-target="'#collapse'+index" aria-expanded="true" aria-controls="collapseOne">
                                            <div class="row">
                                                <div class="col-2">
                                                    <ImageLazy :image="model.variations[index].main_image" style="width: 100px"></ImageLazy>
                                                </div>
                                                <div class="col-3">
                                                    <h4>{{model.variations[index].sku}}</h4>
                                                    <Price :suffix="'Ft'" :decimal-count="2" :value="model.variations[index].price.toString()" class="text-muted"></Price>
                                                </div>
                                                <div class="col-3">
                                                    <div>{{model.selectables.colors[variation.color_id]}}</div>
                                                    <div>{{model.selectables.packs[variation.pack_id]}} </div>
                                                    <div>{{model.selectables.types[variation.type_id]}} </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="custom-control custom-switch" v-on:click.stop="null">
                                                        <input type="checkbox" class="custom-control-input" :id="'customSwitch'+index" v-model="model.variations[index].active">
                                                        <label class="custom-control-label" :for="'customSwitch'+index">{{$t('Active')}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-2"><button class="btn btn-outline btn-outline-danger" @click.prevent.stop="deleteVariation(index)"><i class="fa fa-trash"></i> </button></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div :id="'collapse'+index" class="collapse " v-bind:class="{'show': !model.variations[index].id }" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class="table table-bordered " >
                                    <tr>
                                        <td>
                                            <FormSelect v-model="model.variations[index].color_id"  :title="$t('Color')" v-if="model && model.selectables && model.selectables.colors" :options="model.selectables.colors"></FormSelect>
                                        </td>
                                        <td>
                                            <FormSelect v-model="model.variations[index].pack_id"  :title="$t('Pack')" v-if="model && model.selectables && model.selectables.packs" :options="model.selectables.packs"></FormSelect>
                                        </td>
                                        <td>
                                            <FormSelect v-model="model.variations[index].type_id"  :title="$t('Type')" v-if="model && model.selectables && model.selectables.types" :options="model.selectables.types"></FormSelect>
                                        </td>
                                        <td>
                                            <FrontendNumberInput v-model="model.variations[index].weight"  :title="$t('Weight')"></FrontendNumberInput>
                                         </td>
                                        <td>
                                            <FrontendNumberInput v-model="model.variations[index].in_stock"  :title="$t('In stock')"></FrontendNumberInput>
                                        </td>
                                        <td>
                                            <FrontendNumberInput v-model="model.variations[index].price"  :title="$t('Price')"></FrontendNumberInput>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <FrontendNumberInput v-model="model.variations[index].discount_price"  :title="$t('Discount price')"></FrontendNumberInput>
                                        </td>
                                        <td>
                                            <FormDateTimePicker v-model="model.variations[index].discount_from"  :title="$t('Discount start')"></FormDateTimePicker>
                                        </td>
                                        <td>
                                            <FormDateTimePicker v-model="model.variations[index].discount_to"  :title="$t('Discount until')"></FormDateTimePicker>
                                        </td>
                                        <td >
                                            <FormTags v-model="model.variations[index].tags"  :title="$t('Tags')"></FormTags>
                                        </td>
                                        <td colspan="2">
                                            <FormWyswygEditor v-model="model.variations[index].info"  :title="$t('Info')"></FormWyswygEditor>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <FormDropZone v-model="model.variations[index].main_image"  :title="$t('main_image')" :max-files="10" :options="{}" v-on:success="addImage(index,$event)"></FormDropZone>
                                            <div class="row">
                                            <div class="col-2" v-for="(img,ind) in model.variations[index].images" v-bind:key="'variation-'+index+'-images-'+ind">
                                                <div><ImageLazy :image="img.url" style="width:130px"></ImageLazy></div><br>
                                                <button class="űbtn btn-outline btn-outline-warning pull-right" @click=" model.variations[index].main_image=img.url">{{$t('Set default')}}</button>
                                            </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDateTimePicker from '../../../../../../resources/js/components/form/FormDateTimePicker'
import FrontendNumberInput from '../../../../../../resources/js/frontend/components/form/FrontendNumberInput'
import FormTags from '../../../../../../resources/js/components/form/FormTags'
import FormDropZone from '../../../../../../resources/js/components/form/FormDropZone'
import ImageLazy from '../../../../../../resources/js/components/ImageLazy'
import CategoryTree from '../../../../../Blog/Resources/assets/js/components/CategoryTree'
import Price from '../../../../../../resources/js/components/Price'

export default {
    name: 'ProductForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object,
            variations: {}
        }
    },
    data () {
        return {
            variationTemplate: {
                color_id: null,
                pack_id: null,
                type_id: null,
                sku: null,
                weight: 0,
                in_stock: 0,
                price: 0,
                discount_price: 0,
                discount_from: null,
                discount_to: null,
                images: []
            }
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput, FormFileUpload, FormWyswygEditor, FormDateTimePicker, FrontendNumberInput, FormTags, FormDropZone, ImageLazy, CategoryTree, Price },
    methods: {
        addVariation () {
            this.model.variations.push(JSON.parse(JSON.stringify(this.variationTemplate)))
        },
        addImage (index, img) {
            this.model.variations[index].images.push({ url: img })
        },
        deleteVariation (index) {
            this.$delete(this.model.variations, index)
        }
    },
    created () {
    },
    mounted () {
    }
}
</script>
