<template>
    <ProductForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProductForm>
</template>

<script>
import ProductForm from './ProductForm'
import Product from './Product'

export default {
    name: 'ProductCreate',
    extends: Product,
    data () {
        return {
            model: {}
        }
    },
    components: { ProductForm },
    beforeMount: function () {
        this.handleCreate('product', this.url, {})

        this.getProduct()
    }
}
</script>
