<template>
    <ProductVariationForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></ProductVariationForm>
</template>

<script>
import ProductVariationForm from './ProductVariationForm'
import ProductVariation from './ProductVariation'

export default {
    name: 'ProductVariationEdit',
    extends: ProductVariation,
    data () {
        return {
            model: {}
        }
    },
    components: { ProductVariationForm },
    beforeMount: function () {
        this.handleUpdate('product-variation', this.url, {})

        this.getProductVariation()
    }
}
</script>
