<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="kt-form__body">
                    <FormSelect v-model="model.product_id"  :title="$t('Product')" v-if="model && model.selectables && model.selectables.product" :options="model.selectables.product"></FormSelect>
                    <FormSelect v-model="model.color_id"  :title="$t('Color')" v-if="model && model.selectables && model.selectables.color" :options="model.selectables.color"></FormSelect>
                    <FormInput v-model="model.pack_id"  :title="$t('Pack')"></FormInput>
                    <FormSelect v-model="model.type_id"  :title="$t('Type')" v-if="model && model.selectables && model.selectables.type" :options="model.selectables.type"></FormSelect>
                    <FormInput v-model="model.sku"  :title="$t('SKU')"></FormInput>
                    <FormInput v-model="model.weight"  :title="$t('Weight')"></FormInput>
                    <FormWyswygEditor v-model="model.info"  :title="$t('Info')"></FormWyswygEditor>
                    <FormInput v-model="model.in_stock"  :title="$t('In stock')"></FormInput>
                    <FormInput v-model="model.price"  :title="$t('Price')"></FormInput>
                    <FormInput v-model="model.discount_price"  :title="$t('Discount price')"></FormInput>
                    <FormDateTimePicker v-model="model.discount_from"  :title="$t('Discount start')"></FormDateTimePicker>
                    <FormDateTimePicker v-model="model.discount_to"  :title="$t('Discount until')"></FormDateTimePicker>
                    <FormFileUpload v-model="model.main_image"  :title="$t('main_image')" :options="{}"></FormFileUpload>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormDateTimePicker from '../../../../../../resources/js/components/form/FormDateTimePicker'

export default {
    name: 'ProductVariationForm',
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object,
            variations: {}
        },
        variationTemplate: {
            color_id: null,
            pack_id: null,
            type_id: null,
            sku: null,
            weight: 0,
            in_stock: 0,
            price: 0,
            discount_price: 0,
            discount_from: null,
            discount_to: null,
            images: {}
        }
    },
    data () {
        return {

        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    components: { FormSelect, FormInput, FormFileUpload, FormWyswygEditor, FormDateTimePicker },
    methods: {
        addVariation () {
            this.model.variations.push(this.variationTemplate)
        }
    },
    created () {},
    mounted () {}
}
</script>
