<template>
    <div>
        <BaseDatatable v-if="loaded" :multiple-actions="multipleAction" :module="`productvariation`" :apiurl="url" :list-url="`${url}/index`" :fields="fields"></BaseDatatable>
    </div>
</template>

<script>
import BaseDatatable from '../../../../../../resources/js/components/BaseDatatable'
export default {
    name: 'ProductVariationList',
    props: ['url'],
    components: { BaseDatatable },
    data () {
        return {
            loaded: true,
            multipleAction: {
                localStorageVariable: 'selectedProductVariation', // milyen local Storagebe rakja
                trackBy: 'id', // milyik oszlopot figyelje
                actions: [
                    {
                        name: this.$translate.t('Delete'),
                        trigger: 'bulkDelete'
                    }
                ]
            },
            apiurl: this.url,
            fields: [
                {
                    name: 'id',
                    sortField: 'id',
                    title: this.$translate.t('ID')
                },
                {
                    name: 'sku',
                    sortField: 'sku',
                    title: this.$translate.t('SKU')
                },
                {
                    name: 'main_image',
                    sortField: 'main_image',
                    title: this.$translate.t('main_image')
                },
                {
                    name: 'weight',
                    sortField: 'weight',
                    title: this.$translate.t('Weight')
                },
                {
                    name: 'in_stock',
                    sortField: 'in_stock',
                    title: this.$translate.t('In stock')
                },
                {
                    name: 'price',
                    sortField: 'price',
                    title: this.$translate.t('Price')
                },

                {
                    name: '__slot:actions',
                    title: this.$translate.t('Actions')
                }
            ]
        }
    }
}
</script>
