<template>
    <div class="form-group checkbox" v-bind:class="inputClass">
        <label v-if="title" v-html="title"></label>
        <div class="kt-checkbox-list">
            <label class="kt-checkbox" v-bind:class="{'is-invalid': hasError(name)}" v-for="(item, index) in options" v-bind:key="index">
                <input type="checkbox" v-bind:readonly="readonly" v-bind:disabled="disabled"  v-model="localValue" :value="index" ><div v-html="item"></div>
                <span></span>
            </label>
        </div>
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'

export default {
    name: 'FrontendCheckbox',
    extends: FormControl
}
</script>
