<template>
    <div class="form-group" v-bind:class="inputClass">
        <label  v-if="title">{{title}}</label>
        <input v-if="mask" v-bind:readonly="readonly" v-mask="mask" v-bind:disabled="disabled" :type="type" class="form-control" v-bind:class="{'is-invalid': hasError(name)}" v-bind:placeholder="placeholder" v-model="value" v-bind:id="id">
        <span class="form-text text-muted" v-if="helpText">{{helpText}}</span>
        <div class="invalid-feedback" v-for="message in filter(name)"
             v-bind:key="message">{{message}}
        </div>
    </div>
</template>

<script>
import FormControl from '../../../components/form/FormControl'
import { mask } from 'vue-the-mask'

export default {
    name: 'FormInput',
    extends: FormControl,
    directives: { mask }
}
</script>
