<template>
    <div class="mt-4 staggered-animation-wrap" v-if="slides">
        <div class="custom-container">
            <div class="row">
                <div class="offset-lg-3" v-bind:class="{'col-lg-7':right,'col-lg-9':!right}">
                    <div class="banner_section shop_el_slider">
                        <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
                            <div class="carousel-inner">
                                <div  v-for="(slider,index) in slides" v-bind:key="'slides-'+slider.id" v-bind:class="{'active':index == 0}" class="carousel-item background_bg" data-img-src="/frontend/images/banner13.jpg" :style="'background-image: url('+slider.image_path+');'">
                                    <div class="banner_slide_content banner_content_inner">
                                        <div class="col-lg-7 col-10">
                                            <div class="banner_content3 overflow-hidden">
                                                <h5 class="mb-3 staggered-animation font-weight-light animated slideInLeft" data-animation="slideInLeft" data-animation-delay="0.5s" >{{slider.name}}</h5>
                                                <h2 class="staggered-animation animated slideInLeft"  >{{slider.lead}}</h2>
                                                <router-link :to="slider.link" class="btn btn-fill-out btn-radius staggered-animation text-uppercase animated slideInLeft"  data-animation="slideInLeft" data-animation-delay="1.5s">{{slider.button_text}}</router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators indicators_style3">
                                <li data-target="#carouselExampleControls"  class="" v-for="(slider,index) in slides" v-bind:key="'slides-car-'+slider.id" v-bind:class="{'active':index == 0}" :data-slide-to="index"></li>

                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block" v-if="right">
                    <div class="shop_banner2 " v-for="(r,index) in right" v-bind:key="'right-'+index" v-bind:class="'el_banner'+(index+1)+''">
                        <router-link :to="r.link" class="hover_effect1">
                            <div class="el_title text_white">
                                <h6>{{r.title}}</h6>
                            </div>
                            <div class="el_img">
                                <ImageLazy :image="r.image"></ImageLazy>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from '../../../../../../../resources/js/components/Price'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
export default {
    name: 'Banner',
    components: { Price, ImageLazy },
    props: ['url', 'right'],
    data () {
        return {
            slides: null
        }
    },

    mounted () {
        this.getSlides()
    },
    methods: {
        getSlides () {
            return new Promise((resolve) => {
                this.axios.get(this.url + 'get-slides').then(response => {
                    this.slides = response.data.data
                    return resolve(true)
                })
            })
        }

    }
}
</script>

<style scoped>

</style>
