<template>
    <div class = "section pt-0 pb-0" v-if="deals">
        <div class = "custom-container">
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "heading_tab_header">
                        <div class = "heading_s2">
                            <h4>{{$t('Deal Of The Day')}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                    <div class = "deal_slider carousel_slider owl-carousel owl-theme nav_style3 ">
                        <ProductDeals v-for="deal in deals" v-bind:key="'deals-'+deal.id" :product="deal" :colors="colors"  :packs="packs" :types="types" ></ProductDeals>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductDeals from '../products/ProductDeals'
export default {
    name: 'Deal',
    props: ['url'],
    data () {
        return {
            deals: {},
            colors: {},
            types: {},
            packs: {}
        }
    },
    components: { ProductDeals },
    mounted () {
        this.getDeals().then(() => {
            window.$('.deal_slider').owlCarousel({
                loop: false,
                nav: false,
                dots: true,
                margin: 30,
                responsiveClass: true,
                responsive:
                    { 0: { items: '1' }, 650: { items: '2' }, 1199: { items: '2' } }
            })
        })
    },
    methods: {
        getDeals () {
            return new Promise((resolve) => {
                this.axios.get(this.url + 'get-deals').then(response => {
                    this.deals = response.data.data
                    this.colors = response.data.colors
                    this.types = response.data.types
                    this.packs = response.data.packs
                    return resolve(true)
                })
            })
        }
    }
}
</script>

<style scoped>

</style>
