<template>
    <div class = "product_slider carousel_slider owl-carousel owl-theme dot_style1" data-loop = "true" data-margin = "20" data-responsive = "">
        <ProductCarousel v-for="product in products" v-bind:key="'prod-'+name+'-'+product.id" :product="product" :colors="colors"  :packs="packs" :types="types"></ProductCarousel>
    </div>
</template>

<script>
import ProductCarousel from '../products/ProductCarousel'
export default {
    name: 'FeaturedCarousel',
    props: ['products', 'types', 'colors', 'packs', 'name'],
    methods: {

    },
    components: { ProductCarousel },
    mounted () {
    }
}
</script>

<style scoped>

</style>
