<template>
    <div class="section small_pt pb-0">
        <div class="custom-container">
            <div class="row">
                <div class="col-xl-3 d-none d-xl-block" v-if="big">
                    <div class="sale-banner">
                        <router-link class="hover_effect1" :to="big.link">
                            <ImageLazy :image="big.image"></ImageLazy>
                        </router-link>
                    </div>
                </div>
                <div  v-bind:class="{'col-xl-9':big,'col-xl-12':!big}">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading_tab_header">
                                <div class="heading_s2">
                                    <h4>{{$t('Exclusive Products')}}</h4>
                                </div>
                                <div class="tab-style2">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tabmenubar" aria-expanded="false">
                                        <span class="ion-android-menu"></span>
                                    </button>
                                    <ul class="nav nav-tabs justify-content-center justify-content-md-end" id="tabmenubar" role="tablist">
                                        <li class="nav-item" v-if="products.newArrival">
                                            <a class="nav-link active" id="arrival-tab" data-toggle="tab" data-target="#arrival" role="tab" aria-controls="arrival" aria-selected="true">{{$t('New Arrival')}}</a>
                                        </li>
                                        <li class="nav-item" v-if="products.bestSeller">
                                            <a class="nav-link"  id="sellers-tab" data-toggle="tab" data-target="#sellers" role="tab" aria-controls="sellers" aria-selected="false">{{$t('Best Sellers')}}</a>
                                        </li>
                                        <li class="nav-item" v-if="products.featured">
                                            <a class="nav-link"  id="featured-tab" data-toggle="tab" data-target="#featured" role="tab" aria-controls="featured" aria-selected="false"> {{$t('Featured')}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tab_slider" v-if="products">
                                <div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                                   <FeaturedCarousel v-if="products.newArrival" :products="products.newArrival" :colors="colors" :name="'new-arrival'" :packs="packs" :types="types"></FeaturedCarousel>
                                </div>
                                <div class="tab-pane fade" id="sellers" role="tabpanel" aria-labelledby="sellers-tab">
                                    <FeaturedCarousel v-if="products.bestSeller" :products="products.bestSeller" :colors="colors" :name="'best-seller'" :packs="packs" :types="types"></FeaturedCarousel>
                                </div>
                                <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                    <FeaturedCarousel v-if="products.featured" :products="products.featured" :colors="colors" :name="'featured'" :packs="packs" :types="types"></FeaturedCarousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FeaturedCarousel from './FeaturedCarousel'
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
export default {
    name: 'Feature',
    props: ['url', 'big'],
    components: { FeaturedCarousel, ImageLazy },
    data () {
        return {
            products: {
                exclusive: {},
                bestSeller: {},
                featured: {}
            },
            colors: {},
            packs: {},
            types: {}
        }
    },
    beforeMount () {
        this.getExclusiveProducts().then(() => {
            window.$('.product_slider').owlCarousel({
                loop: false,
                nav: false,
                dots: true,
                margin: 20,
                responsiveClass: true,
                responsive:
                    { 0: { items: '1' }, 481: { items: '2' }, 768: { items: '3' }, 991: { items: '4' } }
            })
            window.$('.product_slider_sub').owlCarousel({
                loop: false,
                nav: false,
                dots: true,
                margin: 20,
                responsiveClass: true,
                responsive:
                    { 0: { items: '2' }, 481: { items: '2' }, 768: { items: '2' }, 991: { items: '2' } }
            })
        })
    },
    methods: {
        getExclusiveProducts () {
            return new Promise((resolve) => {
                this.axios.get(this.url + 'get-exclusive-products').then(response => {
                    this.products.newArrival = response.data.newArrival
                    this.products.bestSeller = response.data.bestSeller
                    this.products.featured = response.data.featured
                    this.colors = response.data.colors
                    this.types = response.data.types
                    this.packs = response.data.packs
                    return resolve(true)
                })
            })
        }
    }
}
</script>

<style scoped>

</style>
