
<script>
import Webshop from '../Webshop'
import Banner from './Banner'
import Feature from './Feature'

export default {
    name: 'Home',
    components: { Feature, Banner },
    data () {
        return {
            right: null,
            big: null,
            bottom: null
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    extends: { Webshop },
    created () {
        const self = this
        this.$eventHub.$on('changeCurrencyOrLanguage', function (currency) {
            self.firstNav = true
            self.getHomeProduct()
        })
        self.getHomeProduct()
    },
    methods: {
        getHomeProduct () {
            const self = this
            self.axios.get(self.url + 'get-banners').then((resp) => {
                self.right = resp.data.right
                self.big = resp.data.big
                self.bottom = resp.data.bottom
            })
        }

    }
}
</script>

<style scoped>

</style>
