<template>
    <div class="section pb_20 small_pt">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-4" v-for="b in bottom" v-bind:key="'bottom-'+b.id">
                    <div class="sale-banner mb-3 mb-md-4">
                        <router-link class="hover_effect1" :to="b.link">
                            <ImageLazy :image="b.image"></ImageLazy>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ImageLazy from '../../../../../../../resources/js/components/ImageLazy'
export default {
    name: 'ThreeCol',
    props: ['bottom'],
    components: { ImageLazy }
}
</script>

<style scoped>

</style>
