<template>
    <div class = "product_wrap">
        <div class = "product_img">
            <router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">
                <ImageLazy  :image = "selectedVariation.main_image" alt = "el_img9"></ImageLazy>
                <ImageLazy  v-if="selectedVariation.sec_image" class = "product_hover_img" :image = "selectedVariation.sec_image" alt = "el_img9"></ImageLazy>
            </router-link>
        </div>
        <div class = "product_info">
            <h6 class = "product_title"><router-link :to="{name:'ProductDetails',params:{slug: product.slug}}">{{product.name}}
                <span v-if="getColor(selectedVariation.color_id)">{{getColor(selectedVariation.color_id).name}}</span>
                <span v-if="getPack(selectedVariation.pack_id)">{{getPack(selectedVariation.pack_id).name}}</span>
                <span v-if="getType(selectedVariation.type_id)">{{getColor(selectedVariation.type_id).name}}</span>
            </router-link></h6>
            <div class = "product_price" v-if="selectedVariation.price">
                <span class = "price" ><Price :value="selectedVariation.price.toString(2)"></Price></span>
                <del v-if="selectedVariation.price< selectedVariation.price_default"><Price :value="selectedVariation.price_default.toString(2)"></Price></del>
                <div class = "on_sale" v-if="selectedVariation.percent">
                    <span>-{{selectedVariation.percent}}%</span>
                </div>
            </div>
            <div class = "rating_wrap">
                <div class = "rating_wrap" v-if="product.rating_count >0">
                    <div class = "rating">
                        <Rating :rate = "product.rating_avg"></Rating>
                    </div>
                    <span class = "rating_num">({{product.rating_count}})</span>
                </div>
                <div v-else style="height:25px"></div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductCarousel from '../products/ProductCarousel'
export default {
    name: 'ThreeColItem',
    extends: ProductCarousel,
    methods: {
        selectVariation (id) {
            if (this.product.variations) {
                for (let i = 0; i < this.product.variations.length; i++) {
                    if (this.product.variations[i].id === id || this.product.variations[i].price < this.product.variations[i].price_default) {
                        this.selectedVariation = this.product.variations[i]
                        return null
                    }
                }
                this.selectedVariation = this.product.variations[0]
            }
            return null
        }
    }
}
</script>

<style scoped>

</style>
