<template>
    <div class = "section pt-0 pb_20">
        <div class = "custom-container">
            <div class = "row">
                <div class = "col-lg-4">
                    <div class = "row">
                        <div class = "col-12">
                            <div class = "heading_tab_header">
                                <div class = "heading_s2">
                                    <h4>{{$t('Featured Products')}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-12">
                            <div class = "three-column carousel_slider product_list owl-carousel owl-theme nav_style5" >
                                <div v-for="(news,index1) in products.news"  v-bind:key="'first'+index1" class = "item">
                                      <ThreeColItem v-for="(f,index2)  in news" v-bind:key="'first-item'+index2" :product="f" :colors="colors"  :packs="packs" :types="types"></ThreeColItem>
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
                <div class = "col-lg-4">
                    <div class = "row">
                        <div class = "col-12">
                            <div class = "heading_tab_header">
                                <div class = "heading_s2">
                                    <h4>{{$t('Top Rated Products')}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-12">

                                <div class = "three-column carousel_slider product_list owl-carousel owl-theme nav_style5" >
                                    <div v-for="(topRated,index1) in products.topRated"  v-bind:key="'sec'+index1" class = "item">
                                        <ThreeColItem v-for="(r,index2)  in topRated" v-bind:key="'sec-item'+index2" :product="r" :colors="colors"  :packs="packs" :types="types"></ThreeColItem>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class = "col-lg-4">
                    <div class = "row">
                        <div class = "col-12">
                            <div class = "heading_tab_header">
                                <div class = "heading_s2">
                                    <h4>{{$t('On Sale Products')}}</h4>
                                </div>
                                <div class = "view_all">
                                    <a href = "https://bestwebcreator.com/shopwise/demo/index-5.html#" class = "text_default"><span>{{$t('View All')}}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-12">
                                <div class = "three-column carousel_slider product_list owl-carousel owl-theme nav_style5" >
                                    <div v-for="(onSale,index1) in products.onSale"  v-bind:key="'theard'+index1" class = "item">
                                        <ThreeColItem v-for="(o,index2)  in onSale" v-bind:key="'theard-item'+index2" :product="o" :colors="colors"  :packs="packs" :types="types"></ThreeColItem>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
import ThreeColItem from './ThreeColItem'
export default {
    name: 'ThreeColProducts',
    components: { ThreeColItem },
    props: ['url'],
    data () {
        return {
            products: {
                news: {},
                topRated: {},
                onSale: {}
            },
            colors: {},
            packs: {},
            types: {}
        }
    },
    beforeMount () {
        this.getExclusiveProducts().then(() => {
            window.$('.three-column').owlCarousel({
                loop: true,
                nav: false,
                dots: true,
                margin: 20,
                responsiveClass: true,
                responsive:
                    { 0: { items: '1' }, 380: { items: '1' }, 640: { items: '2' }, 991: { items: '1' } }
            })
        })
    },
    methods: {
        getExclusiveProducts () {
            return new Promise((resolve) => {
                this.axios.get(this.url + 'get-three-coll').then(response => {
                    this.products.news = response.data.news
                    this.products.topRated = response.data.topRated
                    this.products.onSale = response.data.onSale
                    this.colors = response.data.colors
                    this.types = response.data.types
                    this.packs = response.data.packs
                    return resolve(true)
                })
            })
        }
    }

}
</script>

<style scoped>

</style>
