<template>
    <TypeForm v-if="Object.keys(model).length > 0" :url="url" :model="model"></TypeForm>
</template>

<script>
import TypeForm from './TypeForm'
import Type from './Type'

export default {
    name: 'TypeCreate',
    extends: Type,
    data () {
        return {
            model: {}
        }
    },
    components: { TypeForm },
    beforeMount: function () {
        this.handleCreate('type', this.url, {})

        this.getType()
    }
}
</script>
