<template>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-form kt-form--label-right">
                        <div class="kt-form__body">
                            <div class="row">
                                <div class="col-md-8" v-if="languages.length > 0">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" v-for="(item, index) in languages" v-bind:key="'lang-'+index">
                                            <a class="nav-link" v-bind:class="{'active' : index === 0}" :id="index+'-tab-label'" data-toggle="tab" :href="'#tab-'+index" role="tab" :aria-controls="index+'-tab'" aria-selected="true">{{item}}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" v-bind:class="{'show active' : index === 0}" :id="'tab-'+index" role="tabpanel" :aria-labelledby="index+'-tab-label'" v-for="(item, index) in languages" v-bind:key="'lang-tab-'+index">
                                            <FormInput v-model="model.name[item]" :lang="item" :title="$t('Name')"></FormInput>
                                            <FormInput v-model="model.slug" :title="$t('Url')" v-on:keyupEvent="setSlugEditSlug(item)"></FormInput>
                                            <a :href="fullUrl(item)">{{fullUrl(item)}}</a>
                                            <hr/>
                                            <FormInput v-model="model.meta_title[item]" :lang="item" :title="$t('Meta Title')"></FormInput>
                                            <FormTextArea v-model="model.meta_description[item]" :lang="item" :title="$t('Meta Description')"></FormTextArea>
                                            <FormSelect v-model="model.component_name[item]" :lang="item" :title="$t('Vue Component')" :options="components" v-if="Object.keys(components).length > 0"></FormSelect>
                                            <FormWyswygEditor v-if="model.component_name[item] === null" :lang="item" v-model="model.content[item]" :title="$t('Content')"></FormWyswygEditor>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <FormFileUpload v-model="model.og_image" :title="$t('og:image')"></FormFileUpload>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormInput from '../../../../../../resources/js/components/form/FormInput'
import FormTextArea from '../../../../../../resources/js/components/form/FormTextArea'
import FormCheckbox from '../../../../../../resources/js/components/form/FormCheckbox'
import FormWyswygEditor from '../../../../../../resources/js/components/form/FormWyswygEditor'
import FormFileUpload from '../../../../../../resources/js/components/form/FormFileUpload'
import FormSelect from '../../../../../../resources/js/components/form/FormSelect'

export default {
    name: 'PageForm',
    data () {
        return {
            components: [],
            slugEditable: {}
        }
    },
    props: {
        url: {
            required: true,
            type: String
        },
        model: {
            required: true,
            type: Object
        }
    },
    computed: {
        languages: function () {
            const l = []
            for (const it in this.$store.state.defaultStore.languages) {
                l.push(it)
            }
            return l
        }
    },
    beforeMount () {
        this.axios.get(`${this.url}/get-components`).then((response) => {
            this.components = response.data.files
        })
    },
    components: { FormSelect, FormFileUpload, FormWyswygEditor, FormCheckbox, FormTextArea, FormInput },
    methods: {
        fullUrl: function (_lang) {
            if (this.model.slug[_lang] === null) {
                return `${process.env.MIX_APP_URL}/`
            }
            return `${process.env.MIX_APP_URL}/${this.model.slug[_lang]}`
        },
        setSlugEditSlug (_lang) {
            const self = this
            setTimeout(function () {
                self.model.slug = self.sanitizeTitle(self.model.slug)
            }, 500)
        }
    }
}
</script>
