<template>
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                                <h3 class="kt-section__title kt-section__title-sm">{{$t('User info')}}:</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Avatar')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <FormFileUpload v-model="model.avatar" :type="'image'"></FormFileUpload>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('First Name')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <input class="form-control" type="text" v-model="model.firstname" v-bind:class="{'is-invalid': hasError('firstname')}">
                                <div class="invalid-feedback" v-for="message in filter('firstname')"
                                     v-bind:key="message">{{message}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Last Name')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <input class="form-control" type="text" v-model="model.lastname" v-bind:class="{'is-invalid': hasError('lastname')}">
                                <div class="invalid-feedback" v-for="message in filter('lastname')"
                                     v-bind:key="message">{{message}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Email Address')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                    <input type="text" class="form-control" v-model="model.email" :placeholder="$t('Email')" aria-describedby="basic-addon1" autocomplete="false" v-bind:class="{'is-invalid': hasError('email')}">
                                    <div class="invalid-feedback" v-for="message in filter('email')"
                                         v-bind:key="message">{{message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Email verified?')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div class="kt-checkbox-single" v-if="model.email_verified_at == null">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" v-model="model.email_verification"> {{$t('Verifiy Email')}}
                                        <span></span>
                                    </label>
                                </div>
                                <i class="flaticon2-check-mark" v-if="model.email_verified_at != null"></i>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Previous orders')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="number" v-model="model.previous_orders_total">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Shop orders')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="number" readonly v-model="model.shop_orders_total">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Webshop orders')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="number" readonly v-model="model.webshop_orders_total">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">{{$t('Total orders')}}</label>
                            <div class="col-lg-9 col-xl-6">
                                <div>
                                    <input class="form-control" type="number" readonly v-model="model.sum_orders_total">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FormFileUpload from '../../../../../../../resources/js/components/form/FormFileUpload'

export default {
    name: 'Profile',
    components: { FormFileUpload },
    props: ['model', 'url'],
    methods: {
        fileUpload (event) {
            this.model.avatar = event.path
        }
    }
}
</script>
