<template>
    <div class="kt-portlet">
        <div class="kt-portlet__body  kt-portlet__body--fit">
            <div class="row row-no-padding row-col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-3">

                    <!--begin::Total Profit-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    {{$t('Total Profit')}}
                                </h4>
                                <span class="kt-widget24__desc">{{$t('All currencies')}}</span>
                            </div>
                        </div>
                        <div class="kt-widget24__action row mt-4" style="font-size: 22px !important;">
                            <template v-for="(item, index) in response.tp">
                                <div class="col" v-bind:key="'tp-' + index">
                                    <span class="kt-widget24__stats kt-font-brand">{{item}}</span>
                                </div>
                            </template>
                        </div>
                    </div>

                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">

                    <!--begin::New Feedbacks-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    {{$t('Stock quantity')}}
                                </h4>
                                <span class="kt-widget24__desc">
                                    {{$t('Quantity summary of all stocks')}}
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-warning">
                                {{response.stocks}}
                            </span>
                        </div>
                    </div>

                    <!--end::New Feedbacks-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">

                    <!--begin::New Orders-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    {{$t('New Orders')}}
                                </h4>
                                <span class="kt-widget24__desc">
                                    {{$t('Fresh Order Amount')}}
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-danger">
                                {{response.new_orders}}
                            </span>
                        </div>
                        <div class="progress progress--sm">
                            <div class="progress-bar kt-bg-danger" role="progressbar" :style="`width: ${response.change_orders}%`"
                                 :aria-valuenow="response.change_orders" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="kt-widget24__action">
                            <span class="kt-widget24__change">
                                {{$t('Change')}}
                            </span>
                            <span class="kt-widget24__number">
                                {{response.change_orders}}%
                            </span>
                        </div>
                    </div>

                    <!--end::New Orders-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">

                    <!--begin::New Users-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    {{$t('New Users')}}
                                </h4>
                                <span class="kt-widget24__desc">
                                    {{$t('Joined New User')}}
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-success">
                                {{response.new_users}}
                            </span>
                        </div>
                        <div class="progress progress--sm">
                            <div class="progress-bar kt-bg-success" role="progressbar" :style="`width: ${response.change_users}%;`"
                                 :aria-valuenow="response.change_users" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="kt-widget24__action">
                            <span class="kt-widget24__change">
                                {{$t('Change')}}
                            </span>
                            <span class="kt-widget24__number">
                                {{response.change_users}}%
                            </span>
                        </div>
                    </div>

                    <!--end::New Users-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['response']
}
</script>
