<template>
    <div class="custom-dropdown" id="cat_fieldset_front" >
    <div class="dropdown-toggle input-group"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <input type="text" v-model="searchField" class="form-control form-control-sm" :placeholder="$t('Search category')" />
    </div>
    <div class="dropdown-menu">
        <ul>
            <li v-if="!filteredOptions || !filteredOptions.length">{{$t('Note found')}}</li>
            <li class="kt-checkbox-list" v-for="(item, index) in filteredOptions" v-bind:key="'cate-search'+index">
               <router-link :to="{name:'ProductList',params:{category:item.slug}}" v-on:click.native="searchField=item.name;triggerSearch()">{{item.name}}
                        <ul v-for="(item2, index2) in filteredOptions[index].children" v-bind:key="index2">
                            <li class="kt-checkbox-list" v-if="filteredOptions[index].children.length > 0"  v-bind:key="'cate-search'+index+'-'+index2">
                                <router-link :to="{name:'ProductList',params:{category:item2.slug}}"  v-on:click.native.stop="searchField=item2.name;triggerSearch()">{{item2.name}}</router-link>
                            </li>
                        </ul>
               </router-link>
            </li>
        </ul>
    </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import CategoryTree from '../../../../../../../Blog/Resources/assets/js/components/CategoryTree'
export default {
    name: 'CategorySearch',
    date () {
        return {
            searchField: null
        }
    },
    methods: {
        triggerSearch () {
            this.$emit('triggerSearch')
        }
    },
    extends: CategoryTree,
    components: { FrontendInput }
}
</script>

<style >
    #cat_fieldset_front{
        margin-right:10px
    }
    .sort-search{
        margin-right: 10px;
    }
    #cat_fieldset_front ul {
        margin-left: 10px;
        list-style: none;
    }
    #cat_fieldset_front .dropdown-toggle::after{
        content: none !important;
    }
</style>
