<template>
    <ul v-bind:class="filterItem.class">
        <li class="list-item " data-color="black"  v-for="(attr,index) in filterItem.availableAttributes" v-bind:key="filterItem.col_slug+'-'+index"
            v-bind:class="{'selected': checkedList.includes(index)}" v-on:click.stop.prevent="selectAttribute(attr,index)"  v-bind:style="getColorStyle(index)" v-bind:data-attr="filterItem.attributesExtra[index]">
            {{ attr }}
        </li>
    </ul>
</template>

<script>
export default {
    name: 'CheckList',
    props: ['filterItem'],
    data () {
        return {
            checkedList: []
        }
    },
    watch: {
        filterItem: {
            handler: function (val) {
                this.loadSelected(val.selectedAttributes)
            }
        }
    },

    beforeMount () {
        this.loadSelected(this.filterItem.selectedAttributes)
    },
    methods: {
        selectAttribute (attr, index) {
            if (this.checkedList.includes(index)) {
                this.checkedList.forEach((item, i) => {
                    if (item === index) {
                        this.$delete(this.checkedList, i)
                    }
                })
            } else {
                this.checkedList.push(index)
            }
            this.$emit('changeAttribute', this.checkedList)
        },
        loadSelected (val) {
            this.checkedList = val
        },
        getColorStyle (index) {
            if (this.filterItem.class === 'color') {
                return 'background-color:' + ((this.filterItem.attributesExtra[index]) ? this.filterItem.attributesExtra[index] : '#ffffff')
            }
            return ''
        }
    }
}
</script>
