<template>
    <div v-bind:class="filterItem.class">
        <FrontendRadio v-on:change="changeSelect($event)" v-model="defaultValue" :options="filterItem.availableAttributes"></FrontendRadio>
    </div>
</template>

<script>
import FrontendRadio from '../../../../../../../../resources/js/frontend/components/form/FrontendRadio'
export default {
    name: 'RadioList',
    props: ['filterItem'],
    components: { FrontendRadio },
    data () {
        return {
            defaultValue: []
        }
    },

    watch: {
        filterItem: {
            handler: function (val) {
                this.loadSelected(val.selectedAttributes)
            },
            deep: true
        }
    },

    beforeMount () {
        this.loadSelected(this.filterItem.selectedAttributes)
    },
    methods: {
        loadSelected (val) {
            this.defaultValue = val
        },
        changeSelect (event) {
            if (!this.defaultValue) {
                this.$emit('changeAttribute', '')
            } else {
                this.$emit('changeAttribute', this.defaultValue)
            }
        }
    }
}
</script>
