<template>
    <div class="price">
        <div class="min-max-container">
            {{min}} - {{max}}
        </div>
        <range-slider
            class="price-slider"
            :min="0"
            :max="100000"
            step="1"
            v-model="sliderValue">
        </range-slider>
        <div class="value">
            {{sliderValue}}<br>
            <button class="btn btn-primary btn-xs" v-on:click="saveChange()">Submit</button>
        </div>
    </div>
</template>

<script>
import RangeSlider from 'vue-range-slider'
import 'vue-range-slider/dist/vue-range-slider.css'
export default {
    name: 'Range',
    props: ['min', 'max', 'value'],
    data () {
        return {
            sliderValue: 0
        }
    },
    beforeMount () {
        this.loadPrice(this.value)
    },
    watch: {
        value: {
            handler: function (val) {
                this.loadPrice(val)
            },
            deep: true
        }
    },
    methods: {
        saveChange () {
            this.$emit('changeAttribute', this.sliderValue)
        },
        loadPrice (val) {
            this.sliderValue = val
        }
    },
    components: {
        RangeSlider
    }

}
</script>

<style scoped>
    .price-slider {
        /* overwrite slider styles */
        width: 100%;
    }
</style>
