<template>
    <article>
        <header class="card-header">
            <a href="#" data-toggle="collapse" data-target="#collapse_sets" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">{{$t('Products')}}</h6>
            </a>
        </header>
        <div class="filter-content collapse show" id="collapse_sets">
            <div class="card-body">
                <label class="custom-control custom-checkbox" v-for="set in sets.sets" v-bind:key="'set'+set.id">
                    <input type="checkbox" v-on:change="selectVal(set.id)" :checked="selectedSets.includes(set.id.toString())"  :value="set.id" class="custom-control-input">
                    <div class="custom-control-label">{{set.name[pageLanguage]}}</div>
                </label>
            </div>
        </div>
    </article>
</template>

<script>

export default {
    name: 'Sets',
    props: ['sets'],
    data () {
        return {
            selectedSets: []
        }
    },
    created () {
        this.selectedSets = this.sets.selected
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        }
    },
    computed: {
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    methods: {
        selectVal (val) {
            if (this.selectedSets.includes(val.toString())) {
                this.selectedSets.forEach((item, i) => {
                    if (item === val.toString()) {
                        this.$delete(this.selectedSets, i)
                    }
                })
            } else {
                this.selectedSets.push(val.toString())
            }
            this.$emit('changeSet', this.selectedSets)
        }
    }
}
</script>
