<template>
    <div class="tab-pane fade show" id="v-pills-billing" role="tabpanel" aria-labelledby="v-pills-billing-tab">
        <div class="row">
            <div class="col-md-6">
                <h2>{{$t('Billing address')}}</h2>

                <FrontendInput v-model="profile.billing.name" :title="$t('Name / Company name')" :placeholder="$t('Name / Company name')"></FrontendInput>
                <FrontendInput v-model="profile.billing.country" :title="$t('Country')"></FrontendInput>
                <FrontendInput v-model="profile.billing.zip" :title="$t('Zip')" :placeholder="$t('Zip')"></FrontendInput>
                <FrontendInput v-model="profile.billing.city" :title="$t('City')" :placeholder="$t('City')"></FrontendInput>
                <FrontendInput v-model="profile.billing.address" :title="$t('Address')" :placeholder="$t('Address')"></FrontendInput>
                <FrontendInput v-model="profile.billing.vat_number" :title="$t('Tax number')" :placeholder="$t('Tax number')"></FrontendInput>
                <button type="button" @click="updateProfile()" class="btn btn-outline-primary">{{$t('Save')}}</button>
            </div>
            <div class="col-md-6">
                <h2>{{$t('Shipping address')}}</h2>

                <FrontendInput v-model="profile.shipping.name" :title="$t('Name')" :placeholder="$t('Name / Company name')"></FrontendInput>
                <FrontendInput v-model="profile.shipping.country" :title="$t('Country')"></FrontendInput>
                <FrontendInput v-model="profile.shipping.zip" :title="$t('Zip')" :placeholder="$t('Zip')"></FrontendInput>
                <FrontendInput v-model="profile.shipping.city" :title="$t('City')" :placeholder="$t('City')"></FrontendInput>
                <FrontendInput v-model="profile.shipping.address" :title="$t('Address')" :placeholder="$t('Address')"></FrontendInput>
                <button type="button" @click="updateProfile()" class="btn btn-outline-primary">{{$t('Save')}}</button>
            </div>
        </div>
    </div>
</template>

<script>
import PersonalData from './PersonalData'

export default {
    name: 'InvoiceAndShipping',
    extends: PersonalData
}
</script>
