<template>
    <div class="tab-pane fade show profile-billing" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
        <h2>{{$t('My orders')}}</h2>
        <LoadingSvg v-if="!loaded"></LoadingSvg>
        <table v-if="loaded" class="table table-shopping-cart">
            <thead>
            <tr>
                <th>Azonosító</th>
                <th>Állapot</th>
                <th>Végösszeg</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(order,index) in orders" v-bind:key="'orders-'+order.id+'-'+index">
                    <td colspan="4">
                        <a data-toggle="collapse" :href="'#collapse'+order.id">
                        <div class="row" >
                            <div class="col-4"><h3>#{{order.id}}</h3></div>
                            <div class="col-4">{{order.order_status_name}}</div>
                            <div class="col-4"><h5>{{order.order_total}}</h5></div>
                        </div>
                        </a>

                        <div :id="'collapse'+order.id" class="panel-collapse collapse in">
                            <article class="card-group">
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h5 class="card-title">{{$t('Shipping')}}</h5>
                                        <dl class="row">
                                            <dt class="col-sm-3">{{$t('Name')}}</dt>
                                            <dd class="col-sm-9">{{order.shipping_name}}</dd>
                                            <dt class="col-sm-3">{{$t('Country')}}</dt>
                                            <dd class="col-sm-9">{{order.shipping_country}}</dd>
                                            <dt class="col-sm-3">{{$t('Address')}}</dt>
                                            <dd class="col-sm-9">{{order.shipping_zip}},{{order.shipping_city}} {{order.shipping_address}}</dd>
                                            <dt class="col-sm-3">{{$t('Phone')}}</dt>
                                            <dd class="col-sm-9">{{order.phone}}</dd>
                                            <dt class="col-sm-3">{{$t('Email')}}</dt>
                                            <dd class="col-sm-9">{{order.email}}</dd>
                                            <dt class="col-sm-3">{{$t('Shipment')}}</dt>
                                            <dd class="col-sm-9">{{order.shipment_name}}</dd>
                                        </dl>
                                    </div>
                                </figure>
                                <figure class="card bg">
                                    <div class="p-3">
                                        <h5 class="card-title">{{$t('Billing')}}</h5>
                                        <dl class="row">
                                            <dt class="col-sm-3">{{$t('Name')}}</dt>
                                            <dd class="col-sm-9">{{order.billing_name}}</dd>
                                            <dt class="col-sm-3">{{$t('Country')}}</dt>
                                            <dd class="col-sm-9">{{order.billing_country}}</dd>
                                            <dt class="col-sm-3">{{$t('Address')}}</dt>
                                            <dd class="col-sm-9">{{order.billing_zip}},{{order.billing_city}} {{order.billing_address}}</dd>
                                            <dt class="col-sm-3">{{$t('Payment type')}}</dt>
                                            <dd class="col-sm-9">{{order.payment_name}}</dd>
                                            <dt class="col-sm-3">{{$t('Tax')}}</dt>
                                            <dd class="col-sm-9">{{order.vat_number}}</dd>
                                        </dl>
                                    </div>
                                </figure>
                            </article>
                            <hr/>
                            <div class="">
                                <h5 class="card-title">{{$t('Products')}}</h5>
                                <div class="row">
                                </div>
                                <div class="row profile-product-row" v-for="item in order.items" v-bind:key="'order-item-'+order.id+'-'+item.id">
                                    <div class="col-md-7">
                                        <figure class="itemside">
                                            <div class="aside" v-if="item.variation.images"><ImageLazy :image="item.variation.images[0].image_path" :className="'img-sm'"></ImageLazy></div>
                                            <figcaption class="info">
                                                {{item.product_name}}<br>
                                                <p class="text-muted small">{{item.variation.sku}}<br> {{getProductAttributesAsString(item.variation.attributes)}}</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-md-1">{{item.quantity}}</div>
                                    <div class="col-md-2">{{item.gross_value}}</div>
                                    <div class="col-md-2">{{item.total}}</div>
                                </div>
                                <div class="row profile-product-row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2 text-success"><b>{{$t('Total')}}</b></div>
                                    <div class="col-md-2 text-success"><b>{{order.order_total}}</b></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <Pagination v-if="loaded && meta && meta.current_page" v-on:pageChange="pageChange($event)" :meta="meta" :links="links"></Pagination>
    </div>
</template>

<script>
import Pagination from '../../products/Pagination'
import ImageLazy from '../../../../../../../../resources/js/components/ImageLazy'
import LoadingSvg from '../../LoadingSvg'
export default {
    name: 'Orders',
    components: { LoadingSvg, ImageLazy, Pagination },
    data () {
        return {
            orders: {},
            meta: null,
            links: null,
            attributes: null,
            page: 1,
            loaded: false
        }
    },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        },
        pageLanguage: function () {
            return this.$store.state.defaultStore.pageLanguage
        }
    },
    created () {
        this.getMyOrder()
    },
    watch: {
        '$store.state.defaultStore.pageLanguage': {
            handler: function (val, oldVal) {
            }
        }
    },
    methods: {
        getMyOrder () {
            this.loaded = false
            this.axios.get(this.url + 'orders/my-orders?page=' + this.page).then((response) => {
                this.orders = response.data.data
                this.meta = response.data.meta
                this.links = response.data.links
                this.attributes = response.data.attributes
                this.loaded = true
            })
        },
        pageChange (page) {
            this.page = page
            this.getMyOrder()
        },
        getProductAttributesAsString (attribute) {
            const attributeStr = []
            for (let i = 0; i < this.attributes.length; i++) {
                const itAttr = this.attributes[i]
                console.log(attribute[itAttr.col_slug])
                if (attribute[itAttr.col_slug]) {
                    for (let j = 0; j < itAttr.values.length; j++) {
                        if (itAttr.values[j].id.toString() === attribute[itAttr.col_slug].toString()) {
                            attributeStr.push(itAttr.name[this.pageLanguage] + ': ' + itAttr.values[j].name[this.pageLanguage])
                        }
                    }
                }
            }
            return attributeStr.join(', ')
        }
    }
}
</script>
