<template>
    <div class="tab-pane fade show" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
        <div class="row">
            <div class="col-md-6">
                <h2>{{$t('Change password')}}</h2>
                <p>{{$t('The password must be at least 8 characters long and must contain lowercase, uppercase letters, numbers and special characters!')}}</p>

                <FrontendInput v-model="model.password" :type="'password'" :placeholder="$t('Password')" :title="$t('Password')"></FrontendInput>
                <FrontendInput v-model="model.password_confirm" :type="'password'" :placeholder="$t('Password confirm')" :title="$t('Password confirm')"></FrontendInput>

                <button type="button" @click="changePassword()" class="btn btn-primary btn-block">{{$t('Change')}}
                </button>
            </div>
        </div>

    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'

export default {
    name: 'PasswordChange',
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    data () {
        return {
            model: {
                password: null,
                password_confirm: null
            }

        }
    },
    components: { FrontendInput },
    methods: {
        changePassword () {
            this.axios.put(this.url + 'user/change-password', this.model).then((response) => {
                this.model = {
                    password: null,
                    password_confirm: null
                }
            })
        }
    }
}
</script>
