<template>
    <div class="tab-pane fade show active" id="v-pills-personal" role="tabpanel" aria-labelledby="v-pills-personal-tab">
        <div class="row">
            <div class="col-md-6">
                <h2>{{$t('Personal data')}}</h2>
                <FrontendInput v-model="profile.name" :title="$t('Name')" :placeholder="$t('Name')"></FrontendInput>
                <FrontendInput v-model="profile.email" :title="$t('Email')" :placeholder="$t('Email')"></FrontendInput>
                <FrontendMask v-model="profile.phone" :placeholder="$t('Phone')" :title="$t('Phone')" :mask="['+36(##)-###-####','+36(#)-###-####']"></FrontendMask>
                <button type="button" @click="updateProfile()" class="btn btn-outline-primary">{{$t('Save changes')}}</button>
                </div>

            <div class="col-md-6">
                <button class=" btn btn-outline-danger pull-right" v-on:click="deleteProfile()">{{$t('Delete profile')}}</button>
            </div>
        </div>
    </div>
</template>

<script>
import FrontendInput from '../../../../../../../../resources/js/frontend/components/form/FrontendInput'
import FrontendMask from '../../../../../../../../resources/js/frontend/components/form/FrontendMask'
export default {
    name: 'PersonalData',
    components: { FrontendInput, FrontendMask },
    computed: {
        url: function () {
            return `${process.env.MIX_APP_URL}/api/${process.env.MIX_API_VERSION}/`
        }
    },
    props: ['profile'],
    methods: {
        updateProfile () {
            this.axios.put(this.url + 'user/update-profile', this.profile).then((response) => {
                this.$store.commit('defaultStore/setUser', response.data.data)
            })
        },
        deleteProfile () {
            const self = this
            swal.fire({
                title: this.$t('Are you sure?'),
                text: this.$t('You won\'t be able to revert this!'),
                type: 'warning',
                showCancelButton: !0,
                confirmButtonText: this.$t('Yes, delete it!'),
                cancelButtonText: this.$t('No, cancel!'),
                reverseButtons: !0
            }).then(function (e) {
                if (e.value) {
                    self.axios.delete(self.url + 'user/delete-profile').then((response) => {
                        self.$router.push({ name: 'Logout' })
                    })
                }
            })
        }
    }
}
</script>
